.box {
    margin: auto
}

#div1 {
    display: grid;
    gap: 5px;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    color :white
}