body{height: 100vh;


display: flex;
justify-content: center;
align-items: center;




.wrapper{


    .box{
        display: flex;
        margin: 5px;
        background-color: rgba(0, 38, 255, 0.781);
        height: 100px;
        width: 100px;
        border-radius: 5px;
       
    }
}








}