/* Style the header */
.header {
  padding: 16px;
    background: rgb(255, 255, 255);
    color: #f1f1f1;
    width: 200px;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  .fa-plus-square {
      color: black;
      padding: 5px;
      font-size: 30px;
  }

  .fa-heart {
    color: black;
    padding: 5px;
    font-size: 30px;
}

.fa-facebook-messenger {
    color: black;
    padding: 5px;
    size: 20px;
    font-size: 30px;
}

.container {
    display: inline-block;
    position: relative;
}

p {font-size: xx-large;}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  padding: 30px;
}
