.container img{
    color: lawngreen;
    margin-left: 600px;
}
.username{
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin: auto;
    border-style: solid;
    border-color: #00000015;
    border-width: 0.5px;
}
.username h1{
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-left: 13px;
    margin-top: 8px;
  
}

.username i{
    padding-left: 420px;
    padding-top: 10px;
}
.wrapper i{
    padding: 9px;
    font-size: 20px;
    
}

.wrapper{
    width: 600px;
    margin: auto;

}

.wrapper img{
    width: 100%;
}
.wrapper h1{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: lighter;
}
.wrapper p{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: lighter;

}
.container a{

   align-items: center;
}
.wrapper h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 13px;
    padding: 10px;
}
.wrapper h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    font-size: 14px;

}
.border{
    padding: 8px;
    margin-bottom: 80px;
}

.postcomment{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    margin: 0 0 0 1rem;
}

.postcomment .far {
    font-size: 20px;
}

.postcomment .writecomment {
    border: 0;
    margin-left: 1rem;
    width: 100%;
}

.writecomment::placeholder {
    font-weight: thin;
    font-size: 14px;
    opacity: 0.8;
}

.writecomment:focus {
    outline: 0;
}

.postbutton {
    margin: 0 2rem 0 auto;
    color: rgb(142, 160, 167);
    font-weight: thin;
    font-size: 14px;
    border: 0;
    background-color: #fff;
}




