body {
  margin: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: black;
}

.menu__bbc_container {
  width: 150px;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.menu__bbc_container__box {
  background-color: white;
  width: 30px;
  height: 30px;
}

.menu__signin {
  border-left: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  border-right: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 50px;
}

.menu__signin p {
  margin: 0%;
}

.menu__page_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.menu__page_container__page {
  text-align: center;
  color: white;
  border-right: 1px solid white;
  padding: 15px;
}

.page_wrapper {
  width: 90vh;
  margin: auto;
}

.page_wrapper .header h1 {
  color: rgb 74, 74, 74;
}

.page_wrapper .wrapper {
  width: 90vh;
  height: 450px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "big big small1 small2" "big big small3 small4";
  gap: 10px;
}

.page_wrapper .wrapper__item-a {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: big;
  background-image: url(https://picsum.photos/300/250);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page_wrapper .wrapper__item-a:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.page_wrapper .wrapper__item-a h2 {
  position: absolute;
  left: 20%;
  top: 70%;
  color: white;
}

.page_wrapper .wrapper__item-a p {
  position: absolute;
  left: 10%;
  top: 80%;
  color: white;
}

.page_wrapper .wrapper__item-b {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: small1;
  background-image: url(https://picsum.photos/300/200);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page_wrapper .wrapper__item-b:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.page_wrapper .wrapper__item-b h2 {
  position: absolute;
  left: 20%;
  top: 50%;
  color: white;
}

.page_wrapper .wrapper__item-b p {
  position: absolute;
  left: 10%;
  top: 70%;
  color: white;
}

.page_wrapper .wrapper__item-c {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: small2;
  background-image: url(https://picsum.photos/300/200);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page_wrapper .wrapper__item-c:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.page_wrapper .wrapper__item-c h2 {
  position: absolute;
  left: 20%;
  top: 50%;
  color: white;
}

.page_wrapper .wrapper__item-c p {
  position: absolute;
  left: 10%;
  top: 70%;
  color: white;
}

.page_wrapper .wrapper__item-d {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: small3;
  background-image: url(https://picsum.photos/300/200);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page_wrapper .wrapper__item-d:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.page_wrapper .wrapper__item-d h2 {
  position: absolute;
  left: 20%;
  top: 50%;
  color: white;
}

.page_wrapper .wrapper__item-d p {
  position: absolute;
  left: 10%;
  top: 70%;
  color: white;
}

.page_wrapper .wrapper__item-e {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: small4;
  background-image: url(https://picsum.photos/300/200);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page_wrapper .wrapper__item-e:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.page_wrapper .wrapper__item-e h2 {
  position: absolute;
  left: 20%;
  top: 50%;
  color: white;
}

.page_wrapper .wrapper__item-e p {
  position: absolute;
  left: 10%;
  top: 70%;
  color: white;
}

.page_wrapper .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_wrapper .news .fa-grip-lines-vertical {
  font-size: 30px;
  color: red;
}

.page_wrapper .news h3 {
  font-size: 30px;
}

.page_wrapper .sport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_wrapper .sport .fa-grip-lines-vertical {
  font-size: 30px;
  color: #FFD930;
}

.page_wrapper .sport h3 {
  font-size: 30px;
}

.page_wrapper .article_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_wrapper .article_wrapper__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page_wrapper .article_wrapper__article:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.page_wrapper .article_wrapper__article h4 {
  font-size: 24px;
  margin: 10px;
}

.page_wrapper .article_wrapper__article p {
  font-size: 20px;
  margin: 0%;
}
/*# sourceMappingURL=style.css.map */