body{
    padding: 0px;
   margin: 0px;
    
    h1{
        position: relative;
        padding-left: 110px;
        width: 350px;

    }


.top_nav{
    display: grid;
    
    grid-template-columns:repeat(12, 1fr) ;
    // auto auto auto auto auto auto auto auto auto auto auto 
    background-color: black;
    color: antiquewhite;
    height: 50px;
    width: 100%;
    // gap: 10px;
    
    img{
          height: 50px;
           
           
           
     }
     
    .nav{
       display: flex;
    //     background-position-x: center;
    //    background-position-y: center;
        justify-content: center;
        align-items: center;
        // width: 60px;
    //    text-align: center;
    //    position: relative;
       border-left: 1px solid gray;
    //    padding-left: 40px;
       height: 50px;
      
       
 
 
      
       &_search{
           
         width: 168px;
         height: 20px;
      
     }
 
     .sign_in{
        width: 90px ;
        flex: 2;
    }
    
}
}

.wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "item1 item2 item3"
    "item1 item4 item5";
    width: 85%;
    height: 320px;
    position: relative;
//    left: 50px;
   margin: auto;

    .item{
        background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/3E0D/production/_123058851_mediaitem123058850.jpg);
       background-size: cover;
       color: white;
       padding-left: 20px;
        
    &:hover{
          filter: brightness(120%);
        }
       
        h3{
            border-left: 3px solid red; padding: 5px;
          }
      
       
    }
    .item1{
        grid-area: item1;
        // position: relative;
        // left: 10px;
        // bottom: 10px;
      padding-top: 200px;
      

    }
    .item2{
        grid-area: item2;
    }
    .item3{
        grid-area: item3;
    }
    .item4{
        grid-area: item4;
    }
    .item5{
        grid-area: item5;
    }

    }
        .news1{
            position: relative;
            left: 200px;
            top: 200px;
            
        }
        .news{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 85%;
            margin: auto;
            padding: 50px;
            &_items{
                padding-top: 200px;
                img{ width: 300px;
                     height: 200px;
                     }
            }
        }

        




}