.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    height: 450px;
    .grid-item{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        transition: opacity 1s ease-in-out;
        cursor: pointer;
        .content{
            position: absolute;
            bottom: 0.5%;
            background-color: rgba(0, 0, 0,0.4);
            padding: 0.5em;
            h2{
                color: white;
            }
            p{
                color: white;
            }
        }
        &:hover{
            opacity: .7;
        }
    }
    .grid-item:nth-child(1){

        background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/1658D/production/_122933519_976x549asthma-at-work-19-1.jpg);
    }
    .grid-item:nth-child(2){

        background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/A9B1/production/_123114434_parrot1.png);

    }
    .grid-item:nth-child(3){

        background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/F8FF/production/_123134736_gettyimages-1283861324.jpg);

    }
    .grid-item:nth-child(4){

        background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/A9E2/production/_122909434_gettyimages-1271332416.jpg);

    }
    .grid-item:nth-child(5){

        background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/DD74/production/_123129665_mark_zuckerberg_getty.jpg);

    }
    .main-extend{
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    margin-bottom: 1.5em;
}
.tag{
    display: inline;
    border-left: 3px solid red;
    padding-left: 0.5em;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    &:hover{
        opacity: .7;
    }

}
.post-container{
    margin-top: 2.5em;
    display: flex;
    width: 100%;
    gap: 0.5em;
    flex: 1;
    .post{
        transition: opacity 1s ease-in-out;
        cursor: pointer;
        height: 450px;
        img{
            width: 100%;
            height: 50%;
        }
        &:hover{
            opacity: .7;
        }
    }

}