.rooter{
   position: relative;
   
#root1 {
    position: absolute;
    border: 1px red solid;
   width: 175px;
   height: 200px;
  top: 40px;
  
   
}
#root2 {
    position: absolute;
    border: 1px red solid;
   width: 175px;
   height: 200px;
  top: 40px;
  left: 180px;

}

#root3{
    position:absolute;
    border: 1px red solid;
   width: 175px;
   height: 200px;
  top: 40px;
  left: 37vh;
}
}