body{
    min-height: 100vh; 
    display: flex;
  position: relative;
   justify-content: center;
   align-items: center;
   margin: auto;
}


.outer-c{
    background-color: rgb(99, 149, 192);
  width: 150px;
  height: 150px;
  left: 315px;
    position: absolute;
    top: 143px;
}

 
    
  