body {
    background-color: aqua;
}

.card {
    border-radius: 10px;
    background-color: white;
    margin: 10px;

    img {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
    }

    &_text {
        padding: 20px;

        h3 {
            font-style: italic;

            &:hover {
                background-color: gray;
            }
        }

        p {
            color: #505050;
            font-size: small;

            span {
                font-weight: bold;
            }
        }
    }
}
