.circle{
  background-color: green;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  position: absolute;
  top:50vh;
  left:50vw;
  transition: all 1300ms;
  &:hover{
      transform: rotate(360deg) scale(1.8);
  }
  &:active{
    background-color: blue;
  }
} 
  