body{
    background-color: aquamarine;
}
.wrapper{
    border: navy 1px solid;

        .box{
        width: 100px;
        height: 100px;
        background-color: navy;
        margin: 1px;

            p{
                color: white;
                font-size: 6px;
            }
        }
    }


    .card{
        width: 548px;
        border-radius: 10px;
        background-color: white;
        margin: auto;

            img{
                border-radius: 10px 10px 0px 0px;
                width: 100%;
            }

            .card_text{
                padding: 20px;
            
            
                h3{
                    font-style: italic;
                }
                p{
                    color: #505050;
                    font-size: small;
                }
                span{
                    font-weight: bold;
                }
            }
    }