body{
    background: lightgray;
    margin: 0;
}
div{
    box-sizing: border-box;
}
header{
    background: white;
    padding: 10px;
}
header h1{
    margin: 0;
}
div.post{
    background: white;
    margin-top: 10px;
}
div.post img,{
    width: 100%;
}
div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: grey;
}
div.Post h2, div.Post p{
    padding: 10px;
    margin: 0;
}
div.Container{
    width: 600px;
    margin: auto;
}