<<<<<<< Updated upstream
body {
    font-family: 'Lato', sans-serif;
    /* articles headings */
    h4 {
        font-size: 16px;
        line-height: 1.4;
        margin: 0;
        font-weight: bold;
=======

.navbar{
    width: 100vw;
    height:60px;
    background-color: #bb1919;
    display: flex;
    flex-direction: row;
    position: relative;

    img{
     width: 60px;
    
    
    }


    a{
    font-size: 40px;
    color: white;
    position: absolute;
    left: 80px;
    text-decoration-thickness: 0px;
    }

    #right-icon{
        left: 180px;

    }
}



.title h1{
width: 210px;
height: 40px;
background-color:white;
position: relative;
top: 40px;
}






.wrapper {
    width: 1344px;
    height: 301px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    margin-top: 40px;
    h2 {
        direction: rtl;
        font-size: 18px;
>>>>>>> Stashed changes
    }
    h4:hover {
        color: rgb(3, 122, 151);
        text-decoration: underline;
        transition: 0.4s;
    }
    /* wrapper */
    .wrapper {
        width: 1250px;
        display: flex;
        flex-direction: column;
        margin: auto;
        box-sizing: border-box;
        margin-top: 40px;
        /* articles */
        .cards {
            display: flex;
            flex-direction: row;
            margin: 68px auto;
            position: relative;
            /* article */
            .card {
                margin-left: 16px;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 200px;
                &.card:nth-of-type(1) {
                    margin: 0;
                }
                img {
                    height: 135px;
                    width: 240;
                    margin-bottom: 8px;
                }
                /* inline elements inside the article card*/
                .inline {
                    display: flex;
                    align-items: center;
                    margin-top: 4px;
                    svg {
                        fill: rgb(73, 73, 73);
                        width: 13px;
                        height: 13px;
                        margin-right: 4px;
                    }
                    .datetime {
                        color: rgb(73, 73, 73);
                        font-size: 13px;
                        font-weight: 400;
                        border-right: 1px solid lightgray;
                        padding-right: 4px;
                    }
                    .tag {
                        font-size: 13px;
                        color: rgb(73, 73, 73);
                        padding-left: 4px;
                    }
                }
            }
        }
    }
}