/* Style the header */
.header {
  padding: 16px;
    background: rgb(255, 255, 255);
    color: #f1f1f1;
    width: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .topright {
    display: flex;
    margin-right: 20px;
   
   }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  .fa-plus-square {
      color: black;
      padding: 5px;
      font-size: 30px;

  }

  .fa-heart {
    color: black;
    padding: 5px;
    font-size: 30px;

}

.fa-comment {
  color: black;
  padding: 5px;
  font-size: 30px;

}

.fa-paper-plane {
  color: black;
  padding: 5px;
  font-size: 30px; 
}


.fa-facebook-messenger {
    color: black;
    padding: 5px;
    size: 20px;
    font-size: 30px;

}

.container {
    display: inline-block;
    position: relative;


}



.story1 {
  width: 600px;
  margin: auto;
}

.story1 img {
  width: 100%;
}

.story-container {
  display: flex;
  flex-direction: row;

}

.story-container img {
  border-radius: 50%;
  width: 60px;
  border: 3px solid rgb(211, 23, 86) ;
  padding: 2px;
  margin: 10px;
}

.comments {
  color: gray;
}

.time {
    color: gray;
    font-size: smaller;
}