@font-face {
    font-family: instagram;
    src: url(fonts/Helvetica_Neue_Medium_Extended.ttf);
}

@font-face {
    font-family: instagram_light;
    src: url(fonts/Helvetica\ Neue\ UltraLight.ttf);
}

/* main box  */
.wrapper {
    max-width: 480px;
    border-style: solid;
    border: 1px solid rgba(201, 201, 201, 0.5);
    border-radius: 2px;
    margin: auto;
}

.wrapper img {
    width: 480px;
}


/* top box */
.wrapper .matreshka h5 {
    font-family: instagram;
    font-size: 0.6rem;
}


.wrapper .matreshka {
    display: flex;
    height: 45px;
    align-items: center;
    border-bottom: 1px solid rgba(201, 201, 201, 0.1);
}


.wrapper .matreshka img {
    width: 35px;
    border-radius: 50%;
    padding: 0.5rem;    
}


#three_dots {
    width: 15px;
    margin-left: auto;
    padding-right: 15px;
}


/* icons box */
.wrapper .small_wrapper {
    height: 20px;
    padding-left: 10px;
}

.wrapper .small_wrapper .icons {
    padding: 5px;
}


#flag {
    width: 16px;
    padding-right: 60px;
}


.wrapper .small_wrapper  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid rgba(201, 201, 201, 0.1);
    padding-top: 10px;
}

.wrapper .bottom_text_section {
    padding-bottom: 5px;
}


.wrapper .small_wrapper .flag {
    margin-left: auto;
    padding-right: 10px;
}


/* bottom text box */
.wrapper .bottom_text_section h5 {
    padding-left: 15px;
    height: 0.01px;
    font-family: instagram;
    font-size: 0.65rem;
}

#View_comments {
    color: #9b9b9b; 
    font-family: instagram_light;
    font-size: 0.7rem;
    letter-spacing: .07rem;
}

#days_ago {
    font-family: instagram_light;
    color: #9b9b9b;
    font-size: 0.55rem;
    letter-spacing: .06rem;
}

/* Comments */
#Add_comment {
    color: #979797;
    padding-left: 10px;
}

#emoji {
    padding-left: 15px; 
    padding-top: 18px;
  }

.wrapper .comment_section {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
    border-top: 1px solid rgba(201, 201, 201, 0.2);
    padding-bottom: 2px;
}

.wrapper .comment_section .comment {
    display: flex;
}

.wrapper .comment_section .post {
    margin-left: auto;
    padding-right: 15px;
    color: #d0e8fa;
}


/* Utilities */
.wrapper .matreshka img:hover {
    cursor: pointer;
}

.wrapper .matreshka h5:hover {
    text-decoration: underline;
    cursor: pointer;
}

#three_dots:hover {
    cursor: pointer;
}

.icons:hover {
    filter: invert(0.5);
    cursor: pointer;
}

.wrapper .bottom_text_section:hover {
    cursor: pointer;   
}

.wrapper .comment_section .post:hover {
    cursor: context-menu;
}

#matreshka:hover {
    text-decoration: underline;
    cursor: pointer;
}

#emoji:hover {
    cursor: pointer;
}


.wrapper2 {
    padding-top: 15px;
}