.wrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: auto;
    display: grid;
    height: 55cm;
    background-color: moccasin;
    
}
#sitename {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
    font-family: 'Lobster', cursive;
    
    width: 650px;
    margin: 0 auto;
}
.footer{
    text-align: center;
    font-style: italic;
}
.fab {
    font-weight: 600;
}
.items{
background: rgb(255, 255, 255);
border-style: outset;
box-shadow: 2px 2px 5px black;
height: 660px;
border-radius: 2%;

}


#profile-pic{
    height: auto;
    width: 35px;
  border-radius: 50%;
}

.name{
    justify-content: start;
    display: flex;
  
}
#like-bar{
height: auto;
    width: 30px;
    margin: 5px;


}

#like-bar2{
    margin: right 5px;;
    margin-left: auto ;
    
   
    width: 30px;
    
}
.person{
    display: flex;
    line-height: 0.1em;
}
#name{
    font: serif ;
font-weight: bold;
line-height: 0.1em;

}

#views{
    color: rgb(133, 132, 132);
}
#days{
    color: gray;
    font: italic;
}

textarea{
    resize: none;
}
#emojis{

    height: auto;
    width: 30px;
}
.text-area{
    display: flex;
    align-items: center;
}
button{
color: rgb(8, 121, 121);
    height: 22px;
    background-color: white;
 
}



.p{
    margin: 5px;
    font: serif ;
    font-weight: bold;
   
    
}

.like-bar{
    display: flex;
}

.location{
   display: flex;
   flex-direction: column;
   position: relative;
   left: 40px;
   line-height: 1em ;
}
.img{
    display: flex;
    flex-direction: column;
    width: 500px;
}
