body {
  height: 1700px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
  width: 100%;
  height: 2.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.navbar img {
  width: 80px;
  padding-right: 25px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 650px;
  color: white;
  font-family: sans-serif;
  padding: 0;
  gap: 5px;
}

ul li {
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border-style: solid;
  border-color: white;
  border-top-width: 60px;
  border-width: 0 1px 0 1px;
}

ul li:hover {
  border-bottom: blue solid 3px;
}

.title-box {
  width: 75%;
  height: 100px;
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title-box__left {
  width: 200px;
  color: #4a4a4a;
  font-family: sans-serif;
}

.title-box__left h5 {
  font-size: 22px;
}

.title-box__right {
  width: 350px;
  color: gray;
  font-family: sans-serif;
}

.title-box__right h5 {
  font-size: 27px;
}

.wrapper {
  width: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--num-cols), 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  --gap: 16px;
  --num-cols: 3;
  --row-height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: var(--gap);
  gap: var(--gap);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.wrapper img {
  position: relative;
}

.wrapper__grid-col-2 {
  grid-row: span 2;
  position: relative;
  text-align: center;
  color: black;
}

h4 {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: 24px;
  font-weight: 200;
  font-family: sans-serif;
}

h3 {
  position: absolute;
  bottom: 36px;
  left: 16px;
  color: white;
  font-size: 42px;
  font-family: sans-serif;
  font-weight: 300;
}

h1 {
  font-family: sans-serif;
  color: black;
  font-weight: 600;
  font-size: 24px;
}

p {
  font-family: sans-serif;
  color: black;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
}

.news-flex {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 10px;
}

.news-flex__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-flex > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news {
  max-height: 700px;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 40px;
}

.news__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
  height: 600px;
}

.news__block img {
  width: 100%;
  height: 40%;
}
/*# sourceMappingURL=style.css.map */