// body{
//     background-image: url(https://i.pinimg.com/originals/35/e9/5c/35e95c361a44204cec2bf57eb7eac82b.jpg);
//    background-repeat: no-repeat;
//    background-size: cover;
// }
.cotar{
  font-size: 5em;
  text-align: center;
  color: rgb(0, 0, 0);
}
.products{
    direction: rtl;
    color: rgb(0, 0, 0);
   img{
    width: 200px;
    height: 200px;
   };
};