body{
    background-color: white;
color: black;   
margin: auto;
direction: ; ;
.articals{


}




}

.nav-bar{
    background-color: black;    
    margin: auto;
    position: fixed;
    width: 1280px;
    height: 40px;   
    
    
    }