body{

    margin:auto;
    position:relative;
}
h1{
    text-align: center;
}
.bigForm{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
   
    #root1{
        border:1px solid black;
        position:absolute;
        margin-left: 200px;
        width:400px;
        height:600px;
        display:flex;
        flex-direction: column;
        align-items:center;
        padding:0;
        margin-top: 50px;

        .item{
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            gap:10px;
            padding:15px;
            
            button {
                background-color: #000;
                border: .5px solid crimson;
                border-radius: 10px;
                color: #fff;
                padding: 8px;
                }

            img{
                position: absolute;
                top:350px;
                left: 220px;
            }

        }
    } 
    #root2{
        border:1px solid black;
        position:absolute;
        left:600px;
        top:50px;
        width:400px;
        height:600px;
        margin:auto;

        .item2{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            gap:10px;
            padding:25px;
    
        }
        .result{
            border:1px solid black;
            display:flex;
            flex-direction: column;
            justify-content: center;
            width:350px;
            height:330px;
            gap:10px;
            padding:25px;
        }
    } 
}