body {
    background-color: rgb(73, 73, 23);
}

.megawrapper {
    background-color: blanchedalmond;
    width: 600px;
    height: 800px;
    margin: auto;
    position: relative;
    border-radius: 10px;

    .boximg {
        background-color: blueviolet;
        height: 50%;
        width: 100%;
        position: relative;
        margin: 0;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            align-items: center;
            border-radius: 10px 10px 0px 0px;

        }
    }
}

.boxtext {
   padding: 20px;


    h1 {
        color: rgb(247, 58, 58);
        font-style: italic;
        &:hover{
            background-color: rgba(128, 128, 128, 0.267);
        }
    }

        p {
            color: rgb(95, 180, 95);

        }

    
}




















.wrapper {
    border: 2px solid rgb(179, 27, 27);

    .box {
        background-color: rgb(141, 231, 119);
        margin: 1px;
        width: 100px;
        height: 100px;

        p {
            color: rgb(209, 0, 0);
            font-size: 6px;
        }
    }
}