*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #2c2c2c;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1a1a25;
        padding: 30px 10%;

        .nav-logo{
            cursor: pointer;
        }
        .nav-links{
            list-style: none;

            li{
                display: inline-block;
                padding: 0 20px;
                background-color: none;
                a{
                    transition: all 0.3 ease 0;
                }
                a:hover{
                    color: rgb(0, 155, 165);
                }
            }
        }
    }
    button{
        padding: 9px 25px;
        border: none;
        background-color: rgba(0,155,165,1);
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3 ease 0;
    }
    button:hover{
        background-color: rgba(0,155,165,0.8);
    }
}

li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
