* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#sitename {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
    font-family: 'Lobster', cursive;
    background-color: lightgoldenrodyellow;
    width: 650px;
    margin: 0 auto;
}

.fab {
    font-weight: 600;
}
main{
    background-color: lightgoldenrodyellow;
    padding: 1rem;
    width: 650px;
    margin: 0 auto;
}
.sec1 {
    margin: 2rem auto;
    width: 480px;
    height: 710px;
    box-shadow: 0 0 10px #000;
    border-radius: 12px;
    background-color: white;
}

.sec1 .wrappername {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.sec1 .wrappername img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 0.7rem;
}

.sec1 img {
    width: 100%;
    height: 455px;
}

.wrappername span {
    font-size: 35px;
    margin: 0 1rem 1rem auto;
}

.icons {
    width: 100%;
}

.icons span {
    font-size: 22px;
    margin: 0 1rem 1rem auto;
}

.icons span .far {
    margin: 0.8rem 0;
}

.icons .fa-heart {
    padding: 0 0 0 1rem;
}

.icons .fa-bookmark {
    padding: 0 0 0 19rem;
}

.like {
    font-weight: 700;
    padding-left: 1rem;
    font-size: 15px;
}

.comment h4 {
    margin: 0.5rem 0 0.3rem 1rem;
}

.comment h4 span {
    font-weight: 600;
    font-size: 14px;
}

.comment .numberofcomemnts {
    color: grey;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 13px;
    opacity: 0.8;
}

.comment .days {
    color: grey;
    opacity: 0.7;
    font-size: 9px;
    font-weight: 700;
    margin: 0 0 1rem 1rem;
}

.sec1 hr {
    opacity: 0.25;
}

.postcomment {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    margin: 0 0 0 1rem;
}

.postcomment .far {
    font-size: 20px;
}

.postcomment .writecomment {
    color: grey;
    font-weight: 700;
    margin-left: 1rem;
    font-size: 13px;
    opacity: 0.8;
}

.postbutton {
    margin: 0 2rem 0 auto;
    color: lightblue;
    font-weight: 700;
    font-size: 14px;
}