.links{
    color: black;
    a:hover{
        color: blue;
    }
}

h3{ 

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
  }

.card{
    width: 300px;
    height: 600px;
    background-color: rgb(53, 51, 51);
    border-radius: 20px;
    margin: auto;
    overflow: hidden;

    &__bottom_strip{
        background-color: rgb(41, 40, 40);
        width: 100%;
        height: 70px;

    }

    


    &__user_image{

        height: 40px;
        width: 40px;

    }

    &__top_strip{
        background-color: rgb(41, 40, 40);
        width: 100%;
        height: 70px;

        &__location{


        }

        &__edit{


        }

        &__results{


        }
        
        

    &__body_strip{

        background-color: rgba(187, 181, 181, 0.781);
        width: 301px;
        height: 50px;
        margin: 50px;
        margin-left: -1px;
        margin-top: -1px;

        &__distance{

        }

        &__text{


        }

        &__instrument{

        }


    &__body_strip__body_strip--dark{ 
        background-color: rgba(43, 39, 39, 0.781);


        
        
        .user_image{ 

            height: 40px;
            width: 40px;
            
            &_image {width: 100%;}
             }
       
    }

   

    
}
