.links {
    color: black;

    a:hover {
        color: blue;
    }
}

h3 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.card {
    width: 300px;
    height: 600px;
    background-color: rgb(53, 51, 51);
    border-radius: 20px;
    margin: auto;
    overflow: hidden;

}

.top_menu {
    width: 300px;
    height: 80px;
    background-color: rgb(70,71,75);



    &__figure {
        float: left;
        width: 30px;
        border-radius: 20%;
        text-align: center;
        font-style: bold;
        font-size: 13px;
        color: white;
        text-indent: 0;
        margin: 0.5em;
        padding: 0.5em; 

      }

}



.user {
    width: 300px;
    height: 45px;
    background-color: rgb(106, 107, 109);

    display: flex;
    flex-direction: row;


    &__profile {
        img {
            width: 30px;
            border-radius: 50%;
            margin-top: 5px;
            margin-left: 5px;
        }

        &__name {
            color: white;
            margin-left: 35px;
        }

        &--dark {
            background-color: rgb(46, 47, 51);
            height: 45px;
        }
    }       
}