 body html{
 margin: 0;
 font-size: 400px;
 }
 body{
     height: 50vh;
     font-family: 'Poppins', sans-serif;
 }
 .warrper{
   
 
 height: 100%;
 width: 100%;

.blog{
    
   
  width: 50%;
  height: 100%;
  margin: auto
   ;
 img{
     width: 100%;
     height: 300px;
 }
   h1{ 
       font-size: 3rem; ;
       color: rgb(59, 59, 59);
   }
    h2{
           font-size: 1.8rem;
           color: rgb(93, 93, 93);

    }
      p{ 
          font-size: 1.5rem;
          color: rgb(116, 116, 116)
      }
}
}

