 body html{
 margin: 0;
 font-size: 400px;
 }
 body{
     height: 50vh;
 }
 .warrper{
   
 background-color: blue;
 height: 100%;
 width: 100%;

.blog{
    
    background-color: green;
  width: 50%;
  height: 100%;
  margin: auto
   ;
 img{
     width: 100%;
     height: 300px;
 }
   h1{ 
       font-size: 3rem; ;
       color: white;
   }
    h2{
           font-size: 1.8rem;
           color: white;

    }
      p{ 
          font-size: 1.5rem;
          color: black
      }
}
}

