@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
.card {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

.usermenu {
  width: 360px;
  height: 75px;
  background-color: #535353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.usermenu .place {
  color: white;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
}

.usermenu .place p {
  color: gray;
}

.usermenu .icons {
  margin-top: 15px;
  font-size: 30px;
  margin-left: 150px;
  color: white;
}

.usermenu__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.usermenu__profile p {
  margin-top: 5px;
  margin-left: 22px;
  color: white;
  font-size: 10px;
}

.usermenu__profile .frame {
  overflow: hidden;
  width: 45px;
  height: 45px;
  border-radius: 55%;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
}

.usermenu__profile img {
  width: 54px;
  margin-top: -22px;
  margin-left: -3px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #999999;
}

.user--dark {
  background-color: #292828;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user__name {
  color: white;
  margin-left: 10px;
  margin-top: 15px;
}

.user__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 5px;
}

.user .user__info {
  color: white;
  margin-top: 15px;
  margin-right: 10px;
}

.bottemmenu {
  background-color: #292828;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: aqua;
  font-size: 20px;
}

.maprapper {
  width: 360px;
  height: 300px;
  overflow: hidden;
}

.map {
  width: 550px;
  overflow: hidden;
}

.cardquiz {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  background-color: rgba(19, 19, 22, 0.849);
  font-family: sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cardquiz .usermenuquiz {
  width: 360px;
  height: 55px;
  background-color: white;
}

.cardquiz .usermenuquiz img {
  width: 30px;
  position: absolute;
  left: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.cardquiz .usermenuquiz p {
  position: absolute;
  left: 55px;
  top: 1px;
  font-size: 15px;
  color: #848e96;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cardquiz .text {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
}

.cardquiz .text h1 {
  color: #3eb3ad;
  font-size: 28px;
}

.cardquiz .text p {
  margin-top: -20px;
  color: white;
  font-size: 25px;
}

.cardquiz .text .play {
  margin-top: -23px;
  color: #b8c4da;
  font-size: 21px;
}

.cardquiz .text .play span {
  color: #3eb3ad;
}

.cardquiz .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.cardquiz .btn .box1 {
  width: 40%;
  height: 70px;
  background-color: #3eb3ad;
  border-radius: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.cardquiz .btn .box1:hover {
  background-color: rgba(62, 108, 114, 0.986);
}

.cardquiz .btn .box1 p {
  margin-top: 18px;
}

.cardquiz .btn .box2 {
  width: 40%;
  height: 70px;
  background-color: gray;
  border-radius: 16px;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.cardquiz .btn .box2:hover {
  background-color: rgba(128, 128, 128, 0.24);
}

.cardquiz .btn .box2 p {
  margin-top: 18px;
}

.cardquiz .btn .box3 {
  margin-top: 10px;
  width: 85%;
  height: 30px;
  background-color: gray;
  border-radius: 16px;
  font-size: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.cardquiz .btn .box3:hover {
  background-color: rgba(128, 128, 128, 0.24);
}

.cardquiz .btn .box3 p {
  margin-top: 7px;
}

.cardquiz .btn .box4 {
  width: 40%;
  height: 70px;
  background-color: gray;
  border-radius: 16px;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.cardquiz .btn .box4:hover {
  background-color: rgba(128, 128, 128, 0.24);
}

.cardquiz .btn .box4 p {
  margin-top: 25px;
}

.cardquiz .usermenuquiz2 {
  width: 360px;
  height: 55px;
  background-color: #eee8e8;
  margin-top: 30px;
}

.cardquiz .usermenuquiz2 .arrow {
  width: 20px;
  color: #3eb3ad;
  height: 60px;
  position: absolute;
  left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.cardquiz .usermenuquiz2 .butn {
  width: 90px;
  height: 45px;
  border-radius: 10px;
  position: absolute;
  right: 5px;
  bottom: -20px;
  color: white;
  background-color: #3eb3ad;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 20px;
}

.cardquiz .usermenuquiz2 .butn:hover {
  background-color: rgba(62, 108, 114, 0.986);
}
/*# sourceMappingURL=style.css.map */