body {
  cursor: none;
    margin: 0;
    padding: 0;
    width: 800px;
    height: 800px;
    position: relative;
    background-image: url('images/skyies.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}

.container{
  display: "block";
  position:absolute;
  width :600px;
  height:600px;
}

