body,
html {
    margin: 0%;
}

.menu {
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid gray;
    box-shadow: 2px 3px 10px -2px #8b8b8b;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(118, 118, 118);
    font-size: 30px;

    &__left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;

        &__logo {
            width: 50px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            


            img {
                width: 50%;
                display: block;
                margin: auto;
            }

            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }
        }

        &__home {
            height: 30px;
            background-color: black;
            border: none;
            font-size: 1rem;
            color: white;
            padding: 22px 16px;
            border-radius: 30px;
            font-weight: bolder;
            text-align: center;
            line-height: 1px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__search {
        width: 85%;

        input[type=text] {
            width: 100%;
            padding: 6px;
            border: none;
            margin-top: 8px;
            margin-right: 16px;
            font-size: 17px;
            background-color: rgb(239, 239, 239);
            border-radius: 20px;

            #input_img {
                position: absolute;
                bottom: 12px;
                left: 180px;
                width: 10px;
                height: 10px;
            }

            &:hover {
                background-color: rgb(223, 223, 223);
            }

        }
    }

    &__icons {
        padding: 0px 30px;
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 25px;

        &__notifications {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;

            .fa-bell {
                margin: auto;
            }

            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }
        }

        &__inbox {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;

            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }

            .fa-comment-dots {
                margin: auto;
            }
        }

        &__user {

            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;

            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }

            &__container {
                margin: auto;
                width: 20px;
                height: 20px;
                background-color: rgb(239, 239, 239);
                border-radius: 50%;
                color: black;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: bolder;
                font-size: 10px;
                display: flex;
                justify-content: center;
                line-height: 20px;
            }
        }

        &__more_user {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            font-size: 1.5rem;

            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }

            .fa-chevron-down {
                margin: auto;
            }
        }
    }
}

.content {
    margin-top: 15px;
    column-width: 250px;
    -webkit-column-break-inside: avoid;
}

.img_container {
    width: 250px;
    -webkit-column-break-inside: avoid;

    &:hover {
        filter: brightness(0.5);
    }

    img {
        width: 100%;
        border-radius: 30px;
    }
    
    p {
        padding-left: 10px;
    }

}

.menu_buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 20px;
    row-gap: 10px;
    text-align: center;
    color: var(--g-colorGray300);
    align-items: center;
    line-height: 50px;

    &__plus {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid ghostwhite;
        line-height: 63px;
        font-size: 25px;
        
    }

    &__question {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid ghostwhite;
        line-height: 63px;
        font-size: 20px;
        
    }
}
    

.user{
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid gray;
    box-shadow: 2px 3px 10px -2px #8b8b8b;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(118, 118, 118);
    font-size: 60px;
   
    &__left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;

         &__logo {
            width: 90px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            // bottom: var(--space-0);
            // left: var(--space-0);
            // right: var(--space-0);
            // top: var(--space-0);
          
            img {
                width: 50%;
                display: block;
               margin: auto;
            }

            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }
                p{
                    display: flex;
                    flex-direction: row;
                    font-size: 10px;
                    margin: auto;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
    }
}