body {
    margin: 0%;
    padding: 0%;
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUSEhMWFRUXFxgXFxcYGBcVFRcXFRUYFxcXFxcYHSggGB0lHRUYITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OFRAQFysdHR0rLSsrLS0tKy0tKy0tKysrLS0tLS0tLS0rLS0rLS0tLS0tLS0tLSstLSstLS0tLS0tLf/AABEIAKgBLAMBIgACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAABAgMABAUGB//EADMQAAICAQIEBAQGAgIDAAAAAAABAhEhAxIEMUFRBWGB8BNxkaEiscHR4fEGMhRSIzRC/8QAGQEBAQEBAQEAAAAAAAAAAAAAAQACAwQF/8QAIBEBAQEBAAICAwEBAAAAAAAAAAERAgMSITEEE0FRYf/aAAwDAQACEQMRAD8A/HWFRdXWOV+fYFBRpyCjUM4mLEFBSMaiAIwUg0WIGZDJAocAUahnE1FiBI1DpGURwFoFFEjbSxaVRXXsAahqLBqaRmPWANFi0rA0O0aixaSjUPQKDFpUjSQ1AI6VIwWCiWgYLMB0ABMBGTwlXK7ec5EGABAwQEWAExFRIND7QqJ1xnU3E20qog2j6jU6GTG2hUSwaVRs1FEjbRxnU6NtK7QbSxam0FIfaHYWLSqJto6iPQ4EtoaK/DxfT83jAKLEjtGry9Cjj1DQYklHp9xXEvs+gJRssSe0XaUo1AU6BtK0LQYk4wv35Goo4+799xUrZJOgUUaBKIYkqMim3zEaBFAO0ZxwGNaQAyQKAgYxgIGMAi7kh3Cm12w/7QEg0evHPWaz0BtKqODbTXqz7JbTbPfzKOIUHqNT29jUW2hnp5xkvVam0umOSrPbL99wbR1EaMSwaltwZQOiOkF6RelXtEWgxgWUAuJeq1DaM4llpmlpj6r2jna7IZItHTD8Nh6r2c1A2l1A2wzh1DZ2C49b8qzfzKqBNozWoTb1/v6ASRR6Tq6dcr6X2sWSwZKbBJe/kVijasGsYdNrGeXZ9hSOwnJZOvdypfXK9KqiU4c/dhic7QsvfctJE6MhOjUOK2CI0ApKIjQVqACgmoCAAmBp6DiNFDOaBF5we/JK4bVEgxiZNMZo051mk+RkisIdjqXB+T81XJrodJ4718xy68vPP24VGxkdf/Fro/yIy06+QXi8/a58k6+kpQSMkUtCyg/QxcdZqsJf35e2wPTbYsZHfwjXN8jU6l+K52WfTnlw/Q3/ABpN++x7ktBNd76k/wDjLFNt21LFLn0fUepP4Ofb+uDS4MovDnXLJ7fDaEaSeM86xy5M9PT4ePX9zN65kPr1fp8rDw59vf7hl4d0XP8AU+30fDYukuXUlr+GU7x8/wAsc/t0PN1+X4p8a3z4vLL9Pitbw9JX5N9qavn36fU5pcLfSv2Ps9XgLeObpfbyIa/gLrldZ99+Zy7/ACuP49HHg6v2+P1NKiEtJdfPl3rH7H0fG+GSVujyOM4CV0lnr0+thPNK6/pryZoOnFNN9lfz8ljmdz4J7brGflir/T7HI4Ncuf6DOh6YnFOvK8rzSw69XXqB4OjTja5W690S1Y9DWs4g4Cyt9SknXPmiUmGjE5AoZsUNWJtAaKNCSBJgbHlESgAUZBaDKXd8sehEhjMANPQoCQyGUT2+rlaCY8JAUR4xNTms2xXSnTs9XT8XlJ/ik23V275YVv5YPFayGLrkdOPJeHHyeLnyfb3eI4uO3/XJ5WrNydLH2Np618/fmOpLojfffv8A1z8fj/X/AANLh/K/UXWUlzTR0aSe6uXM6+MluSTXyfv3g53mY6zu68hRfQvGUlj3nB1aejtXmT1VK89DljpK6OG4ppU3Tto7tDVcnh067XaPG1cR5K78zr4RVXfm/I5dW668yPVhxU43hSrK7Po8dzs8M4ymozzz+vXlzPJfEJc8rydff6E4+IrfaiqbuuVKzPl43j7+XfwdczrK/W/DOH0fhb5Pa+7TdquVd8nm8c4ylcXcfzR8iv8AIJJV3v07Y7YqifhH+QTeqlJqrr9H1yfJ8n4/dm59Pq8XwS5b9vv/AArhEmklfXuuZ9Pw3DR27Wlnn5nj+E8VBR3bo03nb/8AJ2cX4zowW5yrmk13X9Hg46vttm/8/wBPk8fznM+Hi+O+ExjL8CvumfHeK8E1ubUb+913Pe8f8cjt3Qlb7WrayeHDxVSi7vdzpr8z1eL9k+cyL9UeHrcNXPNKvLlX6Hlamin09c/0ex4lxf4tveqrucXD6St3+LnV+eOnvB7uerny4deKa8jUi0+1dTn1U+p7HwLvHLucj0XT7envudZ083XieZPovfck2PqrL6ZDpRvoOuV5Soyidi0VyFnpV0NM+rjk8E5HQ4LNuq+/kRklWFlW77rFJKsdfqTNiaQo9GZDAcX+ok2h93cSaIYXaMoPsHTkk7avD6tZrDx2efQXcSdyY8SKkU+I37r8j3SxyvK0R4nPHUKKZudRzvNNRmzJhcQpnwRFdOVE4oskq8zEaq8ZlXrPq/LPY5dNszkatZ9XZp61vb0+59HoaOm4RjNSpKVSjl12z05usc2fMaM0mesuIxjy9PkPPfqrz7Javh6cmvxdKvLpoMuFWmmueOj7otDXSWOeb+VdDl3OVW+f3s599SfLr4+Lbjh1G+oNOD58vme9o+G6d3eX8vsV43w3Ddcliq6c7X1OE75v3Xovh6n08rh9WaVxdSTVNNpp+TXI5JacotPKPW4PhPxLdhXlft5ieJVl3j5HLvyz6jv4/wAe5tX4XxrUhFxWFJev16c7ILj5S/C5SrtfWl+x5k9flk7eE4ZzzivocLeZ84788d9/Eru0uPhFShtUr2q5NtxSdy2vpfL1Zz6vEqM2tya/7RTeFjG7PRE+K4FR615/ycepp1bvJvnyc9TMHfh8nF+a9DSnHWkoOoptXJ3jPPnk9DxLheH0sRnLUmnmW3bGmui5ny8dSaeFXoV0uKaeW7/fv76nWetmPPvW7q09Zqm72vK7qnRdcZBRjFW+b5dW/wCPzPN4vWV86XWjlec3i+b7HO8xrnyWD4hW60c8NZrk+QsuZIsY66+XqcLHc7TV4x5tNvn2f8HTxWjeXfouy/g8Zazi242leL545HTLxGUlTywanUscupq2kunbzf8AS+hFvzG1ZX0SJM042mQ0u5icnkYKwJV6gszaJkoJIyYX5kF0ykSKY0WemUWLxGsgmPDOEbnTF5WUiqZzxZaM/fmblYsVS8gJ5FUh077DWY3MGmnfn6V9xk+grZixuHi+7O3T1uj+RwwOiDAnlJ9Ds4ONNNtPPLNqqy8e6ETiuz+X5jQj2OfUdeLj6PhtSuXv9g8Vqt/hSvv5rseXwPEOKavD+V48/U9LT1PNdDj345nw9HPmvNT1dqi0+2fT8uR4mpBz/Cq29+vp3PV4xbv9v7XZ9zz9fsvssnD0x6f3e0x5mrwG1p3iz0uG1GlV2l168/yEnNSvc/0VLyRCenKHOraTw08NJrK8ny6F1zsPj79Lsehr9KS5vm7WfI8+SzXXuCM9/PBaSSMznHW+X3jm1JO+dt23831ObiYV8/uWnJps4tWXnZuPN3Y59SVk9zHkybNuFZyFbvsjMUmbRsXcZgZM2imBsALEWgxWws0hZpWzakafNPly81dAoUtGMzBACUsKYoyXQ7a2omOmRQyZqVmxZSKab5Zr64Iqu4yZqVmxW2NvJKYYyHWcdelrV0/h9x8Pn2+/uzkUiyma0eqqXIeP2JRfv36DhUtpyLxnkhErpvoZxqO7h5LmzoWr5+7ODU1EuXl5iPiSuT4amu+fE93y5de+ORza2suf3OLU4m33Jt38jj1Nd+bi/wAW3eCjmttLnRzX7/UCmZvP+Nzqraar9h3qHLLVIz1TnjWuzW1FmrrpdXXQ4OJauvec/qLLV6EZjjNpJMEpYSxjyz6vqBsxMBKQqGYNv5dSZoMEpuqvCbaXzq/yX0MK0QaQGwi0IxgMbbXMEiDOIjQ9gZJM1jUCiAoKAY6NmsaxEEQdMaMiY8ZUOjDtmTEsZDoxZMonX6+/QgmOpDox0xkMpkIsKkOjHVF+f7FdF+/kcsZ9PUpp6lZw/J/wTUdetOLS24pZtrLvNcu6wcjmFP098sEqM2NGc0DeTs28y3FXL8gfEI7hdxkx0Tmuj+eOXPCznFMkpK88vuSbBJhTp5MnKQLFsBaa1+38i2AzYJrAwNmRBgMzY27t8/LHkTIRjZmsL2vqPFvPL7dcYXf5ErEAzNgYGyRpyvpQoHLOPQ1kAbMYDBMEUY20JgWYUY1gS6GRI6YyYiD7+hI6kUTIJj2OjFNxWBzplFNDKsWsbcQ3DNvqKW3COQlgkwI7g7ye/ALAm3CtitgbMk9g3C7sCWBU3AbJ2BsApZpSJ2ayRmzWKmYkNjZfK8fZe2TsO4gJpdANmIAKNJgRAADyarrd+VV7sQgxmGxWQY93wf8AyN8PpwhCCdS1JybcqlKSgoLbe1pPThe6Lf8AtVGMLo6dHx/hYtNcKsKSaUdKN3DVg8pWty1I2lSj8O0skeG8Y0I6k5PQuMtOENuzSSlt1I6kt8EtsN22Mbim0leWYxJtDxjS0+I3wg4wWnsfw1tc5S2vVlnbKMW9yjTjKK2+adtb/INGdufDqUliLa05Pb8OKcJScbzNTnv/ANlupVbMYkGn43ouWs5aSfxdWMluhBwjGGnLT01JJNx2b3L8CuVJdWR0fGNOGpqvTjqaUJS03p/CcY6ihpOVQlJ/990ZSecxWGsGMKdMvHOFdJcLCFpJz2ac5R/DJWlK1OpSi7dN7c9is/HOCU5uPBxae7anGG1ZjtSjjDSnb5rckliwGBIcb41w84a0Vw6jKca05OMG4cnbl/taylzworFZXiPF+HcXGHDRVqStw07V6epGKTSv8MpQlv8A9nsy+gTCjcP43pRhT0nKXw9LTakoSglpKStJp7rc3qZWJRjzOrV8Y4Nw/wDXqTw4rT0ktrhNOptWszTUk7/8aWE7MYQvqf5Jwrkpvhble6T26dttxk/xfNPNXTrHM+c8R4z4s9+1JtR3UlFSntW+VRwrlb9TGNYnI2ZMxgwjRqMYcRGK2AxiwsLYTAgs1mMCZmTCYk1msxiB1qNtZuqSvOFyQjYTEAAExADUYxItGMYg/9k=');
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    font-family: 'Open Sans', sans-serif;
}


.wrapper{
    
    background-color: white;
    width: 70vw;
    height: 85vh;
    border-radius: 40px;
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 5px 5px 15px 5px #999999;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input{
        border: 1px solid rgb(194, 194, 236);
        background-color: azure;
        padding: 0;
        margin: 0;
       width: 400px;
        height: 40px;

        
    }

    .img_url{
        background-color: azure;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 1px solid rgb(194, 194, 236);
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0% auto;
       
        .img_url{
           
            width: 100%;
            border-radius: 50%;
        }
    }


   
}