*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;    
    background-repeat: no-repeat;
    background-size: cover;
    img{
        border: 1px solid black;
        width: 100px;
        height: 200px;
    }
}
