.header{
width: 100vw;
height: 50px;
background-color: red;
position: fixed;
top: 0;
left: 0;
}
.title{
    width: 100vw;
    height: 100px;
    background-color: gray;
    color:  black;
    position: fixed;
    position: sticky;
    
    z-index: -1;
}
.title-text{
    color:  black;
    text-align: center;
    padding-top: 60px;
}
.nba img{
position: absolute;
right: 0;
width: 50px;
top: 0;
}
