body{
    padding: 0;
    margin: 0;
}
.menu-bar{
    position: fixed;
    background-color: red;
    width: 100vw;
    height: 50px;
    top: 0;
}
.hiden{
    background-color: gray;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.sticky{
    position: sticky;
    background-color: grey;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
}
.logo{
    position: fixed;
    width: 50px;
    height: 100px;
    top: 5px;
    right: 5px;
}
.text-box{
    width: 100%;
    padding-top: 150px;
}
.content{
    margin: auto;
    width: 75%;
    height: fit-content;
    background-color: rgba(128, 128, 128, 0.548);
}