:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_mid: 30;
    --card_middle: 38;
    --card_large: 48;
    font-family: Helvetica, sans-serif;
}

button{
    border: none;
    background-color: white;
    fill: rgb(65, 65, 65);
    font-size: 16px;
    height: 35x;
}

.header{
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin: auto;
    button{
        img{
            max-height: 60px;
            max-width: 35px;
            box-sizing: border-box;
            border-radius: 50%;
            
        }
        &:hover{
            background-color: rgb(214, 214, 214);
            border-radius: 50px;
        }
    }
    .pin img{
        width: 30px;
        shape-margin: 50px;
        &:hover{
            background-color:rgb(214, 214, 214);
            border-radius: 50px;
        }
    }
    .home{
        background-color: black;
        color: white;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
        width: 77px;
        height: 48px;
        padding-left: 5px;
        text-decoration: none;
        a:link{
            text-decoration: none;
        }
        a:visited{
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }
        a:active{
            text-decoration: none;
        }
        &:hover{
            background-color: black;
            color: white;
        }
        &.two{
            background-color: white;
            color: black;
            &:hover{
                background-color: transparent;
                border-radius: 25px;
            }
        }
        
    }
    .searchbar{
        width: 80%;
        box-sizing: border-box;
        position: relative;
        display: flex;
        padding-left: 10px;
        &:hover{
            input{
                background-color: rgb(190, 190, 190);
            }
        }
        input{
            background-color: rgb(214, 214, 214); 
            border: none; 
            color: rgb(51, 51, 51);  
            font-size: 18px; 
            font-weight: lighter;  
            outline: none; 
            margin: auto; 
            width: 100%;
            height: 48px;
            border-radius: 25px;
            box-sizing: border-box;
            padding-left: 30px;
           
        }
        svg{
            position: absolute;
            left: 25px;
            top: 15px;
            fill: rgb(65, 65, 65);
        }    
    }
}
.feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
    width: 100%;
    margin: 0px;
    margin-top: 80px;
    .post{
        padding: 0px;
        position: relative;
        box-sizing: border-box;
        margin: 15px 10px;
        z-index: 1;
        &:hover{
            button{
                display: block;
                z-index: 2;
            }
        } 
      }
        img{
            width: 236px;
            border-radius: 16px;
            &:hover{
                filter: brightness(50%);
            }
        }
        button{
            font-size: 16px;
            font-weight: bold;
            height: 40px;
            position: absolute;
            border-radius: 25px;
            display: none;
        }
        .more{
            right: 10px;
            bottom: 10px;
            background-color: wheat;
            width: 40px;
        }
        .share{
            right: 60px;
            bottom: 10px;
            background-color: wheat;
            width: 40px;
        }
        .board{
            left: 10px;
            top: 10px;
            fill: white;
            background-color: transparent;
            width: 40px;
        }
    }
    .postlarge{
        grid-row-end: span var(--card_large);
    }
    .postmid{
        grid-row-end: span var(--card_mid);
    }
    .postmiddle{
        grid-row-end: span var(--card_middle);
    }
    .postsmall{
        grid-row-end: span var(--card_small);
    }
    
.thispin{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 1px 1px 20px rgb(224, 224, 224);
    border-radius: 25px;
    padding: 25px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    .pic{
        width: 460px;
        img{
            border-radius: 25px;
            height: 100%;
            width: 100%;
        }   
    }
    .pininfo{
        padding-left: 25px;
        width: 500px;
        height: 550px;
        .miniheader{
            position: relative;
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
            .save{
                position: absolute;
                border-radius: 25px;
                top: 2px;
            }
            .board{
                position: absolute;
                right: 100px;
            }
            .link{
                position: absolute;
                top: 5px;
            }
        }
        .user{
            display: grid;
            img{
                border-radius: 25px;
                grid-column: 1;
            }
            .username{
                font-weight: bold;
                grid-row: 1;
                grid-column-start: 2;
                grid-column-end: 5;
            }
            .followers{
                align-self: start;
                grid-row: 1;
                grid-column-start: 2;
                grid-column-end: 5;
            }
            .follow{
                background-color: rgb(177, 177, 177);
                color: rgb(31, 31, 31);
                font-weight: bold;
                width: 70px;
                height: 40px;
                border-radius: 25px;
                grid-row: 1;
                grid-column: 4;
            }
            .comments{
                grid-column-start: 1;
                grid-column-end: 3;
                font-size: 30px;
                font-weight: bold;
                grid-row: 2;
            }
            .searchbar{
                grid-row: 3;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            .boar{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row: 2;
            }
        }
        .fick{
            position: absolute;
            bottom: 25px;
        }
        
    }
}
.title{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
.suggestion{
    margin-top: 10px;
}
.save{
    background-color:red;
    color: white;
    top: 10px;
    right: 10px;
    width: 70px;
}
@media only screen and (max-width: 920px) {
    body{
        .thispin{
            flex-direction: column;
            width: 550px;
            padding: 0;
            .pic{
                width: 100%;
                img{
                    border-radius: 25px 25px 0px 0px;
                }
            }
        }
    }
  }