body{
  margin: 0;
  padding: 0;
  background-color: rgb(201, 248, 248);
}
form{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 214, 223);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;

}
input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border: 2px solid black;
border-radius: 10px;
}
button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
}