.balloon {
  height: 10vh;
  top:112vh;
  transition: all 4s;
  position: absolute;
  transition-timing-function:ease-in;
}

body {
  background-image: url("./img/skyies.jpg");
  background-size:auto;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: hidden;
}
