.container_headlines {
    background-color: rgb(248, 0, 0);
    width: 100vw;
    height: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    margin-top: 300px;

    h1 {
        font-size: 15px;
        color: rgb(255, 255, 255);
        margin-left: 20px;
        font-family: arial;

    }

    h2 {
        font-size: 15px;
        color: rgb(253, 253, 253);
        font-family: Arial;
        font-weight: bold;
        margin-right: 8px;

    }
}

.container {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 0;


    .mini_container {
        height: 100%;
        width: 200px;
        background-color: rgb(255                                        , 255, 255);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        text-align: right;
        flex-wrap: wrap;
        margin-top: 0;

        img {

            width: 100%;
            height: 60%;


        }



        text {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            position: absolute;
            margin-top: 150px;
            display: flex;
            flex-direction: row;
            margin-right: 50px;

        }

        p {
            font-family: Arial;
            font-weight: bold;
            margin-right: 8px;
        }
    }
}