body{
    margin: auto;

}

.container{
    margin: auto;
    position: absolute;
    transition: all 3000;
}

.baloon{
    position: relative;
    bottom: 10px;
    // top: 0vh;
    // left: 0vW;
   
    img{
        width: 150px;
    }
}