body { min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    .wrapper{
        display: flex;
        flex-direction: column;
        margin: 30px;
        .red{
            display: flex;
            background-color: red;
           
            justify-content: space-between;
            height: 35px;
            align-items: center;
            p{
                color: white;
            }
            h2{
                color: white;
            }
            .right-text{
                padding: 0px 10px;
                font-size: 17px;
                font-weight: bold;
            }
            .left-text{
                padding: 0px 10px;
            }


        }
        .items{
            display: flex;


            .item{
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 1%;
                .images{
                    position: relative;
                }
                #image{
                    position: relative;
                    height: auto;
                    width: 100%;

                }
                #little{
                    
                    position: absolute;
                    height: auto;
                    width: 19%;
                    left: 79%;
                    top: 82%;
                }


            }


        }

        
    }
}