.box{
    height: 300px;
    width: 150px;
    border: 4px solid rgb(48, 18, 155);
    background-color: chartreuse;
    position: absolute;
    top:50vh;
    left:50vw;
    transition: all 1000ms;;
    &:hover{
        transform: rotate(180deg) scale(1.5) ;;
    }
    &:active{
        background-color: rgb(173, 17, 17);
        cursor: grab;
        
    }
} 
