*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    header{
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: black;
            padding: 0 10%;
            .nav-logo{
                border: 5px solid white;
                background-color: white;
                width: 100px;
                height: 35px;
                cursor: pointer;
                margin: 5px 0;
            }
            .nav-links{
                list-style: none;
                li{
                    display: inline-block;
                    padding: 12px 15px;
                    border-right: 1px solid #5a5a5a;
                    margin-left: -5px;
                    a{
                        padding: 10px 0;
                        transition: all 0.3 ease 0;
                    }
                    a:hover{
                        border-bottom: 3px solid #5e5e5e;
                        color: rgba(255, 255, 255,0.9);
                    }
                }
                li:first-child{
                    border-left: 1px solid #5a5a5a;
                }
            }
            button{
                border: none;
                background-color: black;
                padding: 12px 10px;
                border-left: 1px solid #5a5a5a;
                border-right: 1px solid #5a5a5a;
                cursor: pointer;
                a{
                    padding: 10px 0;
                    color: rgba(255, 255, 255,1);
                }
                a:hover{
                    border-bottom: 3px solid #5a5a5a;
                    color: rgba(255, 255, 255,0.9);
                }
            }
        }
    }
}

li, a, button{
    font-family: 'Arial', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}