html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    margin: auto;
    background-color: #fafafa;
}
header{
    margin: 0;
    position: sticky;
    top: 0;
    font-size: 1.5rem;
    background-color: #ffffff;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    width: 100%;
}
header img{
    width: 10rem;
    margin: 1rem;
    align-self: right;
}
header i{
    padding: 25px 10px;
    text-align: right;
}
main{
    width: 100%;
    max-width: 500px;
    background-color: #fafafa;
    margin: auto;
}
.post{
    border: #f0f0f0 1px solid;
    border-radius: 3px;
    margin-bottom: 1rem;
    background-color: #ffffff;
}
.postImg img{
    display: block;
    width: 100%;
}
.postHeader{
    border-bottom: #f0f0f0 1px solid;
}
.userName{
    font-weight:600;
}
.profilePic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline;
    margin:10px;
}
.userName{
    padding: 8px 10px;
}
.likes{
    display: block;
    font-weight: 600;
    padding: 8px 10px;
}
.time{
    color:#adb5bf;
    font-size: 0.8rem;
    display: block;
    padding: 10px;
}
.comment{
    color:#adb5bf;
    display: block;
    padding: 8px 10px;
}
.postImg i{
    font-size: 2rem;
    padding: 10px;
}
.addComment i{
    font-size: 2rem;
    padding: 10px;
}
.addComment{
    border-top: #f0f0f0 1px solid;
}
.addComment span{
    color:#adb5bf;
}
