*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial', sans-serif;
    header{
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: black;
            padding: 0 15%;
            .nav-logo{
                border: 5px solid white;
                background-color: white;
                width: 100px;
                height: 35px;
                cursor: pointer;
                margin: 5px 0;
            }
            .nav-links{
                list-style: none;
                li{
                    display: inline-block;
                    padding: 12px 15px;
                    border-right: 1px solid #5a5a5a;
                    margin-left: -5px;
                    
                    a{
                        color: #fff;
                        padding: 10px 0;
                        transition: all 0.3 ease 0;
                    }
                    a:hover{
                        border-bottom: 3px solid #5e5e5e;
                        color: rgba(255, 255, 255,0.9);
                    }
                }
                li:first-child{
                    border-left: 1px solid #5a5a5a;
                }
            }
            button{
                border: none;
                background-color: black;
                padding: 12px 10px;
                border-left: 1px solid #5a5a5a;
                border-right: 1px solid #5a5a5a;
                cursor: pointer;
                a{
                    padding: 10px 0;
                    color: rgba(255, 255, 255,1);
                }
                a:hover{
                    border-bottom: 3px solid #5a5a5a;
                    color: rgba(255, 255, 255,0.9);
                }
            }
        }
    }
    .BBC-presents{
        padding: 1.5% 15%;
        display: flex;
        justify-content: space-between;
        h1,h2{
            display: inline-block;
        }
        h1{
            color: #5a5a5a;
        }
        h2{
            color: #8c8c8c;
            font-weight: 400;
        }
    }
    .showcase-grid{
        padding: 0 15%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        transition: all 1.5s ease-in-out;
        .item{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            object-fit: cover;
            padding: 0 30px;
            position: relative;
            transition: all 1.5s ease-in-out;
            cursor: pointer;
        }
        .item:nth-child(1){
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)60%),
            url(https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/0B79/production/_123073920_mediaitem123073919.jpg);
            height: 450px;
            &:hover{
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)60%),
                url(https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/0B79/production/_123073920_mediaitem123073919.jpg);
            }
            h2{
                position: absolute;
                bottom: 25%;
                color: #fff;
                font-size: 40px;
                font-weight: 400;
            }
            p{
                position: absolute;
                bottom: 13%;
                color: #d3d3d3;
                font-size: 20px;
                padding: 0 15px 0 0;
            }
            span{
                position: absolute;
                bottom: 6%;
                color: #d3d3d3;
                border-left: 3px solid red;
                padding-left: 10px;
            }
        }
        .item:nth-child(2){
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)60%),
            url(https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/43CD/production/_123075371_1200superzzzgettyimages-1237430569.jpg);
            &:hover{
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)60%),
                url(https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/43CD/production/_123075371_1200superzzzgettyimages-1237430569.jpg);
            
            }
        }
        .item:nth-child(3){
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)60%),
            url(https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/4981/production/_123071881_gettyimages-1356331235.jpg);
            &:hover{
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)60%),
                url(https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/4981/production/_123071881_gettyimages-1356331235.jpg);
            }
        }
        .item:nth-child(4){
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)60%), 
            url(https://ichef.bbc.co.uk/wwhp/304/ibroadcast/images/live/p0/bk/s3/p0bks3c3.jpg);
            &:hover{
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)60%),
                url(https://ichef.bbc.co.uk/wwhp/304/ibroadcast/images/live/p0/bk/s3/p0bks3c3.jpg);
            }
        }
        .item:nth-child(5){
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)60%),
            url(https://ichef.bbc.co.uk/wwhp/304/ibroadcast/images/live/p0/bk/wr/p0bkwrhl.jpg);
            &:hover{
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)60%),
                url(https://ichef.bbc.co.uk/wwhp/304/ibroadcast/images/live/p0/bk/wr/p0bkwrhl.jpg);
            }
            
        }
        .sub-obj{
            h2{
                position: absolute;
                bottom: 25%;
                color: #fff;
                font-size: 25px;
                font-weight: 400;
            }
            span{
                position: absolute;
                bottom: 6%;
                color: #d3d3d3;
                border-left: 3px solid rgb(41, 201, 212);
                padding-left: 10px;
            }
        }
        .grid-col-span{
            grid-column: span 2;
        }
        .grid-col-span{
            grid-row: span 2;
        }
    }
    .titles{
        padding: 3% 15%;
        cursor: pointer;
        .titles-grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            width: 100%;
            gap: 15px;
            .item{

            }
            .r2{
                grid-row: 2 / 3;
            }
        }
        h2{
            border-left: 4px solid red;
            padding-left: 15px;
            font-size: 30px;
            cursor: pointer;
            color: #5a5a5a;
            display: inline-block;
            &:hover{
                color: #000;
            }
        }
    }
}

li, a, button{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}