body{
    display: flex;
    justify-content: space-around;
    div{
        border-style: double;
        border-color: green;
        text-align: center;
        align-items: center;
        padding: 20px;
    }
}
