body{
    background-color: white;
    margin: 0px;
}

//adam// 
.bbclogo{
    display: flex;
    height: 100px;
}
.wrapper h1{
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: green; 
}

    .navbar {
        background-color: rgb(0, 0, 0);
        overflow: hidden;
        padding: 10px;
      }
      
      .navbar a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        right: 100px;
      }


      //inbar//
    .header{
        display: flex;
        height: 50px;
        width: 100%;
        position: fixed;
    
        .logobbc{
            height: 100%;
            display: flex;
        }
      
        ul{
            list-style-type: none;
            margin: 0;
            padding: 14px 16px;
            overflow: hidden;
            background-color: rgb(0, 0, 0);
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            

            li{
                float: left;
                border-right: 1px solid rgb(255, 255, 255);

                a .navi{
                color: white;
                text-align: center;
                padding: 12px 6px;
                text-decoration: none;
                }
            
                //hover color grey rgb(41,41,41)//
                a .navi:hover{
                    background-color: rgb(41, 41, 41);
                }
            }    
        }
    }
    .container{
        
        position: relative;
        top: 200px;
        margin: auto;
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap:  wrap; 
        width: 1000px;      
            
            .article {
                position: relative;
                margin: 5px;
                width: 300px;
    
                img {
                    width: 300px;
                    height: 200px;
                }
    
                span {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    color: black;
                }
            }
    }
    