
.box{
    
    position: fixed;
background-color: blue;
width: 100vw;
height: 60px;

}

.box2{
background-color: rgb(100, 237, 141);
width: 100vw;
height: 90px;
z-index: -1;
padding-top: 80px;
}

p{
    display: flex;
    flex-direction: column;
   justify-items: center;
align-items: center;
padding-top: 15px;
font-size: 20px;

}

.img{
    position: fixed;
    right: 5px;
    top: 5px;
    display: flex;
 margin: auto;
height: 80px;
width: 80px;

}

.sticky{
position: sticky;
top: 1px;
}