.html{
font-size: 20px;

}
.body{
    background-color: rgb(12, 115, 218);
    margin: 0;
}
.wrapper{
    margin: 0 auto;
    background-color: slategrey;
    width: 75vh;
    height: 100vw;
}
img{
width: 100%;
}
h1, h2 ,p{
    margin: 0;
    padding: 5px 20px;
}