body{
    text-align: center;
    background-color: rgba(216, 200, 170, 0.582);
form{
    border:1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    input{
        font-size: 15px;
    }
    button{
        font-size: 10px;
        background-color: rgb(172, 143, 161);
        border: 1px solid black;
        border-radius: 10px;
        padding: 15px;
        margin-top: 15px;
    }
    button:hover{
        cursor: pointer;
    }
}
}