body{
    background-image: url(https://cdn.shoplightspeed.com/shops/622314/files/19096642/670x670x1/monkey-animal-face-luncheon-napkins-16-ct.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    
}

.ballons{
    position: absolute;
    top: 112vh;
    transition: all 8s;
    height: 12vh;
    img{
        height: 100%;
    }
}
