.links {
    color: black;

    a:hover {
        color: blue;
    }
}

h3 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.card {
    width: 300px;
    height: 600px;
    background-color: rgb(53, 51, 51);
    border-radius: 20px;
    margin: auto;
    overflow: hidden;

}

.top_menu {
    width: 300px;
    height: 80px;
    background-color: rgb(70, 71, 75);



    &__figure {
        float: left;
        width: 30px;
        border-radius: 20%;
        text-align: center;
        font-style: bold;
        font-size: 13px;
        color: white;
        text-indent: 0;
        margin: 0.5em;
        padding: 0.5em;

    }

}



.user {
    width: 300px;
    height: 45px;
    background-color: rgb(106, 107, 109);

    display: flex;
    flex-direction: row;


    &__profile {
        img {
            width: 30px;
            border-radius: 50%;
            margin-top: 5px;
            margin-left: 5px;
        }

        &__name {
            color: white;
            margin-left: 35px;
        }

        &--dark {
            background-color: rgb(46, 47, 51);
            height: 45px;
        }
    }
}

//--hodaya--//
.card {
    width: 300px;
    height: 600px;
    background-color: rgb(53, 51, 51);
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
}

.top_nav {
    width: 100%;
    height: 60px;
    background-color: white;


    .user_name {
        position: relative;
        display: flex;
        flex-direction: row;

        img {
            margin-left: 10px;
        }

        .A {
            font-size: 18px;
            margin-left: -24px;
            color: white;
        }

        .name {
            position: absolute;
            margin-left: 60px;
        }
    }
}

.info {
    position: relative;
    width: 100%;
    height: 140px;
    background-color: rgba(128, 128, 128, 0.055);

    .text {
        position: absolute;
        color: rgb(32, 33, 34);
        margin-left: 90px;
    }

    .location_icon {
        img {
            position: absolute;
            width: 30px;
            margin-top: 30px;
        }
    }

    .text2 {
        position: absolute;
        color: white;
        margin-left: 30px;
        margin-top: 40px;
    }

    .text3 {
        position: absolute;
        color: rgb(32, 33, 34);
        margin-top: 70px;
        margin-left: 32px;
    }

    .btn_opt {
        position: absolute;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        bottom: 15px;
        left: 25%;
        align-content: center;

        .btn1 {
            background-color: aqua;
        }

    }
}