.links{
    color: black;
    a:hover{
        color: blue;
    }
}
.card{
    width: 300px;
    height: 600px;
    background-color: rgb(66, 65, 65);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;

    .item{
        background-color: rgba(187, 181, 181, 0.781);
        width: 301px;
        height: 50px;
        margin: 50px;
        margin-left: -1px;
        margin-top: -1px;
       
    }

   
}
