body {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;

    .nav_bar {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 3rem;
        background-color: black;
        justify-content: center;
        align-items: center;


        .search {
            position: relative;
            right: -27%;
        }

        #LINK {
            padding: 15px;
            text-decoration: none;
            color: white;
            font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
            ;
            width: auto;
            height: 100px;
            border-style: solid;
            border-width: thin;


        }

        #LINK:hover {

            border-bottom: 5px solid #aa0a0a;
            z-index: 9999999;
        }

        /*
        ניתן להשתמש בסימן &, למשל:
        #LINK {
            style...

            &:hover {
                style...
            }
        }
        */






        #logo {
            position: absolute;
            width: auto;
            height: 3rem;
            left: 14%;

        }


    }

    .container1 {
        display: flex;
        justify-content: space-evenly;
        flex: 1;


        .item {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.062);
            margin: 10px;

        }
    }

    .container2 {
        display: flex;
        justify-content: space-evenly;
        flex: 1;

        .item {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.062);
            margin: 10px;

        }


    }


    #image {
        width: 100%;
        height: 160px;
    }






}