body{
        // height: 100vh ;
        background: linear-gradient(to left, #e7ddd4, teal);
        text-align:justify;
        // font-family: 'Raleway', sans-serif;
        // box-sizing: border-box;
        
*{      
        font-family:monospace;
        font-size: 1rem;
        box-sizing: border-box;
        button{
            border-radius: 15%;
        }
       button:hover{
            color: rgb(247, 110, 12);
            background-color: cornflowerblue;
            transition: 200ms;
            cursor: pointer;}
            :focus {
                color: hotpink;
            }

            
        }
            
        
        }
    
    
   
    //Admin Side
    .Server_wrapper{
        margin-top: 10px;
        display: flex;
        align-items: left;
        justify-content: left;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;       
        text-transform:uppercase;
        button{ 
            color: gray;
            border-radius: 10%;
           
        }
        .input_fields{
            display: flex;
            flex-direction: column;
            background-color: #faedcd54;
            box-shadow: 2px 2px 5px #faedcd6e;
            padding: 15px;
            border-radius: 10%;
            gap: 5px;
            height: 10rem;
            width: 15rem;
            // width: 248px;
            margin-bottom: 0;
            color: #3f898a;
            letter-spacing: .05em;
            text-shadow: 0 1px 0 #133d3e;
            border-top-color: #9fb5b5;
            border-left-color: #608586;
            border-bottom-color: #1b4849;
            border-right-color: #1e4d4e;
            :focus { background-color: rgba(0, 0, 0, 0.226); }
        }
        #root{
            display: flex;
            flex-direction: column;
            gap: 50px;
            color: blanchedalmond;
            cursor: pointer;   
           
            .upload-product{
                background-color: #9c67f177;
                height: 12rem;
                width: 25rem;
                display: flex;
                border-radius: 2rem;
                box-shadow: 3px 3px 5px  rgba(245, 222, 179, 0.678);
                position: relative;
                // &:hover {opacity: 0.5; background-color: chartreuse; overflow:hidden}
                .outOfStuckText{
                    position: absolute;
                    font-size: 2em;
                    top: 8em;
                    left: 12em;
                    transform: translate(-96%, -133%);
                    width: 100%;
                    height: 100%;
                    border-radius: 2rem;
                }
                .productInfo{ 
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    font-size: larger;
                    position: relative;
                    #stock_Text{
                        position: absolute;
                        top: 4em;
                        width: 100%;
                    }
                    .NumInput{
                        position: absolute;
                        top: 10rem;
                        width: 4rem;
                        left: 30%;
                    }
                }
            }
            .upload-product--blur{
                opacity: 0.5; background-color: rgb(146, 148, 144); overflow:hidden
            }
            .updateProduct{
            background-color: #faedcd54;
            box-shadow: 2px 2px 5px #faedcd6e;
            padding: 15px;
            border-radius: 10%;
            gap: 5px;
            height: 10rem;
            width: 15rem;
            row-gap: 5px;
                
            }
            img{
                width: 100%;
                height: 100%;
                border-radius: 2rem 0 0 2rem;
                overflow: hidden;
            }
        }
    }
     //Client Side 
     
     #nav{
        height: 50px;
        width: 100%;
        background-color: teal;
    }
     .top_wrapper {
         margin-top: 10vh;
         
         background-color: rgba(245, 222, 179, 0.733);
         
        height: 300px;
        width: 100%;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;  }
    .top_wrapper :hover {
            cursor: pointer;
            opacity: 0.7;
            transition: 500ms;
        }     
        
    #a:hover {
        cursor: pointer;
        background-color: teal;
        opacity: 0.9;
        transition: 500ms;
        
    }
    
    
    .category {
        display: flex;
        flex-direction: column;        
        width: 300px;
        
        img{
            width: 100%;
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
            img:hover{
                background-color:rgba(247, 110, 12, 0.39)
            }
        }
        
        
            
        }
   

    
    .Client_wrapper{
        height: 70vh;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 150px;
        
    
    }

        
    .item{
            background-color: rgb(255, 220, 233);
            height: 300px;
            width: 150px;
            border-style:solid black 2px;
            gap: 30px;
            perspective: 50px;
            box-shadow: gray 2px;
            
        }
        
        
    
    

   











