body{height: 100vh;

.Server_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .input_fields{
        background-color: aqua;
        height: 10rem;
        width: 20rem;
    }
    .display_card{
        background-color: grey;
        height: 13rem;
        width: 35rem;
        display: flex;
        #image_output{
            width: 375px;
            
            border: solid black;
            background-position: center;
            background-size: cover;
        }
    }

}












}