body{
        height: 100vh ;
        background: linear-gradient(to left, #ff7900, #8800ff);
        text-align:center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .Server_wrapper{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;       
        button{ 
            color: gray;
            border-radius: 10%;
            ::-webkit-input-placeholder{
                color: pink; } 
        }
        .input_fields{
            display: flex;
            flex-direction: column;
            background-color: #faedcd54;
            box-shadow: 2px 2px 5px #faedcd6e;
            padding: 15px;
            border-radius: 10%;
            gap: 5px;
            height: 10rem;
            width: 15rem;
            // width: 248px;
            margin-bottom: 0;
            color: #3f898a;
            letter-spacing: .05em;
            text-shadow: 0 1px 0 #133d3e;
            border-top-color: #9fb5b5;
            border-left-color: #608586;
            border-bottom-color: #1b4849;
            border-right-color: #1e4d4e;
            :focus { background-color: rgba(0, 0, 0, 0.226); }
        }
        #root{
            display: flex;
            flex-direction: column;
            gap: 50px;
            color: blanchedalmond;
            cursor: pointer;
            
            .upload-product{
                background-color: #240046;
                height: 12rem;
                width: 25rem;
                display: flex;
                border-radius: 2rem;
                box-shadow: 2px 2px 5px  rgba(67, 6, 93, 0.721);
                position: relative;
                // &:hover {opacity: 0.5; background-color: chartreuse; overflow:hidden}
                
                .outOfStuckText{
                    position: absolute;
                    font-size: 2em;
                    top: 8em;
                    left: 12em;
                    transform: translate(-96%, -133%);
                    width: 100%;
                    height: 100%;
                    border-radius: 2rem;
                    
                }
                
                .test2{ 
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    
                    align-items: center;
                    font-size: larger;
                    position: relative;
                   
                    #stock_Text{
                        position: absolute;
                        top: 4em;
                        width: 100%;
                    }
                    .NumInput{
                        position: absolute;
                        top: 9em;
                        width: 4rem;
                    }
                }
            }
            .upload-product--blur{
                opacity: 0.5; background-color: rgb(146, 148, 144); overflow:hidden
            }
            .updateProduct{
                display: none;
                font-size: larger;
                
            }
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 2rem 0 0 2rem;
                overflow: hidden;
            }
         
        }

    }












}