body{height: 100vh ;
    
   
    .Server_wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        .input_fields{
            background-color: aqua;
            height: 10rem;
            width: 20rem;
        }

        #root{
            display: flex;
            flex-direction: column;
            gap: 50px;
            .test{
                background-color: purple;
                height: 100%;
                width: 90%;
                display: flex;
                border-radius: 2rem;
                box-shadow: 2px 2px 5px  rgba(67, 6, 93, 0.721);
                .test2{ 
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    font-size: larger;
                }
            }
            .updateProduct{
                display: none;
                font-size: larger;
            }
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 2rem 0 0 2rem;
            }
            

        



        }
    

    }












}