    // #canvas {
    //     width: 100vw;
    //     height: 100vh;
    //     position: relative;
    //     .spaceRock {
    //         position: relative;
    //         display: inline-block;
    //         height: 10vh;
    //         width: 10vw;
    //         transition: all 10s;
    //         img {
    //             width: 100%;
    //             height: 100%;
    //         }
    //     }
    // }
    // .flier {
    //     cursor: pointer;
    //     // position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     width: 40vw;
    //     height: 40vh;
    //     transition: all 1s;
    //     img {
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
    span {
        display: inline-block;
        position: absolute;
        transition: all 1000ms ease-in-out;
        // width: 100vw;
        // height: 100vh;
        img {
            width: 100%;
            height: 100%;
            /* ENDLESS ROTATE */
            animation: rotate 4s linear infinite;
            @keyframes rotate {
                to {
                    transform: rotate(360deg);
                }
            }
            width: 24vw;
            height: 24vh;
        }
    }