.inlo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: sticky;
    top: 10px;
}
.post1{ 
    background-color: rgb(250, 249, 249);
    border-radius: 5px;
    max-width: 500px;
    max-height: 750px;  
    position: absolute;
    left: 45%;
    margin-left: -50px;  
    top: 40%;
    margin-top: 50px;
}
.avatar{
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.dots{
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: right;
}
.funcat{
    height: 400px;
    
}
.heart{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    float: left;
}
.comment{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    float: left;
}
.share{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    float: left;
}
.bookmark{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    float: right;
}
.gray{
    color: gray;
}
.last{
    vertical-align: middle;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left; 
}
.post2{
    background-color: rgb(250, 249, 249);
    border-radius: 5px;
    max-width: 500px;
    max-height: 750px;  
    position: absolute;
    left: 45%;
    margin-left: -50px;  
    top: 150%;
    margin-top: 20px;
}
.post3{
    background-color: rgb(250, 249, 249);
    border-radius: 5px;
    max-width: 500px;
    max-height: 750px;  
    position: absolute;
    left: 45%;
    margin-left: -50px;  
    top: 260%;
    margin-top: 10px; 
}