*{
    margin: 0;
    padding: 0;
}

#box{
    width: 300px;
    height: 300px;
    background-color: brown;
    display: flex;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    #divScore{
        font-size: 30px;
        margin: 0 auto;
    }
}

.shopWrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    #item{
        background-color: beige;
        padding: 30px;
        border: 1px solid black;
        cursor: pointer;
        .description{
            text-decoration: underline;
            font-weight: 500;
            font-size: 22px;
        }
    }
}

