body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    .wrapper {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .top-nav-bar {
            width: 100vw;
            height: 5em;
            background-color: rgba(0, 0, 0, 0.842);
            z-index: 1;
            color: whitesmoke;
            position: fixed;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            box-sizing: border-box;
            .left-nav-side {
                display: flex;
                list-style-type: none;
                align-items: center;
                li {
                    padding: 1em;
                }
            }
            .right-nav-side {
                padding-right: 4em;
                input {
                    padding: 0.8em;
                    width: 17em;
                    border-radius: 0.4em;
                    border: none;
                    background-color: whitesmoke;
                }
                i {
                    position: absolute;
                    right: 4em;
                    top: 1.3em;
                    color: rgb(143, 143, 143);
                }
            }
        }
        .hero {
            display: flex;
            justify-content: center;
            margin: auto;
            height: 60vh;
            width: 100vw;
            .hero-image {
                background-image: url("https://images.unsplash.com/photo-1576941026827-bccc82341bdd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2231&q=80");
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
            }
            h1 {
                position: absolute;
                top: 3.2em;
                color: white;
                font-size: 3.5em;
            }
        }
        .intro {
            width: 80ch;
            margin: auto;
            max-width: 60vw;
            h2 {
                font-size: 1.8em;
                text-align: center;
            }
            .bolded {
                text-align: center;
                font-weight: 500;
            }
        }
        main {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            margin: auto;
            width: 100vw;
            .card {
                background-color: rgb(255, 255, 255);
                width: 35ch;
                height: 32em;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                margin: 1em;
                margin-bottom: 5em;
                border-radius: 1em;
                .text {
                    padding: 1em;
                    p {
                        color: rgb(129, 129, 129);
                        padding-top: 0;
                        margin-top: 0;
                    }
                    h3 {
                        margin-top: 0.3em;
                    }
                }
                img {
                    border-radius: 1em 1em 0 0;
                }
            }
        }
    }
}