.header{
    background-color: black;
    height: 40px;
    display: flex;
    padding-left: 150px;
    .sub{
        border-left: rgb(143, 141, 139) solid 1px;
        width: 80px;
        height: 30px;
        justify-content: space-around;
        color: white;
        text-align: center;
        padding-top: 10px;
        :hover{
            border-bottom: 4px blueviolet solid;
        }
      
    }
    .logo{
        border-left: none;
        padding-top: 0px;
    }
    .sign{
        width: 160px;
    }
    img{
        height: 40px;
    }
}  
.main{

    .title{
        border-left: red solid 4px;
        padding-left: 5px;
        margin-top: 50px;
        margin-left: 50px;
        font-size: 30px;
        font-weight: bold;
    }
    .story{
        img{

        }
        .title{

        }
        .subtitle{

        }
        .subject{

        }
    }
}
    

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    }