.headline{
    background-color: red;
    height: 5vh;
    
    border: 1px solid red;
    margin-top: 70px;
    position: relative

    .first{
        float: left;
    }
    .second{
       
    }

}