.redhead{
   box  
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.first{
    width: 50%;
    float: right;

}
.second{
    width: 50%;
    float: left;
}