.instapic img{
    width: 1000px;
    height: 55px;
    margin: auto;
    border: 0.1px solid gray;
    display: flex;

}
.myBox{
    margin: auto;
    width: 1000px;
  }
.myBox wrapper img{
    background-color: whitesmoke;
    width: 100%;
    height:200px;
}
.myBox picture img{
    background-color: whitesmoke;
    width: 100%px;
    height: 200px;
    display: block;
}
.myBox footer img{
    width: 100%;
    height: 150px;
    display: block; 
}
#text{
    display: flex;
    height:100px;
    width:1000px;
    border: 0.05px solid rgb(241, 233, 233)
}
#text img{
    width: 30px;
    height: 30px;
    justify-content: left;
    margin-left: 10px;
    border:none;
    margin-top: 20px;
}
#text p{
    width:100%;
    font-size: 24px;
    text-align:left;
    margin-left:40px ;
    font-family: 'David';
    color:grey;
}
#text h1{
    width: 100%;
    font-size: 16px;
    font-family: 'Lobster';
    color:royalblue;
    text-align: right;
    margin-right: 10px;
}.myBox spaceholder{
    height: 30px;
}