#rapper{
    width: 90vw;
    height: 90vh;
    position: relative;
    .astroid{
        position: absolute;
        transition: all 5s;
        img{
            height: 200px; 
            width: 200px;
        }
    }
    .explode{
        position: absolute;
        display: none;
        img{
            position: absolute;
            height: 55px;
        }
    }
}
