body {
    background-color: aqua;

}


.wrapper {
    border: 1px solid navy;

    .box {
        width: 100px;
        height: 100px;
        background-color: navy;
        margin: 1px;

        p {
            color: white;
            font-size: 6px;
        }
    }
}

.card{
    border-radius: 10px;
    background-color: white;
    margin: 10px;

    img{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
    }

    // .card__text{
    &__text{
        padding: 20px;

        h3{
            font-style: italic;
            //h3:hover
            &:hover{
                background-color: gray;
            }
        }
        p{
            color:rgb(80, 80, 80);
            font-size:small;

            span{
                font-weight: bold;
            }
        }
    }
}

