    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        h1 {
            font-size: 36px;
            margin: 24px 0 0 0;
        }
        p {
            font-size: 14px;
        }
        .icon {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 3em;
            width: 3em;
            border-radius: 50px;
            fill: gray;
            &:hover {
                background-color: rgb(223, 223, 223);
                cursor: pointer;
            }
        }
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            width: 100vw;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            z-index: 1;
            padding: 0 2em;
            position: fixed;
            .left-nav {
                .logo {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    height: 3em;
                    width: 3em;
                    border-radius: 50px;
                    &:hover {
                        background-color: rgb(223, 223, 223);
                        cursor: pointer;
                    }
                    .logo--pin {
                        fill: currentColor;
                        color: rgb(233, 0, 0);
                        width: 25px;
                    }
                }
                .home-btn {
                    width: 4.8em;
                    height: 3em;
                    padding: 1em;
                    line-height: 1;
                    background-color: black;
                    color: white;
                    border-radius: 50px;
                    font-weight: 600;
                    font-size: 15px;
                }
                a {
                    text-decoration: none;
                    .inner-page-btn {
                        background-color: white;
                        color: black;
                        font-weight: 700;
                        font-size: 15px;
                        &:hover {
                            background-color: rgb(223, 223, 223);
                            cursor: pointer;
                        }
                    }
                }
            }
            .material-icons {
                position: absolute;
                left: 8.2em;
                padding: 0.5em;
                border-radius: 50px 0 0 50px;
            }
            #site-search {
                width: 80rem;
                height: 48px;
                background-color: rgb(233, 233, 233);
                border: none;
                border-radius: 50px;
                margin-left: 2em;
                &:hover {
                    background-color: rgb(223, 223, 223);
                    cursor: pointer;
                }
            }
            .right-nav {
                .profile {
                    padding-left: 0.3em;
                }
            }
            .my-button {
                background-color: transparent;
                border: 10px;
                color: black;
                cursor: pointer;
                font-size: 30px;
                margin-left: 32px;
                float: left;
                line-height: 70px;
                display: none;
            }
        }
        .inline {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.5em 0 0 0.5em;
        }
        /* GRID */
        .related-items {
            text-align: center;
            padding-top: 3em;
        }
        .btn {
            width: 5.5em;
            height: 3.5em;
            background-color: red;
            color: white;
            padding: 0.5em;
            border: none;
            border-radius: 50px;
            z-index: 0;
            font-weight: 600;
            font-size: 15px;
        }
        .grid-wrapper {
            padding: 6.3em 4em;
            display: grid;
            grid-gap: 20px;
            row-gap: 2.8em;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-template-rows: auto;
            grid-auto-flow: dense;
            /* ITEM STYLE */
            .item {
                display: flex;
                flex-direction: column;
                .card {
                    position: relative;
                    background: rgb(0, 0, 0);
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }
                .first,
                .second,
                .third,
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    margin-bottom: 0.4em;
                    &:hover {
                        opacity: 0.6;
                    }
                }
                .cardverLap {
                    position: relative;
                    z-index: 1;
                }
                .mybuttonoverlap {
                    position: absolute;
                    z-index: 0;
                    top: 2em;
                    display: none;
                    right: 2em;
                }
                .card:hover .mybuttonoverlap {
                    display: block;
                }
                .gif {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    min-height: 14em;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 0.4em;
                }
                /* GIF'S */
                .first {
                    background-image: url("/HTML-CSS/13-FinalPesonalProject/Bella/giphy.gif");
                }
                .second {
                    background-image: url("/HTML-CSS/13-FinalPesonalProject/Bella/giphy 2.gif");
                }
                .third {
                    background-image: url("/HTML-CSS/13-FinalPesonalProject/Bella/giphy 3.gif");
                }
                /* FROFILE CAPTION (UNDER IMAGE) */
                .avatar {
                    width: 32px;
                    height: 32px;
                    border-radius: 50px;
                    background-color: rgb(236, 236, 236);
                    border: 1px solid rgb(235, 235, 235);
                    margin-right: 0.3em;
                }
                h4 {
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0 0.3em 0 0.3em;
                }
            }
            .reaction-icons {
                img {
                    width: 17px;
                    height: 17px;
                    margin-right: 0.2em;
                }
            }
            /* ITEM TYPES */
            .tall {
                grid-row: span 2;
            }
            .big {
                grid-column: span 1;
            }
            .wide {
                grid-row: span 2;
            }
        }
        .wrapper {
            padding: 2em 4em;
        }
        .split-wrapper {
            padding: 7em 0;
            .main-card {
                display: flex;
                flex-wrap: wrap;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background-color: white;
                width: 509px*2;
                margin: auto;
                border-radius: 30px;
                .main-image {
                    width: 508px;
                    height: 671px;
                    border-radius: 30px 0 0 30px;
                }
                .main-content {
                    width: 508px;
                    height: 671px;
                    padding: 2.3em;
                    .top-nav-bar {
                        display: flex;
                        justify-content: space-between;
                        .left {
                            margin-bottom: 1em;
                            display: flex;
                            .icon {
                                margin-left: 0.4em;
                            }
                        }
                    }
                    .web-link {
                        color: rgb(68, 68, 68);
                    }
                    h1 {
                        margin-bottom: 0.4em;
                    }
                    p {
                        color: rgb(107, 107, 107);
                    }
                    .profile__image {
                        width: 48px;
                        height: 48px;
                        .main-image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50px;
                        }
                    }
                    .user-profile-info {
                        margin: 24px 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .profile-left {
                            display: flex;
                            align-items: center;
                            .profile-info {
                                display: flex;
                                flex-direction: column;
                                padding-left: 0.5em;
                            }
                        }
                        .btn-follow {
                            background-color: rgb(233, 233, 233);
                            color: black;
                        }
                    }
                    .caption {
                        p {
                            font-size: 12px;
                            padding: 2em 0;
                        }
                    }
                    .comments-heading,
                    .add-comment,
                    .card-footer {
                        display: flex;
                        align-items: center;
                    }
                    .comments {
                        padding: 1em 0;
                        .comment-svg-icon {
                            transform: rotate(90deg)
                        }
                        .add-comment {
                            input {
                                width: 49ch;
                                height: 48px;
                                padding: 1.5em 2em;
                                margin-left: 1em;
                                border-radius: 50px;
                                border: 1px solid rgb(192, 192, 192);
                            }
                        }
                    }
                    .profile__image__s {
                        width: 32px;
                        height: 32px;
                        .main-image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50px;
                        }
                    }
                    .card-footer {
                        margin-top: 2.5em;
                        .footer {
                            font-weight: 400;
                        }
                        .profile__image__s {
                            margin-right: 0.5em;
                        }
                    }
                }
            }
            @media screen and (max-width: 1440px) {
                nav {
                    #site-search,
                    .search {
                        width: 90vh;
                    }
                }
            }
        }
    }