        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html,
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 80px;
                width: 100vw;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                z-index: 1;
                padding: 0 2em;
                position: fixed;
                .left-nav {
                    .logo {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        height: 3em;
                        width: 3em;
                        border-radius: 50px;
                        &:hover {
                            background-color: rgb(223, 223, 223);
                            cursor: pointer;
                        }
                        .logo--pin {
                            fill: currentColor;
                            color: rgb(233, 0, 0);
                            width: 25px;
                        }
                    }
                    .home-btn {
                        width: 4.8em;
                        height: 3em;
                        padding: 1em;
                        line-height: 1;
                        background-color: black;
                        color: white;
                        border-radius: 50px;
                    }
                }
                .search {
                    padding: 0.5em;
                    height: 48px;
                    background-color: rgb(233, 233, 233);
                    border-radius: 50px 0 0 50px;
                    margin-left: 0.5em;
                }
                #site-search {
                    width: 1240px;
                    height: 48px;
                    background-color: rgb(233, 233, 233);
                    border: none;
                    border-radius: 0 50px 50px 0;
                    margin-left: 0;
                    &:hover {
                        background-color: rgb(223, 223, 223);
                        cursor: pointer;
                    }
                }
                .right-nav {
                    .icon {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        height: 3em;
                        width: 3em;
                        border-radius: 50px;
                        fill: gray;
                        &:hover {
                            background-color: rgb(223, 223, 223);
                            cursor: pointer;
                        }
                    }
                    .profile {
                        padding-left: 0.3em;
                    }
                }
            }
            .inline {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0.5em 0 0 0.5em;
            }
            /* GRID */
            .grid-wrapper {
                padding: 2em 8em;
                display: grid;
                grid-gap: 20px;
                row-gap: 2.8em;
                grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
                grid-template-rows: auto;
                grid-auto-flow: dense;
                padding-top: 6em;
                /* ITEM STYLE */
                .item {
                    display: flex;
                    flex-direction: column;
                    .card {
                        position: relative;
                        background: rgb(0, 0, 0);
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                    }
                    .first,
                    .second,
                    .third,
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 20px;
                        &:hover {
                            opacity: 0.6;
                        }
                    }
                    .cardverLap {
                        position: relative;
                        z-index: 1;
                    }
                    .mybuttonoverlap {
                        position: absolute;
                        z-index: 2;
                        top: 2em;
                        display: none;
                        right: 2em;
                    }
                    .card:hover .mybuttonoverlap {
                        display: block;
                    }
                    .btn {
                        width: 5em;
                        height: 3em;
                        background-color: red;
                        color: white;
                        padding: 0.5em;
                        border: none;
                        border-radius: 50px;
                        z-index: 0;
                    }
                    .gif {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 20px;
                        min-height: 14em;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    /* GIF'S */
                    .first {
                        background-image: url("/HTML-CSS/13-FinalPesonalProject/Bella/giphy.gif");
                    }
                    .second {
                        background-image: url("/HTML-CSS/13-FinalPesonalProject/Bella/giphy 2.gif");
                    }
                    .third {
                        background-image: url("/HTML-CSS/13-FinalPesonalProject/Bella/giphy 3.gif");
                    }
                    /* FROFILE CAPTION (UNDER IMAGE) */
                    .avatar {
                        width: 32px;
                        height: 32px;
                        border-radius: 50px;
                        background-color: rgb(236, 236, 236);
                        border: 1px solid rgb(235, 235, 235);
                        margin-right: 0.3em;
                    }
                    h4 {
                        font-size: 14px;
                        font-weight: 400;
                        padding: 0 0.3em 0 0.3em;
                    }
                }
                .reaction-icons {
                    img {
                        width: 17px;
                        height: 17px;
                        margin-right: 0.2em;
                    }
                }
                /* ITEM TYPES */
                .tall {
                    grid-row: span 2;
                }
                .big {
                    grid-column: span 1;
                }
                .wide {
                    grid-row: span 2;
                }
            }
        }