#navbar {
  overflow: hidden;
  background-color: #0a0a0a;
  width: 100vw;
}

#navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-logo img {
  width: 80px;
  height: 30px;
}

.header {
  background-color: #f4d244;
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  margin-left: 80px;
  margin-top: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header .nabar-small {
  position: -webkit-sticky;
  position: sticky;
}

.header .nabar-small a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 70px;
  margin-top: 60px;
}

.big_article {
  width: 800px;
  height: 300px;
  background-color: white;
  margin: auto;
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
}

.big_article img {
  width: 60%;
  height: 100%;
  position: absolute;
  padding: 10px;
}

.big_article h2 {
  font-size: 40px;
  color: black;
  position: absolute;
  margin-left: 480px;
  font-family: 'Segoe UI';
  font-weight: bold;
  text-align: center;
}

.big_article p {
  color: black;
  position: absolute;
  margin-left: 480px;
  margin-top: 125px;
  font-family: 'Segoe UI';
  font-weight: lighter;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.container_articles {
  background-color: white;
  width: 100vw;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 20px;
}

.container_articles .article {
  background-color: white;
  height: 280px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.container_articles img {
  width: 300px;
  height: 200px;
}

.container_articles h3 {
  color: black;
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: lighter;
}

.container_articles h2 {
  font-size: 30px;
  color: black;
  position: absolute;
  margin-left: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

.container_articles .timeago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin-left: o;
}

.container_articles .timeago p {
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: lighter;
  position: absolute;
  margin-left: 35px;
  margin-top: 18px;
  color: rgba(10, 10, 10, 0.541);
}
/*# sourceMappingURL=style.css.map */