body {
    background-color: #fafafa;

    .post {

        width: 600px;
        height: 850px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        background-color: #fff;
        border: ridge;
        border-radius: 1%;

        .header {
            .profilLogo {
                float: left;
                border-radius: 50%;
                width: 30px;
            }

            .profileName {
                flex-flow: column;
                font-size: 20px;
            }

            .location {
                font-size: 15px;
                font-style: normal;

            }

            .menu {
                float: right;
                width: 15px;
            }

            .postImg {
                width: 100%;
            }


        }

        .footer {
            float: left;
            width: 100%;

            img {
                width: 20px;
            }

            .footer-right {
                float: right;
            }


        }


        .discription {
            font-size: 14px;
            .likes_count {
                font: bold;
            }
        }

        .comments {
            color: gray;
        }

        .comments_input {
            width: 80%;
            height: 100%;
            border: none;
            outline: none;
        }

        .post_comment img {
            width: 20px;
        }

        .post_comment {
            float: left;
            border: none;
        }

        .post_comment_btn {
            float: left;
            font-size: 16px;
            color: blue;
        }

    }

}