body{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: red;
    .box{
        position: absolute;
        width:50px;
        height:50px;
        background-color: black;
        display: inline-block;
    }
}