body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
   background-color: rgb(255, 255, 255);
    border: 1px solid #dbdbdb;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.avatar img{
max-width: 35px;
margin: 10px;
}

.head{
display: flex;
flex-direction: row;
align-items: center;
}

.user-name{
    font-size: 8px;
}

.dots{
    position: relative;
    left: 400px;
    bottom: 5px;
    font-size: 25px;
}

.container img{
    width: 100%;
}

.like{
position: relative;
right: 230px;
}

.simania{
    position: relative;
    left: 550px;
    bottom: 38px;
}

.name-comment{
    font-weight: bold;
    position: relative;
    bottom: 50px;
}

