body,
html {
    margin: 0%;
    font-family: 'Neonderthaw', cursive;
    font-family: 'Open Sans', sans-serif;
}

.menu {
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(118, 118, 118);
    font-size: 30px;
    border-bottom: 1px solid rgb(246, 246, 246);
    box-shadow: 0px 0px 6px -2px #bdbdbd;
    position: fixed;
    top: 0px;
    z-index: +1;
    background-color: white;

    &__left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;

        &__logo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;


            img {
                width: 50%;
                display: block;
                margin: auto;
            }

            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }
        }

        &__home {
            height: 30px;
            background-color: black;
            border: none;
            font-size: 1rem;
            color: white;
            padding: 25px 18px;
            border-radius: 30px;
            font-weight: bolder;
            text-align: center;
            line-height: 1px;

            &:hover {
                cursor: pointer;
            }

            &--inpicture {
                background-color: white;
                color: black;

                &:hover {
                    background-color: rgb(233, 233, 233);
                    cursor: pointer;
                }
            }
        }
    }

    &__search {
        width: 95%;


        .search_feild {
            position: relative;

            .fa-search {
                position: absolute;
                font-size: 15px;
                top: 16px;
                left: 8px;
            }

            input[type=text] {
                width: 95%;
                padding: 6px;
                border: none;
                margin-top: 8px;
                margin-right: 16px;
                font-size: 17px;
                background-color: rgb(239, 239, 239);
                border-radius: 20px;

                &:hover {
                    background-color: rgb(223, 223, 223);
                }
            }
        }
    }

    &__icons {
        padding: 0px 0px;
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 25px;

        &__notifications {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;

            .fa-bell {
                margin: auto;
            }

            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }
        }

        &__inbox {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;

            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }

            .fa-comment-dots {
                margin: auto;
            }
        }

        &__user {

            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;

            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }

            &__container {
                margin: auto;
                width: 30px;
                height: 30px;
                background-color: rgb(239, 239, 239);
                border-radius: 50%;
                color: 111111;
                font-weight: bolder;
                font-size: 15px;
                display: flex;
                justify-content: center;
                line-height: 30px;
            }
        }

        &__more_user {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            font-size: 1.5rem;

            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }

            .fa-chevron-down {
                margin: auto;
            }
        }
    }
}

.filler {
    width: 100vw;
    height: 80px;
}

.content {
    width: 90vw;
    margin: auto;
    column-width: 250px;
    -webkit-column-break-inside: avoid;

}

.img_container {
    width: 250px;
    -webkit-column-break-inside: avoid;
    position: relative;
    transition: .5s ease;
    backface-visibility: hidden;

    img {
        width: 100%;
        border-radius: 30px;
    }

    &:hover {
        cursor: pointer;
        filter: brightness(0.5);

    }

    p {
        padding-left: 10px;

    }

}

.menu_buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 50px;
    row-gap: 10px;
    font-size: 30px;
    text-align: center;
    color: rgb(71, 71, 71);
    align-items: center;
    line-height: 50px;

    &__plus {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid ghostwhite;
    }

    &__question {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid ghostwhite;
    }
}

// in picture design

.picture_card {
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0px 0px 6px -2px #b9b9b9;
    border-radius: 40px;
    display: flex;

    img {
        border-radius: 40px;
        padding: 20px;
        width: 50%;
    }

    .text_wrapper {
        padding: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;

        &__icon_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__left {
                width: 150px;
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                align-items: center;

                &__menu {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: rgb(233, 233, 233);
                        cursor: pointer;
                    }
                }

                &__send {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    &:hover {
                        background-color: rgb(233, 233, 233);
                        cursor: pointer;
                    }
                }

                &__link {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: rgb(233, 233, 233);
                        cursor: pointer;
                    }
                }

            }

            &__right {
                display: flex;
                width: 180px;
                justify-content: space-between;
                align-items: center;


                .save {
                    background-color: rgb(230, 0, 35);
                    border: none;
                    padding: 12px 15px;
                    font-size: 15px;
                    border-radius: 40px;
                    color: white;
                    font-weight: bolder;

                    &:hover {
                        background-color: rgb(163, 0, 24);
                    }
                }

            }
        }

        .divider {
            height: 60px;
        }

        &__wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__post_user {
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                    border-radius: 50%;
                }

                &__container {
                    display: flex;
                    flex-direction: column;

                    h6 {
                        margin: 0%;
                        padding: 0%;
                    }

                    p {
                        margin: 0%;
                        padding: 0%;
                    }
                }
            }

            .follow {
                border: none;
                background-color: rgb(239, 239, 239);
                width: 80px;
                height: 50px;
                font-size: 15px;
                border-radius: 40px;
                font-weight: bolder;

                &:hover {
                    background-color: rgb(207, 207, 207);
                }

            }

        }

        &__comments {
            &__header {
                display: flex;
                align-items: center;

                h3 {
                    font-weight: bold;
                    padding-right: 10px;
                }
            }

            &__add {
                display: flex;

                input {
                    border: 1px solid rgb(216, 216, 216);
                    border-radius: 40px;
                    width: 70%;
                }
            }
        }
    }


}

.morelikethis {
    width: fit-content;
    padding-top: 40px;
    margin: auto;

}

.mobile_menu {
    width: 100%;
    display: none;

    &__container {
        width: 300px;
        height: 50px;
        background-color: white;
        border: 1px solid grey;
        border-radius: 40px;
        position: fixed;
        bottom: 30px;
        z-index: +1;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 30px;
        align-items: center;
        color: #6e6e6e;
    }
}

@media only screen and (max-width: 768px) {

    .menu,
    .filler {
        display: none;
    }

    .content {
        width: 99vw;
        margin: auto;
        column-width: 170px;
        -webkit-column-break-inside: avoid;

    }

    .img_container {
        width: 170px;
        -webkit-column-break-inside: avoid;
        position: relative;
        transition: .5s ease;
        backface-visibility: hidden;

    }

    .menu_buttons {
        display: none;
    }

    .mobile_menu {
        display: contents;
    }

    .picture_card {
        width: 100%;
        box-shadow: none;
        border-radius: 0px;
        display: flex;
        margin: 0%;
        padding: 0%;
        flex-direction: column;

        img {
            border-radius: 0px;
            padding: none;
            width: 100%;
            padding: 0%;
        }
    }
}