html,body{
    margin: 0px;
}


.wrapper{
    height: 100vh;
    width: 100vw;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(0, 0, 0);
margin: auto;
}

@media only screen and (max-width: 1440px) {
   
    .wrapper{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: rgb(112, 5, 5);
        color: seashell;
        
        h1{
            color: chocolate;
        }
        }
    }

@media only screen and (max-width: 768px) {
  
    .wrapper{
       background-color: salmon;
       color: black;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }
  
  @media only screen and (max-width: 440px) {
    .wrapper{
        background-color: seagreen;
        color: blanchedalmond;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}