body {
  
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 32px;

    form {
        width: 27em;
        max-height: 45em;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        padding: 44px;
        margin: auto;
        border-radius: 20px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        margin: 25px;
    }

    .appHeader{
        border-radius: 20px;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        background-color: rgb(16, 98, 176);
        grid-area: appHeader;
        display: flex;
        .myDay{
        margin-top: 0.5rem;
        margin-left: 1rem;
        }
        //h3 - the Date:
        h3 {
        margin-right: 1rem;
        }
    }

    .heading {
        //sign up & login titles 
        text-align: center;
        margin-bottom: 48px;
        margin-top: 0;
        font-size: 38px;
        // background: linear-gradient(90deg, rgb(52, 65, 146) 0%, rgb(247, 88, 2) 100%);
        background: rgb(19, 19, 121);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    input {
        height: 2.5em;
        margin-bottom: 1em;
        padding: 8px 24px;
        border-radius: 0.6em;
        border: 1px solid lightgray;
        font-size: 15px;

        &:nth-last-child(3) {
            margin-bottom: 2em;
        }

     
      
    }

    input:focus {
        border-color: #613dc1;
        outline: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .btn{
        width: 29em;
        height: 4em;
        border-radius: 10em;
        border: none;
        // background: linear-gradient(104deg, rgb(28, 7, 84) 0%, rgb(247, 67, 2) 100%);
        // background: linear-gradient(104deg, rgb(75, 9, 255) 0%, rgba(252, 87, 4, 0.414) 100%);

        color: white;
        padding: 8px 24px;
        font-size: 15px;
        font-weight: normal;
        // box-shadow: 0px 8px 20px rgba(216, 49, 91, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        &:hover {
            background-color:  rgb(247, 67, 2);
            // box-shadow: 0px 15px 32px rgba(216, 49, 91, 0.2);
            // color: #fff;
            transform: translateY(-4px);
        }

        &--signUp, &--login{
            font-size: 15px;
            background: linear-gradient(104deg, rgb(28, 7, 84) 0%, rgb(247, 67, 2) 100%);
            background: linear-gradient(104deg, rgb(75, 9, 255) 0%, rgba(252, 87, 4, 0.414) 100%);
        }

        &--delete{
            position: absolute;
            background: none;
            background-color: #e5652e;
            font-size: small;
            width: 80px;
            height: 40px;
            text-align: center;
            top: 8px;
            right: 60px;


            &:hover{
                background-color: #a24218;
                // box-shadow: 0px 15px 32px rgba(216, 49, 91, 0.2);
            }
        }
        &--Done{
            background-color: rgb(77, 236, 77);
            width: 80px;
            height: 40px;
            position: absolute;
            top: 8px;
            right: 150px;
            &:hover{
                background:rgb(54, 159, 54);
            }

        }
        &--AddTask{
            background-color: #e5652e;
            width:140px;
            height: 40px;
            .taskText{
                position: relative;
                bottom: 8px;
                font-size: large;
                font-weight: bolder;
            }
        }

    } 
 
    .categories{
        width: 210px;
        // border-right: solid 1px rgb(32, 13, 139);
        // background-color: rgb(204, 211, 250);
        background-color: rgb(16, 98, 176);
        border-radius: 20px;
        padding: 10px;
        color: rgb(29, 8, 87);
        font-weight: bold;
        font-size: larger;
    }
    h2{
        color:rgb(117, 110, 110) ;
    }
    .addCategory{
    margin-right: 3rem;
    }

    .tasksPage{
        position: relative;
        // background-color: rgb(255, 255, 255);
        // background-color: #3176bc;
        background-color: #4a83bd;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 150px 150px auto;
        grid-template-areas: 
              "appHeader appHeader"
               "addCategory addTask"
              "categories tasks";

        padding: 10px;
        margin: auto;
        border-radius: 20px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        margin: 25px;
    
        .addTaskBtn{
            height: 50px;
            width: 200px;
            background-color: aliceblue;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.186);
            .taskText{
            color: rgba(0, 0, 0, 0.563);
               margin-left: 20px;
               text-rendering: auto;
            }
        
        }
        .addCategory{
            grid-area: addCategory;
        }
    
        .categories{
            grid-area: categories;
            min-height: 100px;
            height: fit-content;
            font-weight:bolder;
            li{
                margin-top: 10px;
                // padding: 2px;
            }
        }
    
        .tasks{
            // position: absolute;
            position: relative;
            width: 490px;
            top: 0px;
            // top: 350px;
            left: 0px;
            grid-area: tasks;
            background-color: rgb(16, 98, 176);
            border-radius: 5px;
            padding:10px;
    
            .task{
                position: relative;
                height: 300px;
                background-color: rgb(252, 255, 237);

                .inputDate{
                    position: absolute;
                    background-color: #e5652e;
                    left: 120px;
                    top:270px;
                    width: 105px;
                    height: 10px;
                    bottom: 0px;
                }
                .editTaskBtn{
                    position: absolute;
                    right: 10px;
                    width: 25px;
                    height: 28px;
                    top: 10px;
                    cursor: pointer;
                }
                #EditText{
                    position: absolute;
                    right: 10px;
                    top: 25px;
                    font-weight: bolder;
                    color: #e5652e;
                    font-size: smaller;
                    // visibility: hidden;
                }
           
            }



        }
        #addTaskForm{
            position: absolute;
            width: 300px;

            height:300px;
            top:220px;
            right:540px;
            visibility: hidden;

            #selectCategory{
                width: fit-content;
                margin-bottom: 10px;
            }
            // .ctgInput{
            //     height: 40px;
            //     width: 300px;
            //     margin-top: 5px;
            //     margin-bottom: 10px;
            //     border-radius: 10px;
            //     border: 1px solid rgba(0, 0, 0, 0.233);
            // }
        }
    }
    
   
}

@media screen and (max-width: 360px) {
 .tasksPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

}



