

body{
	background-color: #E0F2F1;
	h1{
		font-size: 50px;
		color: #004D40;
		text-align: center;
		margin-bottom: 40px;
	}
	button{
		margin-left: 10px;
		border-radius: 10px;
		background-color: rgb(100, 141, 165);
	}
	
}


