

.card{
    margin: auto;
    width: 370px;
    height: 637px;
    border: 0.5px solid rgb(214, 214, 214);
    border-radius: 20px;
    background-color: #2D2F33;
    .top_header{
        width: 370px;
        height: 100px;
        background-color: rgb(61, 65, 63);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display:flex;
        flex-direction: column; 
        position: relative;
            &__firstRow{
                display: flex;
                flex-direction: row;
                &__logo{
                    object{
                        position:absolute;
                        left:10px;
                        top:0px;
                        height: 95px;
                        width:95px;
                        h1{
                            color:white;
                            font-size:14px ;
                        }
                    }
                }
                &__img1{ 
                    object{
                        position:absolute;
                        left: 100px;
                        top:20px;
                        height: 40px;
                        width:40px;
                    }
                }    
                &__text{   
                    p{
                        position: absolute;
                        left: 133px;
                        top: 18px;
                        color:white;
                        font-size: 16px;
                        font-weight:900;
                    }
                } 
            }
            &__secondRow{
                display: flex;
                flex-direction: row;
                justify-content: space-between;              
                &__name{
                    p{
                        color:white;
                        font-size: 10px;
                        font-weight: bolder;
                        position:absolute;
                        top:70px;
                        left:38px;
                    }
                }
                &__instrument{
                    p{
                        color:rgba(255, 255, 255, 0.596);
                        font-size:20px;
                        font-weight:lighter;
                        position:absolute;
                        top:50px;
                        left: 119px;

                    }

                }
                &__instImg{
                    object{
                        position:absolute;
                        right: 50px;
                        top:45px;
                        height: 40px;
                        width:40px;
                    }

                }
                &__editImg{
                    object{
                        position:absolute;
                        right: 20px;
                        top:45px;
                        height: 40px;
                        width:40px;
                    }

                }
            }
        }
     /* Utilities */
    .main_body{ 
        .buttons {
            width: 239px;
            height: 334px; 
            border: 1px solid #ffff;
            margin: auto;
            margin-top: 129px;
            display: grid;
            gap: 12px;
            grid-template-columns: repeat(2, 1fr);
            
            
                .button_big {
                    width:  111px;
                    height: 74px;
                    background-color: rgba(180, 180, 180, 0.37);
                    border-radius: 15px;
                }
            }
                .smaller_btn {
                    width: 247px;
                    height: 30px;
                    background-color: rgba(180, 180, 180, 0.37);
                    border-radius: 15px;
                    margin: auto;
                }
        &__lines_wrapper{
            &__dark_row{
                position:relative;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                height:90px;
                width:239px;
                &__profile{
                    img{
                        width: 85px;
                        height:85px;
                        position:absolute;
                        top:10px;
                        left:20px;
                    }
                }
                &__name{
                    p{
                        color:white;
                        font-size: 16px;
                        font-weight: bolder;
                        position:absolute;
                        left:45px;
                        top:20px;
                    }
                }
                &__instrument{
                    img{
                        width: 45px;
                        height:45px;
                        position:absolute;
                        top:10px;
                        right:50px;
                    }
                }
                &__size{
                    p{

                    }
                }        
            }
        }
    
    }
    
}
