// .wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
    
//     position: absolute;
//     transition: all 2s;
//     position: absolute;
//     width: 8vw;
//     height: 10vh;

body{

    display: flex;
    justify-content: center;
    align-items:stretch;
    margin: 0px;
    margin-right: 0px;
    gap: 100px;
    position:random($limit: 1);
 
    img {
        width: 100%;
        height: 100%;
    }
}
.balloon {
    display: flex;
    justify-content: space-around;
    transition: transform 100ms linear;
    position: absolute;

    bottom: 0px;
    width: 100px;
    height:100vh;
    //  top: 100vh;
    // top: 100%;
    animation: balloonMove 1s infinite;

    img {
        height: 150px;
        width: 100px;
    }
    

}

@keyframes balloonMove {
    from {
      transform: translateY(100%);
    }
  
    to {
      transform: translateY(0%);
    }
  }


