body {
    background-image: url(' ../imgs/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;

    p {
        font-size: 1.8rem;
    }







    .cotar {
        font-size: 5rem;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    .products {
        background-size: cover;
        background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.697) 100%);
        display: grid;
        justify-content: center;
        align-content: center;
        border-radius: 1vh;
        font-size: 2rem;

        color: rgb(0, 0, 0);
        grid-template-columns: repeat(4, 20vw);

        .cube {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                margin: 15%;
                display: flex;
                flex-direction: column;
                width: 50px;
                height: 50px;

                border-radius: 30%;

                @media only screen and (min-width: 600px) {
                    width: 50%;
                    height: 50%;
                }
            }

        }
    }


    .cart {

        background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.697) 100%);
        border-radius: 2vh;
        display: flex;
        flex-direction: column;
        border: 1px black solid;
        justify-content: space-between;

        .orderLine {
            display: flex;
            flex-direction: row-reverse;

            margin: 1%;
        }

        .circleCount {
            position: relative;
            font-weight: bold;
            border-radius: 50px;
            right: 2vw;
            

        }
    }

    .cart-products {
        p {
            color: azure;
            font-weight: bold;
        }

        .totalDiv{
            font-weight: bold;
            font-size: 1.5rem;
            color: rgb(234, 255, 3);
            z-index: 2;
            
        }
    }
}