
body {
    text-align: center;

    p {
        font-size: 1.8rem;
        
    }
    .cottar-cart{
        position: relative;
        bottom: 5vh;
        left: 8vw;
        font-size: 25px;

    }
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .cotar {
            font-size: 5rem;
            text-align: center;
            color: rgb(0, 0, 0);
        }

        .products {
            display: grid;
            font-size: 2rem;
            direction: rtl;
            color: rgb(0, 0, 0);
            grid-template-columns: repeat(4, 20vw);

            .cube {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    width: 105px;
                    height: 105px;
                    border-radius: 30%;

                }

            }
        }
    }
}