<<<<<<< HEAD
body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2e2f33;
    width: 200px;
    height: 500px;
    margin: auto;
=======
body {
    width: 400px;
    margin: auto;
    font-family: 'roboto', Tahoma, Verdana, sans-serif;
>>>>>>> 2e245f1be141ac2043308764e601b620ebf85d3f
}

.nav_top {
    background-color: #46474b;
    padding: 0px 20px;

    .user {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &_right {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 10px;
        }

        &_left {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px 10px;
        }

        &_avatar {
            color: #ffffff;
            font-size: 28px;
            font-weight: 700;
            background-color: #B4B4B4;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;

            h3 {
                margin: 0;
            }

            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }
        }

        &_name {
            color: #ffffff;
            font-size: 12px;
            background-color: #46474b;
            position: relative;
            top: -7px;
        }

        &_location {
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
            margin: 5px;
        }

        &_instruments {
            font-size: 18px;
            color: #B4B4B4;
        }

        .instrument_icon {
            color: #ffffff;
            font-size: 30px;
        }
    }
}

.content {
    color: #ffffff;
    background-color: #2e2f33;
    font-size: 15px;
    font-weight: 500;

    .user {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        div {
            margin: 5px;
        }

        &_left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        &_right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        &_avatar {
            color: #ffffff;
            font-size: 28px;
            font-weight: 700;
            background-color: #B4B4B4;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;

            h3 {
                margin: 0;
            }

            img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }
    }
}

.nav_bottom {
    background-color: #2e2f33;
    color: #5fb2b6;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}