body {
    width: 400px;
    margin: auto;
    font-family: 'roboto', Tahoma, Verdana, sans-serif;
}

.nav_top {
    background-color: #46474b;
    padding: 0px 20px;

    .user {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__quiz{
            background-color: white;

        }
        
        &_right {
            
          
            align-items: center;
            margin: 20px 10px;
        }

        &_left {
            display: flex;
            align-items: center;
            margin: 20px 10px;
            gap:15px;
            
        }

        &_avatar {
            color: #ffffff;
            font-size: 28px;
            font-weight: 700;
            background-color: #B4B4B4;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;

            h3 {
                margin: 0;
            }

            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }
        }

        &_name {
            color: #ffffff;
            font-size: 12px;
            background-color: #46474b;
            position: relative;
            top: -7px;
        }

        &_location {
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
            margin: 5px;
        }

        &_instruments {
            font-size: 18px;
            color: #B4B4B4;
        }
        &_pen{
            color: #5fb2b6;
        }
        &_results{
            border-radius: 100px;
            background-color: #5fb2b6;
            color: #ffffff;
            right: 3px;
            text-align: center;
            padding: 7px;
                                                                                                                                                 
        }
        .instrument_icon {
            color: #ffffff;
            font-size: 30px;
        }
    }
}
.contenth{
    background-color: #2e2f33;
    width: 100%;

    &_line{
        display: flex;
        color: #ffffff;
        background-color: #2e2f33;
        width: 100%;
        justify-content: space-between;

        img{
            border-radius: 50%;
            width: 50px;
        }
       
    }
    &_line:nth-child(odd){
        background-color: #B4B4B4;
    }
    &_map{
    img{
        width: 100%;
        height: 300px;
    }
}
}
.content {
    color: #ffffff;
    background-color: #2e2f33;
    font-size: 15px;
    font-weight: 500;

    .user {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        div {
            margin: 5px;
        }

        }

        &_left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        &_right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        &_avatar {
            color: #ffffff;
            font-size: 28px;
            font-weight: 700;
            background-color: #B4B4B4;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;

            h3 {
                margin: 0;
            }

            img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }
    }


.nav_bottom {
    background-color: #2e2f33;
    color: #5fb2b6;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

    &__quiz{
        background-color: white;
        justify-content: space-between;
        margin-top: 30px;

        color: #5fb2b6;
        font-size: 2rem;
        display: flex;
        flex-direction: row;

    }

}

.quiz{
    position: relative;
    background-color: #2e2f33;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    .title{
        text-align: center;
        margin:auto;
        h1{
            color: #5FB2B8;
            font-size: 29px;
            color: 5FB2B8;
        }

        p{
            color: white;
            font-size: 21px;
            #liketo{
                color: rgb(160, 160, 224);
            }

            #alongside{
                color: #5FB2B8;
            }
        }
    }

    .quiz__options{
        width: 260px;
        margin: auto;
        position: relative;     
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      
    }

    .button{
        width: 111px;
        height: 74px;
        background-color: rgba(180, 180, 180, 0.37);
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
    
        font-size: 16px;
        margin: 5px 4px;
        border-radius: 12px;

        &:hover{
            background: #5FB2B8;
        }
    
        &__back{
            background: none;
        }

        &__next{           
            background-color: #5FB2B8;; 
            width: 77px;
            height: 35px;
            border-radius: 20px;

            border: none;
            padding: 20px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            border-radius: 20px;
        }


        &__selected{
            background: #5FB2B8;
        }

        &__more{
            width: 274px;
            height: 30px;
            
            background-color: rgba(180, 180, 180, 0.37);
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
           
            border-radius: 12px;

        }
    }
}