body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    /* header 
    header {
        display: flex;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid lightgray;
        color: white;
        img {
            width: 5%;
            margin-left: 84px;
            object-fit: cover;
            border-right: 1px solid lightgray;
            padding-right: 20px;
        }
        ul {
            display: flex;
            align-items: center;
            margin: 0;
            box-sizing: border-box;
            padding: 0;
            a {
                text-decoration: none;
            }
            li {
                text-decoration: none;
                list-style-type: none;
                color: black;
                font-weight: 600;
                font-size: 14px;
            }
            .item {
                padding: 10px 20px;
                height: 40px;
                border-right: 1px solid lightgray;
                box-sizing: border-box;
            }
            .item:hover {
                border-bottom: 3px solid darkblue;
            }
        }
    }
    */
    /* sub-header */
    .sub-header {
        background-color: #bb1919;
        height: 56px;
        width: 100%;
        box-sizing: border-box;
        img {
            margin-left: 84px;
            padding-top: 10px;
        }
    }
    /* article heading */
    h4 {
        font-size: 16px;
        line-height: 1.4;
        margin: 0;
        font-weight: bold;
    }
    h4:hover {
        color: rgb(3, 122, 151);
        text-decoration: underline;
        transition: 0.4s;
    }
    /* wrapper */
    .wrapper {
        width: 1250px;
        display: flex;
        flex-direction: column;
        margin: auto;
        box-sizing: border-box;
        margin-top: 40px;
        /* articles */
        .cards {
            display: flex;
            flex-direction: row;
            margin: 44px auto;
            position: relative;
            /* article */
            .card {
                margin-left: 16px;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 200px;
                &.card:nth-of-type(1) {
                    margin: 0;
                }
                img {
                    height: 135px;
                    width: 240;
                    margin-bottom: 8px;
                }
                /* inline elements inside the article card*/
                .inline {
                    display: flex;
                    align-items: center;
                    margin-top: 4px;
                    svg {
                        fill: rgb(73, 73, 73);
                        width: 13px;
                        height: 13px;
                        margin-right: 4px;
                    }
                    .datetime {
                        color: rgb(73, 73, 73);
                        font-size: 13px;
                        font-weight: 400;
                        border-right: 1px solid lightgray;
                        padding-right: 4px;
                    }
                    .tag {
                        font-size: 13px;
                        color: rgb(73, 73, 73);
                        padding-left: 4px;
                    }
                }
            }
        }
    }
}