body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  width: 100%;
  height: 20px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 3fr;
      grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 3fr;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  color: white;
  text-align: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 15px;
  gap: 1px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

#navbar .bar1 {
  background-color: black;
}

#navbar .bar1 img {
  width: 30%;
  margin-right: -145px;
  margin-top: -2px;
  cursor: pointer;
}

#navbar .bar2 {
  height: 100%;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

#navbar .bar2:hover {
  border-bottom: red solid 2px;
}

#navbar .bar2 img {
  background-color: white;
  height: 20px;
  border-radius: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 8px;
  cursor: pointer;
}

#navbar .bar {
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

#navbar .bar:hover {
  border-bottom: red solid 2px;
}

#navbar .bar3 {
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

#navbar .bar3:hover {
  border-bottom: red solid 2px;
}

#navbar .bar3 span {
  height: 15px;
}

#navbar .bar4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a0a0a;
  height: 100%;
}

#navbar .bar4 input {
  border: none;
  margin-top: 10px;
}

#navbar .bar4 input::-webkit-input-placeholder {
  margin-top: 10px;
}

#navbar .bar4 input:-ms-input-placeholder {
  margin-top: 10px;
}

#navbar .bar4 input::-ms-input-placeholder {
  margin-top: 10px;
}

#navbar .bar4 input::placeholder {
  margin-top: 10px;
}

#navbar .bar4 .fa-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.5rem;
  margin-top: -15px;
  margin-left: 190px;
  color: black;
}

.commercial {
  width: 100%;
  height: 300px;
  background-color: lightgrey;
}

.main {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.main .header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  width: 100%;
  margin-left: 160px;
  font-weight: bold;
}

.main .header .r {
  margin-right: 270px;
  color: grey;
}

.main .articles {
  margin-left: 160px;
  font-family: Arial, Helvetica, sans-serif;
  width: 105%;
  height: 650px;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10px;
}

.main .articles .bigpic {
  background-image: url(https://bostonglobe-prod.cdn.arcpublishing.com/resizer/wQLkZhRc_VU3OIUrwtqAfiW1cHc=/960x0/cloudfront-us-east-1.images.arcpublishing.com/bostonglobe/FVJQFWIR53VPLR3X3TCQYCNW4E.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  color: white;
  cursor: pointer;
}

.main .articles .bigpic:hover {
  opacity: 0.7;
}

.main .articles .bigpic h1 {
  font-size: 35px;
  margin-top: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  padding: 15px;
}

.main .articles .bigpic h2 {
  font-size: 18px;
  font-weight: normal;
  padding: 15px;
  margin-top: -50px;
}

.main .articles .bigpic h3 {
  padding: 15px;
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 13px;
}

.main .articles .bigpic .box1 {
  width: 5px;
  height: 15px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-left: 10px;
}

.main .articles .litpic1 {
  background-image: url(https://www.aljazeera.com/wp-content/uploads/2022/01/AP22031564536756.jpg?resize=770%2C513);
  background-size: cover;
  color: white;
  padding: 0px;
  cursor: pointer;
}

.main .articles .litpic1:hover {
  opacity: 0.7;
}

.main .articles .litpic1 .lithead {
  margin-top: 110px;
  color: white;
}

.main .articles .litpic1 .box1 {
  width: 5px;
  height: 15px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-left: 10px;
}

.main .articles .litpic1 h3 {
  padding: 15px;
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 13px;
}

.main .articles .litpic2 {
  background-image: url(https://webapi.project-syndicate.org/library/4abd0a4ed564c0661ce9244361a2dd40.2-1-large.1.jpg);
  background-size: cover;
  cursor: pointer;
}

.main .articles .litpic2:hover {
  opacity: 0.7;
}

.main .articles .litpic2 .lithead {
  margin-top: 110px;
  color: white;
}

.main .articles .litpic2 .box1 {
  width: 5px;
  height: 15px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-left: 10px;
}

.main .articles .litpic2 h3 {
  padding: 15px;
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 13px;
  color: white;
}

.main .articles .litpic3 {
  background-image: url(https://images.cafonline.com/image/private/t_landscape_tablet/f_auto/caf-prd/e8emtmqtnbtbvyzqf7ht.jpg);
  background-size: cover;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  cursor: pointer;
}

.main .articles .litpic3:hover {
  opacity: 0.7;
}

.main .articles .litpic3 .lithead {
  margin-top: 110px;
  color: white;
}

.main .articles .litpic3 .box1 {
  width: 5px;
  height: 15px;
  background-color: #f3f022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-left: 10px;
}

.main .articles .litpic3 h3 {
  padding: 15px;
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 13px;
  color: white;
}

.main .articles .litpic4 {
  background-image: url(https://static.dw.com/image/59333259_401.jpg);
  background-size: cover;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  cursor: pointer;
}

.main .articles .litpic4:hover {
  opacity: 0.7;
}

.main .articles .litpic4 .lithead {
  margin-top: 110px;
  color: white;
}

.main .articles .litpic4 .box1 {
  width: 5px;
  height: 15px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-left: 10px;
}

.main .articles .litpic4 h3 {
  padding: 15px;
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 13px;
  color: white;
}

.main .sechead {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -180px;
  font-size: 20px;
  width: 100%;
  margin-left: 150px;
  font-weight: bold;
}

.main .sechead .box1 {
  width: 5px;
  height: 20px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
  margin-left: 10px;
}

.main .sechead h1 {
  color: grey;
  margin-left: 7px;
  font-size: 20px;
  cursor: pointer;
}

.main .news {
  width: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-left: 160px;
}

.main .news .box2 {
  cursor: pointer;
  width: 400px;
}

.main .news .box2:hover {
  opacity: 0.7;
}

.main .news .box2 img {
  width: 400px;
}

.main .news p {
  font-size: 20px;
  margin-top: -5px;
  font-weight: bold;
}

.main .news h4 {
  font-size: 15px;
  margin-top: -10px;
  font-weight: normal;
}

.main .news .box1 {
  width: 3px;
  height: 13px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-left: 0px;
}

.main .news h3 {
  margin-top: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 10px;
  color: #080808;
}

.main .sechead1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  font-size: 20px;
  width: 100%;
  margin-left: 150px;
  font-weight: bold;
  cursor: pointer;
}

.main .sechead1 .box1 {
  width: 5px;
  height: 20px;
  background-color: #f3f022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
  margin-left: 10px;
}

.main .sechead1 h1 {
  color: grey;
  margin-left: 7px;
  font-size: 20px;
}

.main .SPORT {
  width: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-left: 160px;
}

.main .SPORT .box2 {
  cursor: pointer;
  width: 400px;
}

.main .SPORT .box2:hover {
  opacity: 0.7;
}

.main .SPORT .box2 img {
  width: 400px;
}

.main .SPORT p {
  font-size: 20px;
  margin-top: -5px;
  font-weight: bold;
}

.main .SPORT h4 {
  font-size: 15px;
  margin-top: -10px;
  font-weight: normal;
}

.main .SPORT .box1 {
  width: 3px;
  height: 13px;
  background-color: #f3f022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-left: 0px;
}

.main .SPORT h3 {
  margin-top: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 10px;
  color: #080808;
}
/*# sourceMappingURL=style.css.map */