body{
    padding: 0;
    margin: 0;
}

.red-nav{
    position: fixed;
    background-color: red;
    width: 100vw;
    height: 50px;
    top: -5px;
}

.grey-nav{
    position: fixed;
    background-color: grey;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45px;
}

img{
    position: fixed;
    width: 50px;
    height: 100px;
    top: 5px;
    left: 90%;
}

.nav-container{
    position: relative;
    margin-bottom: 5px;
}

h1{
    margin: 0;
    color: black;
}

.container{
    width: 100%;
    padding-top: 120px;
}

.page-document{
    margin: auto;
    width: 75%;
    height: 1000px;
    background-color: rgb(144, 147, 149);
}