.circle{
    width: 400px;
    height: 400px;
    border-radius: 200;
    position: relative;
    animation-name: changeprofile;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    background-size: cover;
}

@keyframes changeprofile{
    0%{
        border-radius: 100px;
        background-image: url(https://media.istockphoto.com/photos/portrait-of-a-girl-picture-id938709362?k=20&m=938709362&s=612x612&w=0&h=dzgBAFc9ciOHoBAefqcczwfycLCx3fWwJNChQ1fpsqM=);
        top: 0;
        left:0vw;
    }
    10%{
        border-radius: 200px;
        background-image: url(https://media.istockphoto.com/photos/young-woman-wearing-casual-red-sweater-over-isolated-background-away-picture-id1127788799?k=20&m=1127788799&s=612x612&w=0&h=9WIDo4rWeAVslYoDpKGRwP5HcIvzDFlh2kErQr7aiGo=);
        top: 5;
        left:10vw;
    }
    20%{
        border-radius: 100px;
        background-image: url(https://media.istockphoto.com/photos/portrait-of-a-handsome-man-picture-id1131285202?k=20&m=1131285202&s=612x612&w=0&h=qBXgklTB2rJApzAOpWub7uxQg04qmq0iLFXaDaRNFzw=);
    }
    30%{
        border-radius: 200px;
        background-image: url(https://media.istockphoto.com/photos/portrait-of-businessman-smiling-in-business-office-picture-id637933814?k=20&m=637933814&s=612x612&w=0&h=yMEwPZAdq1KZsiXaJYkSpg0ci3mUzEMhPIMQhbyHjG4=);
    }
    40%{
        border-radius: 100px;
        background-image: url(https://media.istockphoto.com/photos/young-adult-male-student-in-the-lobby-of-a-university-picture-id597958694?k=20&m=597958694&s=612x612&w=0&h=Emve30f98vMDx9xemzJhp2s1FKBfrzVvU2QTNvUkImQ=);
    }
    50%{
        border-radius: 200px;
        background-image: url(https://media.istockphoto.com/photos/headshot-portrait-of-smiling-ethnic-businessman-in-office-picture-id1300512215?k=20&m=1300512215&s=612x612&w=0&h=enNAE_K3bhFRebyOAPFdJtX9ru7Fo4S9BZUZZQD3v20=);
    }
    60%{
        border-radius: 100px;
        background-image: url(https://media.istockphoto.com/photos/advance-of-inner-paint-picture-id521577939?k=20&m=521577939&s=612x612&w=0&h=0aqhf-XKLdANTQQFg2rbUNCQrKEBFSL4RYG-tm2r7Fw=);
    }
    70%{
        border-radius: 200px;
        background-image: url(https://media.istockphoto.com/photos/new-york-city-mind-state-concept-image-picture-id926810298?k=20&m=926810298&s=612x612&w=0&h=6Hgrfvcc478XxOl6-UyStmvrEmkzl2ycDMNzrDTQtmg=);
    }
    80%{
        border-radius: 100px;
        background-image: url(https://media.istockphoto.com/photos/serious-man-posing-for-advertisement-looking-to-the-camera-isolated-picture-id1128922998?k=20&m=1128922998&s=612x612&w=0&h=nGEF3NYlEQkG4mQilYeR6S5YuHylv9j7a7yq-R-kZdY=);
    }
    90%{
        border-radius: 200px;
        background-image: url(https://media.istockphoto.com/photos/young-woman-photographing-the-autumn-season-picture-id864516870?k=20&m=864516870&s=612x612&w=0&h=m7OUjmmPl_OyCioecIHgmYxM0T_5TIL0MWvOU3JjMcM=);
    }
    100%{
        border-radius: 100px;
        background-image: url(https://media.istockphoto.com/photos/enjoying-his-favorite-music-picture-id1129342275?k=20&m=1129342275&s=612x612&w=0&h=2d-V1X_qHlx5BPJMPM3jvgt_j4EVFNQxwa_Z14D5WOY=);
    }
}