.circle{
    width: 400px;
    height: 400px;
    border-radius: 200;
    position: relative;
    animation-name: changeprofile;
    animation-iteration-count: infinite;
    background-size: cover;
    }

@keyframes changeprofile{
    0%{
        border-radius: 100px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5f/Alberto_conversi_profile_pic.jpg);
        
    }
    10%{
        border-radius: 200px;
        background-image: url(http://hennepinelementaryschool.org/img/1657bdde82ef403d75bf3e5eb38404af.jpg);
        
    }
    20%{
        border-radius: 100px;
        background-image: url(https://wdrfree.com/public/blog/Cool-Profile-Picture-16.jpg);
    }
    30%{
        border-radius: 200px;
        background-image: url(https://i0.wp.com/sguru.org/wp-content/uploads/2017/06/cool-anime-profile-pictures-50422.jpg?resize=420%2C420&ssl=1);
    }
    40%{
        border-radius: 100px;
        background-image: url(https://media.istockphoto.com/photos/young-adult-male-student-in-the-lobby-of-a-university-picture-id597958694?k=20&m=597958694&s=612x612&w=0&h=Emve30f98vMDx9xemzJhp2s1FKBfrzVvU2QTNvUkImQ=);
    }
    50%{
        border-radius: 200px;
        background-image: url(https://media.istockphoto.com/photos/headshot-portrait-of-smiling-ethnic-businessman-in-office-picture-id1300512215?k=20&m=1300512215&s=612x612&w=0&h=enNAE_K3bhFRebyOAPFdJtX9ru7Fo4S9BZUZZQD3v20=);
    }
    60%{
        border-radius: 100px;
        background-image: url(https://media.istockphoto.com/photos/advance-of-inner-paint-picture-id521577939?k=20&m=521577939&s=612x612&w=0&h=0aqhf-XKLdANTQQFg2rbUNCQrKEBFSL4RYG-tm2r7Fw=);
    }
    70%{
        border-radius: 200px;
        background-image: url(https://media.istockphoto.com/photos/new-york-city-mind-state-concept-image-picture-id926810298?k=20&m=926810298&s=612x612&w=0&h=6Hgrfvcc478XxOl6-UyStmvrEmkzl2ycDMNzrDTQtmg=);
    }
    80%{
        border-radius: 100px;
        background-image: url(https://media.istockphoto.com/photos/serious-man-posing-for-advertisement-looking-to-the-camera-isolated-picture-id1128922998?k=20&m=1128922998&s=612x612&w=0&h=nGEF3NYlEQkG4mQilYeR6S5YuHylv9j7a7yq-R-kZdY=);
    }
    90%{
        border-radius: 200px;
        background-image: url(https://media.istockphoto.com/photos/young-woman-photographing-the-autumn-season-picture-id864516870?k=20&m=864516870&s=612x612&w=0&h=m7OUjmmPl_OyCioecIHgmYxM0T_5TIL0MWvOU3JjMcM=);
    }
    100%{
        border-radius: 100px;
        background-image: url(https://media.istockphoto.com/photos/enjoying-his-favorite-music-picture-id1129342275?k=20&m=1129342275&s=612x612&w=0&h=2d-V1X_qHlx5BPJMPM3jvgt_j4EVFNQxwa_Z14D5WOY=);
    }
}