body{
    margin: 0px;
    width: 1000px;
    height: 700px;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    position: relative;
    animation-name: changeprofile;    
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-size: cover;
}

@keyframes changeprofile{
    0%{
        border-radius: 100px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5f/Alberto_conversi_profile_pic.jpg);
        top: 0;
        left: 0;

    }
    10%{
        border-radius: 200px;
        background-image: url(http://hennepinelementaryschool.org/img/1657bdde82ef403d75bf3e5eb38404af.jpg);
        top: 70%;
        right: 100%;
    }
    20%{
        border-radius: 100px;
        background-image: url(https://wdrfree.com/public/blog/Cool-Profile-Picture-16.jpg);
        top: 30%;
        left: 100%;
    }
    30%{
        border-radius: 200px;
        background-image: url(https://i0.wp.com/sguru.org/wp-content/uploads/2017/06/cool-anime-profile-pictures-50422.jpg?resize=420%2C420&ssl=1);
        top: 90%;
        right: 100%;
    }
    40%{
        border-radius: 100px;
        background-image: url(https://img.freepik.com/free-photo/lose-up-shot-girl-profile-lady-with-non-standard-make-up-festival-sends-air-kiss_197531-16072.jpg?size=626&ext=jpg&ga=GA1.2.2010261186.1641340800);
        top: 20%;
        left: 100%;
    }
    50%{
        border-radius: 200px;
        background-image: url(https://i0.wp.com/www.kahanihindi.com/wp-content/uploads/2020/02/Whatsapp-DP-HALF-SIZE-Profile-71.jpg?resize=500%2C500&ssl=1);
        top: 80%;
        right: 100%;
    }
    60%{
        border-radius: 100px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVh2TTKhbKjyp1tpaf-xvT7i6Ne-HEjfkawg&usqp=CAU);
        top: 40%;
        left: 100%;
    }
    70%{
        border-radius: 200px;
        background-image: url(https://www.unigreet.com/wp-content/uploads/2020/04/Smiley-816x1024.jpg);
        top: 100px;
        right: 100%;
    }
    80%{
        border-radius: 100px;
        background-image: url(https://i.kym-cdn.com/photos/images/masonry/001/410/591/c86.png);
        top: 50%;
        left: 100%;
    }
    90%{
        border-radius: 200px;
        background-image: url(https://media.istockphoto.com/photos/young-woman-photographing-the-autumn-season-picture-id864516870?k=20&m=864516870&s=612x612&w=0&h=m7OUjmmPl_OyCioecIHgmYxM0T_5TIL0MWvOU3JjMcM=);
        top: 60%;
        right: 100%;
    }
    100%{
        border-radius: 100px;
        background-image: url(https://media.istockphoto.com/photos/enjoying-his-favorite-music-picture-id1129342275?k=20&m=1129342275&s=612x612&w=0&h=2d-V1X_qHlx5BPJMPM3jvgt_j4EVFNQxwa_Z14D5WOY=);
        top: 10%;
        left: 100%;
    }
}