body{
    font-family: Arial, Helvetica, sans-serif;
}
.grid{
    display: grid;
    margin: auto;
    width: 80vw;
    box-sizing: border-box;
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 150px); 
    .astory{
        padding: 12px;
        background-size: cover;
        color: white;
        box-sizing: border-box;
        position: relative;
        :hover
        {
            margin-bottom:  15px;
        }
        .title{
            font-size: 14px;
            position: absolute;
            bottom: 8px;
            width: 85%;
        }
    }
    .one{
        grid-column: 1/3;
        grid-row: 1 / 3;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url("https://cdn.vox-cdn.com/thumbor/6969XniwBrW_s3aDiYHO6kFVgs4=/0x0:3000x2000/1720x0/filters:focal(0x0:3000x2000):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/22764607/GettyImages_1332385126_copy.jpg");
        .title{
            font-size: 30px;
            position: absolute;
            bottom: 8px;
            padding-bottom: 5px;
        }
        .subtitle{
            font-size: 16px;
            width: 80%;
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
    .two{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url(https://www.worldfinance.com/wp-content/uploads/2021/06/G031_rt.jpg);
    }
    .three{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("https://i.guim.co.uk/img/media/9d7b695157ead670f884659eedd4af6c0155c6cd/0_0_3500_2100/master/3500.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=d726a6a5093f0e34e3d94826a31d328a");
    }
    .four{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("https://cdn.vox-cdn.com/thumbor/w-RQGSPXAQA4efj9rikClNN98D4=/0x0:4703x3135/920x613/filters:focal(1976x1192:2728x1944):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/70450995/1237953737.0.jpg");
    }
    .five{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("https://cdn.vox-cdn.com/thumbor/phCUlJw0yNRWVCyJT5gMAFI2Tqo=/0x0:3000x2027/920x613/filters:focal(1260x774:1740x1254):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/70457037/1227675803.0.jpg");
    }
}
.gridtwo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px;
    margin: auto;
    width: 80vw;
    gap: 12px;
    box-sizing: border-box;
    img{
        width: 100%;
    }
    .title{
        font-weight: bold;
        .subtitle{
            font-weight: normal;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .subject{
            font-weight: normal;
        }
    }
}
.gridthree{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px;
    margin: auto;
    width: 80vw;
    gap: 12px;
    box-sizing: border-box;
    img{
        width: 100%;
    }
    .title{
        font-weight: bold;
        .subtitle{
            font-weight: normal;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .subject{
            font-weight: normal;
        }
    }
}
.subject{
    border-left: brown solid 3px;
    padding-left: 3px;
    font-size: 10px;
    height: 10px;
    margin-top: 5px;
}
h5{
    border-left: brown solid 3px;
    padding-left: 3px;
    font-size: 20px;
    height: 20px;
    margin-left: 110px;
    width: 80vw;
    color: rgb(59, 59, 59);
}
h2{
    margin-left: 100px;
}