html, body{
    margin: 0;
    font-size: 20px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:3px;
    width: 100%;
    box-sizing: border-box;


    .item{
        background-color: rgb(0, 0, 0);
    
     
        img{
            width: 100%;
            
        }
        h1{
            padding: 5px;
            color: rgb(212, 85, 71);
            font-size: 2rem;
           
        }
        p{
            padding: 10px;
            color: rgb(204, 205, 198);
            font-size: 1rem;
           
        }
    }
}
@media only screen and (max-width: 1440px) {
    .wrapper{
        grid-template-columns: repeat(4, 1fr);
    }
  }

    @media only screen and (max-width: 700px) {
        .wrapper{
            grid-template-columns: repeat(2, 1fr);
        }
      }
    

