.wrapper{
  position:relative;
  display:flex;
  justify-content: space-evenly;
  width:950px;
  height:1000px;  
  background-color: bisque; 
  margin:auto;
    .box{
      position:absolute
      
    }
  }
