body,
html {
    margin: 0%;
    padding:0%;

}
body{
    position:relative;
}
.page{
    display:flex;
    flex-direction: column;
    position:relative;
}

.menu {
    width: 100vw;
    height: 50px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(118, 118, 118);
    font-size: 30px;
    position: sticky;
    z-index: 9;
    top:0%;
    left:5px;

    &__1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;

        &__p {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;


            img {
                width: 70%;
                display: block;
                margin: auto;
            }

            &:hover {
                background-color: rgb(202, 202, 202);
                cursor: pointer;
            }
        }

        &__home {
            height: 30px;
            background-color: black;
            border: none;
            font-size: 1rem;
            color: white;
            padding: 20px 20px;
            border-radius: 30px;
            font-weight: bolder;
            text-align: center;
            line-height: 8px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__search {
        width: 85%;
        background-color: rgb(239, 239, 239);
        border-radius: 20px;
        font-size: 1rem;
        img{
            width: 20px;
            height:20px;

        }

        &:hover {
            background-color: rgb(151, 145, 145);
        }


    }

    &__diff {
        padding: 0px 30px;
        width: 200px;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &__bell{
            width: 30px;
            height: 30px;
            img{
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
                
            &:hover {
                    background-color: rgb(233, 233, 233);
                    cursor: pointer;
            }
        }    
        &__thought{    
            img{
   
                border-radius: 50%;
                width: 20px;
                height: 20px;
            }
                
            &:hover {
                    background-color: rgb(233, 233, 233);
                    cursor: pointer;
            }
        }
        &__user {
            img{
                width: 20px;
                height: 20px;
                border-radius: 50%; 
            }

            &:hover {
                background-color: rgb(233, 233, 233);
            }

        }

        &__more {
            width: 30px;
            height: 30px;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;  
            }
           
            &:hover {
                background-color: rgb(233, 233, 233);
                cursor: pointer;
            }
        }
    }
  
}
.bottom_nav{
    visibility: hidden;
    margin: auto;
    width: 700px;
    height: 50px;
    z-index: 1;
    position: fixed;
    bottom: 40px;
    left: 750px;
    // padding-left: 800px;
    display: flex;
    justify-content: space-around;
    gap: 115px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid;
    margin:auto;
    .home_icon{
        height: 25px;
    }
    .search_icon{
        height:25px;
    }
    .message_icon{
        height: 25px;
    }
    .man_icon{
        height:25px;
    }


    img{
        position: relative;
        top: 13px;
        height: 30px;
        color: gray;
    }
}

.wrapper {
   
    margin-top: 65px;
    margin-left: 5px;
    column-width: 200px;
    -webkit-column-break-inside: avoid;
}

.item {
    width: 200px;
    -webkit-column-break-inside: avoid;
    position:relative;
    cursor: pointer;
 
    img {
        width: 100%;
        border-radius: 30px;
      
    }

    p {
        padding-left: 2px;
    }
    &:hover{
        
        filter:brightness(0.4);
    }
    .save_icon{
        visibility: hidden;
        opacity: 1;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 40px;
        width: 65px;
        background-color: red;
        border-radius: 40px;
        font-weight: bold;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            visibility: visible;
            filter: brightness(0.5);
        }
    }    

    &:hover .save_icon {
        visibility:visible;
        cursor: pointer;
        background-color: red;

    }
    &:hover .upload {
        visibility:visible;
        cursor: pointer;
        background-color: rgb(233, 233, 233);
        filter:brightness(1);
        z-index: 9;
    }   
    &:hover .threeDot {
        visibility:visible;
        cursor: pointer;
        background-color: rgb(233, 233, 233);
        filter:brightness(1);
        z-index: 9;
    }   
    .upload{
        visibility: hidden;
        opacity:1;
        border-radius: 50%;
        background-color: white;
        height:35px;
        width:35px;
        position:absolute;
        bottom:80px;
        right: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 70%;
            display: block;
            margin: auto;
            background-color: rgb(233, 233, 233);
        }
        &:hover{
            visibility: visible;
            background-color: rgb(233, 233, 233);
            filter:brightness(1)
        }
    }    
    .threeDot{
        visibility: hidden;
        background-color: white;
        opacity:1;
        border-radius: 50%;
        height:35px;
        width:35px;
        position:absolute;
        bottom:80px;
        right: 20px; 
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 70%;
            display: block;
            margin: auto;
            background-color: rgb(233, 233, 233);
        }
        &:hover{
            visibility: visible;
            background-color: rgb(252, 249, 249);
            filter:brightness(1);
        }
       
    }

}

a{
    font-size: 2em;
}
.addition{
    position: relative;
    top: 100px;
    margin: auto;
    width: 1200px;
    height: 1000px;
    display: flex;
    padding: 100px;
    &__img{
        padding-right: 20px;
       img{
            height: 1000px;
            width: 600px;
        }
    }
    &__comment{
        .icons{
            display: flex;
            height: 48px;
            gap: 10px;
            .save{
                position: absolute;
                right: 0px;
                border-radius: 50px;
                width: 90px;
                background-color: red;
                color: white;
                // align-content: center;
                display:flex;
                justify-content: center;
            }
        }
        
        .Dorit{
          &__wrapper{
              display: flex;
              gap: 20px;
              padding: 20px;
             .wrapper0{
                 
                img{
                    border-radius: 50%;
                    height: 80px;
                    width: 70px;
                }
                }
             .wrapper1{
                    border: 1px solid ;
                    width: 550px;
                    height: 80px;
                    border-radius: 25px;
                    margin: 0%;
                    padding: 0%;
                    
                    
                .name{
                    display: flex;
                    gap: 10px;
                    position: relative;
                    left: 20px;
                    top: -10px;
                    p{
                        position: relative;
                        top: 8px;
                    }

                }
                .comment1{
                    position: relative;
                    left: 20px;
                    top: -30px;

                }
                }
            }
            .D-letter{
                position: relative;
                left: 25px;
                display: flex;
                flex-direction: row;
                align-content: center;
                gap:15px;
               
                .d{
                    
                    background-color: blue;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                        h1{
                            position: relative;
                            top: -10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                        }
                 
                }
                input{
                    width: 400px;
                    height:50px;
                    border-radius: 40px;
                    font-size: 1em;
                }
            } 

        }
        .end{
            display: flex;
            position:absolute;
            bottom: 100px;
            p{
                font-size: 1em;
            }
            
            img{
                border-radius: 50%;
                width: 48px;
                
            }
        }
    }
}




@media only screen and (max-width: 1440px) {
   
    .wrapper{
        column-width: 175px;
    }
    .item{
        width:175px;
    }
   
  }

@media only screen and (max-width: 768px) {
      
    .wrapper{
        column-width: 150px;
    }
    .item{
        width:150px;
    }
 
  }
  
  @media only screen and (max-width: 440px) {
    .bottom_nav{
        visibility:visible;
        width: 200px;
        left: 80px;
        // justify-content: none;
        gap: 7px;
    
    }
    .menu{
        visibility:hidden;
    }
    .wrapper{
        column-width: 125px;
    }
    .item{
        width:125px;
    }
    
   
  }
