body{
    background-color: aquamarine;
    .card{
        border: brown solid 2px;
        border-radius: 10px;
        margin: 10px;
        background-color: tan; 
        img{
            border-radius: 10px 10px 0px 0px;
            width: 100%;
        }
        &_text{
            border: steelblue solid 3px;
            padding: 20px;
            border-radius: 0px 0px 10px 10px;
            background-color: teal;
                h1{
                    font-style: italic;
                    &:hover{
                        color: tomato;
                    }
                }
                p{
                    font-size: small;
                    color: tomato;
                }
                p span{
                    font-weight: bold;
                }
            }
        } 
 
            
}