body{
    background-color: aqua;
}

.card{
   border-radius: 10px;
   background-color: white;
   margin: 10px;
}
   .img{
       border-radius: 10px 10px 0px 0px;
       width: 100%;
   }
       .text{
           padding: 20px;
       }
       h3{
           font-style: italic;
       }

}
.wrapper{
    border: 1px solid navy;
    .box{
        width: 100px;
        height: 100px;
        background-color: navy;
        margin: 1px;
    }
    .p{
        color:white;
        font-size: 6px;
    }
}