body{
    background-color: rgba(216, 112, 147, 0.685);
}

.card{
    
    border-radius: 10px;
    background-color: white;
    margin: auto;
    height:500px;
    width: 300px;
    border: 1px solid white;

    
    img{
        border-radius:10px 10px 0px 0px;
        width: 100%;
    }
    .text{
        padding: 20px;

        h3{
           font-style: italic;
        }
        p{
            color: black;
            font-size: small;

            span{
                font-weight: bold;
            }
        }
    }
}