* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    padding-left: 15rem;
    background-color: #000;
    width: 100%;
    height: 4rem;
    align-items: center;
    font-weight: bold;
    img {
        height: 4rem;
        width: 175px;
    }

    ul {
        display: flex;
        color: #fff;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            border-left: grey solid 1px;
            border-right: grey solid 1px;
            height: 4rem;
            width: 5rem;
            background: black;
            &:hover{
                border-bottom: red solid 4px;
            }
            a{
                text-decoration: none;
                color: white;
            }
        }
        .signin {
            display: flex;
            justify-content: start;
            width: 8rem;
            border-left: grey solid 1px;
            border-right: grey solid 1px;
            padding: 0 1rem ;
        }
    }

    .search {
        display: flex;
        align-items: center;
        background-color: white;
        margin: 0 2rem;
        height: 1.1rem;
        .fa-search{
            width: 1.5rem;
            padding-left:0.2rem ;
        }
    }
}