* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
  width: 63%;
  height: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.navbar img {
  height: 2rem;
  width: 100px;
  background-color: white;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.navbar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  border-left: grey solid 1px;
  border-right: grey solid 1px;
  height: 3rem;
  width: 5rem;
  background: black;
  font-size: 0.9rem;
}

.navbar ul li:hover {
  border-bottom: red solid 4px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 14rem;
  border-left: grey solid 1px;
  border-right: grey solid 1px;
  padding: 0 1rem;
}

.navbar .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin: 0 0 0 2rem;
  height: 1.5rem;
}

.navbar .search input {
  border: none;
}

.navbar .search input::-webkit-input-placeholder {
  padding-left: 0.5rem;
}

.navbar .search input:-ms-input-placeholder {
  padding-left: 0.5rem;
}

.navbar .search input::-ms-input-placeholder {
  padding-left: 0.5rem;
}

.navbar .search input::placeholder {
  padding-left: 0.5rem;
}

.navbar .search .fa-search {
  width: 1.5rem;
  padding-left: 0.2rem;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec1 {
  height: 45vh;
  width: 63%;
  padding-top: 2rem;
}

.sec1 .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.sec1 .welcome .bbc {
  margin-left: 1rem;
  font-weight: 400;
}

.sec1 .welcome .date {
  margin: 0 0.5rem 0 auto;
  font-weight: 400;
  opacity: 0.6;
}

.sec1 .gridcontainer {
  display: -ms-grid;
  display: grid;
  padding-left: 1rem;
      grid-template-areas: 'bigitem bigitem smlitem1 smlitem2' 'bigitem bigitem smlitem3 smlitem4';
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 150px 150px;
      grid-template-rows: 150px 150px;
  row-gap: 1rem;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.sec1 .gridcontainer .bigitem {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bigitem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/15454/production/_122942178_gettyimages-1237834830.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 1rem;
}

.sec1 .gridcontainer .bigitem h2 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400;
}

.sec1 .gridcontainer .bigitem p {
  line-height: 1.5rem;
  font-size: 1.1rem;
  color: #fff;
}

.sec1 .gridcontainer .bigitem h4 {
  border-left: red solid 2px;
  margin: 0.5rem 0;
  color: white;
  font-weight: 400;
}

.sec1 .gridcontainer .smlitem1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: smlitem1;
  background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/65F9/production/_122950162_51751687457_84e21669ed_o.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: 100;
  color: white;
  padding-left: 0.5rem;
}

.sec1 .gridcontainer .smlitem1 h4 {
  border-left: red solid 2px;
  font-weight: 100;
  margin: 0.5rem 0;
  padding-left: 0.4rem;
}

.sec1 .gridcontainer .smlitem2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: smlitem2;
  background-image: url("https://ichef.bbci.co.uk/onesport/cps/800/cpsprodpb/A568/production/_122944324_gettyimages-1366361024.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: 100;
  color: white;
  padding-left: 0.5rem;
}

.sec1 .gridcontainer .smlitem2 h4 {
  border-left: red solid 2px;
  font-weight: 100;
  margin: 0.5rem 0;
  padding-left: 0.4rem;
}

.sec1 .gridcontainer .smlitem3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: smlitem3;
  background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/E317/production/_122953185_gettyimages-1232458355.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: 100;
  color: white;
  padding-left: 0.5rem;
}

.sec1 .gridcontainer .smlitem3 h4 {
  border-left: red solid 2px;
  font-weight: 100;
  margin: 0.5rem 0;
  padding-left: 0.4rem;
}

.sec1 .gridcontainer .smlitem4 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: smlitem4;
  background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/C3C3/production/_122951105_gettyimages-1366327207.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: 100;
  color: white;
  padding-left: 0.5rem;
}

.sec1 .gridcontainer .smlitem4 h4 {
  border-left: red solid 2px;
  font-weight: 100;
  margin: 0.5rem 0;
  padding-left: 0.4rem;
}

.sec2 {
  height: 50vh;
  width: 63%;
  padding: 0 1rem;
}

.sec2 h2 {
  width: 100%;
  border-left: red solid 4px;
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
}

.sec2 .wrapperflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec2 .wrapperflex .item1 {
  width: 33%;
  margin-right: 1rem;
}

.sec2 .wrapperflex .item1 img {
  width: 100%;
}

.sec2 .wrapperflex .item1 h3 {
  font-size: 1.5rem;
}

.sec2 .wrapperflex .item1 p {
  margin: 0.5rem 0 1rem 0;
  font-size: 1.1rem;
  color: grey;
}

.sec2 .wrapperflex .item1 h4 {
  border-left: red solid 2px;
  padding-left: 0.5rem;
  color: grey;
  font-weight: 100;
}

.sec2 .wrapperflex .item2 {
  width: 33%;
  margin-right: 1rem;
}

.sec2 .wrapperflex .item2 img {
  width: 100%;
}

.sec2 .wrapperflex .item2 h3 {
  font-size: 1.5rem;
}

.sec2 .wrapperflex .item2 p {
  margin: 0.5rem 0 1rem 0;
  font-size: 1.1rem;
  color: grey;
}

.sec2 .wrapperflex .item2 h4 {
  border-left: red solid 2px;
  padding-left: 0.5rem;
  color: grey;
  font-weight: 100;
}

.sec2 .wrapperflex .item3 {
  width: 33%;
}

.sec2 .wrapperflex .item3 img {
  width: 100%;
}

.sec2 .wrapperflex .item3 h3 {
  font-size: 1.5rem;
}

.sec2 .wrapperflex .item3 p {
  margin: 0.5rem 0 1rem 0;
  font-size: 1.1rem;
  color: grey;
}

.sec2 .wrapperflex .item3 h4 {
  border-left: red solid 2px;
  padding-left: 0.5rem;
  color: grey;
  font-weight: 100;
}

.news-navigator {
  background-color: #d81717;
  width: 100%;
  height: 100px;
}

.news-navigator h1 {
  color: #e7e2e2;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 2rem;
}

.news-navigator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.news-navigator ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  border-right: grey solid 1px;
  height: 2rem;
  width: 6.5rem;
  background: #d81717 black;
}

.news-navigator ul li:hover {
  border-bottom: #fcfcfc solid 4px;
}

.news-grid {
  margin: auto;
  height: 450px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-grid .card {
  margin-top: 15px;
  margin-left: 12px;
  height: 350px;
  width: 300px;
}

.news-grid .card img {
  width: 300px;
}

.news-grid .card p {
  color: gray;
}

.news-grid .card .orgin {
  border-left: 1px red solid;
}
/*# sourceMappingURL=style.css.map */