body {
    margin: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    transition: all 10000ms;

    &hover {
        transform: rotate(360deg) scale(1.8);

    }


    img {
        width: 50vh;
        transition: all 1000ms;

        &hover {
            transform: rotate(360deg) scale(1.8);
    
        

    }
}
}