body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    transition: all 4000ms ease-in-out;
    animation-name: rotate360;
    height: 10vh;

    img {
        height: 100%;
      animation: 10s rotate360 infinite linear;
    }
}
@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}
