body, html {
    margin: 0;
}

.wrapper {
   width: 80vw; 
   height: 80vh;
   display: flex;
   flex-direction: column;
   margin: auto;
    .img {
        height: 80%;
        width: 100%;
        background-image: url(https://cdni.rbth.com/rbthmedia/images/2019.02/article/5c77f4bb15e9f93aac4e8a29.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 20%;
        width: 100%;
        h1 {
            font-size: 1.2rem;
        }
        h2 {
            font-size: 1.2rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
}