
body{
    background-color: #fafafa;
}

.post{
    
    width: 600px;
    height: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    background-color: #fff;
    border: ridge;
    border-radius: 1%;


    
}

.profilLogo{
        float: left;
        border-radius: 50%;
        width: 30px;
}

.profileName{
    flex-flow: column;
    font-size: 20px;
}

.location{
    font-size: 15px;
    font-style: normal;

}

.menu{
    float: right;
    width: 15px;
}

.postImg{
    width: 100%;
}

.footer-left{
    float: left;
    width: 100%;
}

.footer-left img{
    width: 20px;
}

.footer-right{
    float: right;
    width: 20px;
}

.likes_count{
    font-size: 14px;
    font: bold;
}

.post_comment{
    float: left;
}

.comments{
    color: gray;
}

.comments_input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.post_comment img{
    width: 20px;
} 

.post_comment{
float: left;
border: none;
font-size: 14px;
}


.post_comment_btn{
    float: left;
    font-size: 16px;
    color: blue;
}