body {
    margin: 0%;
    padding: 0%;
}

header {
    width: 100%;
    height: 175px;
    background-color: black;
    margin: 0%;
    position: relative;

    h1 {
        color: white;
        font-size: 50px;
        font-weight: bolder;
        position: absolute;
        top: 30px;
    }
}

nav {
    background-color: gray;
    height: 50px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
}

/* contaier of things */

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .article {
        img {
            width: 100%;
        }
        span {
            font-size: 15px;
        }
    }
}