body {
    margin: 0%;
    padding: 0%;
}

header {
    width: 100%;
    height: 175px;
    background-color: black;
    margin: 0%;
    position: relative;
    border-bottom: 1px solid rgb(233, 233, 233);

    h1 {
        color: white;
        font-size: 50px;
        font-weight: bolder;
        position: absolute;
        top: 30px;
        margin-left: 60px;
    }
}

nav {
    background-color: rgb(32, 32, 32);
    height: 50px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 15px;
    div {
        margin-left: 15px;

    }
}

/* contaier of things */

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .article {
        margin: 15px;
        img {
            width: 100%;
        }
        span {
            font-size: 15px;
        }
    }
}