body {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.saba {
    width: 1200PX;
    height: 400px;
    border: solid black 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

.aba{
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: crimson;
height: 400px;
width: 300px;




    .ben {
height: 50px;
width: 50px;
background-color: brown;
display: flex;
flex-direction: column;

    }



}

}