body {
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
}

.grid_header {
    display: flex;
    justify-content: space-between;
    color: #4a4a4a;

    .date {
        color: #8c8c8c;
        font-weight: lighter;
    }
}

span {
    font-weight: 900;
    position: relative;
    top: -2px;
}

.red {
    color: #cb2411;
}

.blue {
    color: #436f88;
}

.black {
    color: #000000;
}

.yellow {
    color: #fbd939;
}

.top_grid {
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 1fr 1fr;
    height: 400px;
    color: #ffffff;

    .article {
        transition: 0.5s;
        position: relative;
        background-size: cover;
        padding: 20px;

        &:hover {
            opacity: 0.9;
        }

        .content {
            position: absolute;
            bottom: 0;
        }
    }

    .article1 {
        grid-row: span 2;
        background-image: linear-gradient(transparent, #0000009d), url("https://i.ibb.co/hXZPyz8/UKpolitics.jpg");
    }

    .article2 {
        background-image: linear-gradient(transparent, #0000009d), url("https://i.ibb.co/whRskyc/us.jpg");
    }

    .article3 {
        background-image: linear-gradient(transparent, #0000009d), url("https://i.ibb.co/cDhZwY7/canada.jpg");
    }

    .article4 {
        background-image: linear-gradient(transparent, #0000009d), url("https://i.ibb.co/jhJBqCB/europe.jpg");
    }

    .article5 {
        background-image: linear-gradient(transparent, #0000009d), url("https://i.ibb.co/sP3DyR9/future.jpg");
    }

    .tag,
    .summery {
        color: #d3d3d3;
        font-weight: lighter;
        font-size: 0.9rem;
    }

}

.grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);

    .article {
        padding: 5px;

        .img {
            transition: 0.5s;
            background-size: cover;
            height: 250px;

            &:hover {
                opacity: 0.9;
            }
        }

        .img1 {
            background-image: linear-gradient(transparent, #0000009d), url("https://i.ibb.co/8zqsxQF/ukraine.jpg");
        }

        .img2 {
            background-image: linear-gradient(transparent, #0000009d), url("https://i.ibb.co/kxVh1tV/europe2.jpg");
        }

        .img3 {
            background-image: linear-gradient(transparent, #0000009d), url("https://i.ibb.co/3BKgp1K/asia.jpg");
        }

        .img4 {
            background-image: linear-gradient(transparent, #0000009d), url("https://i.ibb.co/PNVvtFJ/sport1.jpg");
        }

        .img5 {
            background-image: linear-gradient(transparent, #0000009d), url("https://i.ibb.co/b7mVdt7/sport2.jpg");
        }

        .img6 {
            background-image: linear-gradient(transparent, #0000009d), url("https://i.ibb.co/5G0w726/sport3.jpg");
        }
    }

    .summery {
        color: #212121;
        font-size: 1rem;
    }

    .tag {
        font-size: 0.9rem;
        color: #767676;
        font-weight: lighter;
    }
}