*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    header{
        width: 100%;
        background-color: #fff;
        position: fixed;
        box-shadow: 0em .01em .5em .1em rgba(128, 128, 128,0.4);
        padding: 1em 1.5em;
        z-index: 1;
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left-nav{
                display: flex;
                align-items: center;
                span{
                    padding: 0 .5em;
                    cursor: pointer;
                    transition: opacity .2s ease-in-out;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
            svg{
                cursor: pointer;
                transition: opacity .2s ease-in-out;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    .split{
        display: flex;
        flex-direction: column;
        width: 100%;
        .content-holder{
            padding: 1em;
            .profile{
                display: flex;
                justify-content: space-between;
                height: 4em;
                .profile-left{
                    display: flex;
                    
                    .profile-content{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0 .75em;
                    }
                }
                .profile__follow{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .showcase{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em;
        .showcase-grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
            width: 100%;
            .item{
                img{
                    cursor: pointer;
                    transition: opacity .25s ease-in-out;
                    &:hover{
                        opacity: 0.8;
                    }
                }
                
                .item-content{
                    height: 2em;
                    display: flex;
                    justify-content: space-between;
                    .item__left{
                        display: flex;
                        cursor: pointer;
                        transition: opacity .2s ease-in-out;
                        span{
                            padding: 0 .25em 0;
                        }
                        &:hover{
                            opacity: .8;
                        }
                    }
                    svg{
                        cursor: pointer;
                        transition: opacity .2s ease-in-out;
                        &:hover{
                            opacity: .7;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 750px){
    body{
        .showcase{
            .showcase-grid{
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media (min-width: 1000px){
    body{
        .split{
            padding: 5em;
            .card{
            font-size: 1.25rem;
            display: flex;
            flex-direction: row;
            border-radius: 2em;
            overflow: hidden;
            width: 100%;
            //justify-content: space-between;
            box-shadow: .15em .15em 1em .25em rgba(128, 128, 128,0.4);
                .content-holder{
                    display: flex;
                    flex-direction: column;
                    // height: 100%;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .showcase{
            .fs{
                font-size: 1.5rem;
            }
            .showcase-grid{
                grid-template-columns: repeat(4, 1fr);
                .item{
                    .item-content{
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}

/********************
* UTILITIES CLASSES *
********************/

.btn{
    padding: .5em 1.2em ;
    background: grey;
    border-radius: 2em;
    font-weight: 700;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
    &:hover{
        opacity: .7;
    }
}

.btn--primary{
    background-color: #E60023;
    color: white;
}

.btn--secondary{
    background-color: #EFEFEF;
}

.image-fit{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.image-radius{
    overflow: hidden;
    border-radius: 50%;
}

.text-center{
    text-align: center;
}

.align-center{
    display: flex;
    align-items: center;
}

.image-fit-90p{
    height: 90%;
    border-radius: 1em;
    box-shadow: .1em .1em .25em .1em rgba(128, 128, 128,0.4);
}

.pd-n-fw{
    padding: .5em;
    font-weight: 700;
}


