body{
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(240, 198, 205);
    width: 100vw;
    height: 100vh;
    position: relative;
    .balloon{
        height: 10vh;
        transition: all 5s;
        position: absolute;

    }
}
