h1{
    color: aqua;
    size: 2rem;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: azure;
  }

  .wrapper{
      border-radius: 5%;
      border-color: black;
      height: 100vh;
      width: 100wh;
  }

  .flagwrapper{
      border-color: black;
      height: 50vh;
      width: 50wh;
  }



