body{
    margin: auto;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI4IVNXotpGnUjG_rehOMzoMg5kvtGqew17Q&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    position: relative;
}


  .balloon{
      height: 10vh;
      position: absolute;
     transition: all 7s;
      img{
        width: 150px;
      }
     
  }
   
