body{
    background-color: rgba(255, 255, 255, 0.877);

}

nav{
    position: relative;
    width: 100%;
    margin: 0;
    top: 0px;
    position: sticky;
    justify-content: space-between;
    


    ul{
        background-color: white; 
        overflow: hidden; 
        margin: 0;
        padding: 0; 
        
       
        
        li{
            list-style: none;
            float: left;
        } 

        li:firt-child{
            margin-left: 80px;

            
        }
        
        b{
            position: relative;
            padding: 10px;
            vertical-align: middle;
            border-radius: 50%;
            float:left;
            margin-right: -190px;
            margin-top: 2px;
        
             

            .logo--pin{
                position:relative;
                width: 35px;
                height: 35px;
                top:-15px
            }
            .logo--pin:hover{
                background-color: gray;
                border-radius: 50px;
                opacity: 0.7;
            }
            .bell{
                position: relative;
                width: 20px;
                height: 24px;
                bottom: 25px;
                left: 1570px;
            }
            .bell:hover{
                background-color: gray;
                border-radius: 50px;
                opacity: 0.7;
            }
            .messege{
                position: relative;
                width: 22px;
                height: 24px;
                bottom: 25px;
                left: 1600px;
            }
            .profile--picture{
                position: relative;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                bottom: 25px;
                left: 1640px;
            }
            .profile--picture:hover{
                background-color: gray;
                border-radius: 50px;
                opacity: 0.7;
            }
            .chevron{
                position: relative;
                width: 20px;
                height: 20px;
                bottom: 25px;
                left: 1680px;
            }
            .chevron:hover{
                background-color: gray;
                border-radius: 50px;
                opacity: 0.7;
            }
        
        
        }
        a{
            display: block;
            text-decoration: none;
            min-height: 16px;
            text-align: center;
            padding: 14px;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.856);
            position: relative;
            font-family: Arial, Helvetica, sans-serif;
            font-size: medium;
        }

    }
    
    .home--button{
        position: relative;
        background-color: black;
        width: 77.38px;
        height: 48px;
        align-items: center;
        border-radius: 50px;
        left: 25px;
        bottom: 4px;

        .home-wr{
            position:relative;
            color: #fff;
            font-size: 16px;
            text-align: center;
            top: 0px;
            font-weight: bold;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    
    }

    .search-Bar{
        position: relative;
        width: 80%;
        height: 45px;
        bottom: 14px;
        left: 30px;
        top: -5px;
        border-radius: 50px;
        background-color: transparent;

    }

    
         



}



.gallery{
    display: grid;
    grid-template-columns: repeat(5, 320px);
    grid-template-rows: repeat(3, 490px);
    
    //columns: 5 320%;
    //column-gap:  0.5%;
    column-width: 500px;
    -webkit-column-break-inside: avoid;
    
    
}

img{
    max-width: 100%;
    margin-bottom: 0.5%;
    display: block;
    outline: 2px solid #fff;
    outline-offset: -10px;
    border-radius: 30px;

       

}



