.wrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: auto;
    display: grid;
    
   background: rgb(0, 0, 0);
}
    
.items{
background: rgb(255, 255, 255);
border-style: outset;
box-shadow: 2px 2px 5px black;
height: 600px;

}


#profile-pic{
    height: auto;
    width: 35px;
  border-radius: 50%;
}

.name{
    justify-content: start;
    display: flex;
  
  
}
#like-bar{
height: auto;
    width: 30px;


}

#like-bar2{
position: absolute;
    
    height: auto;
    width: 35px;
    
}
.person{
    display: flex;
}
#name{
    font: serif ;
font-weight: bold;
}

#views{
    color: rgb(133, 132, 132);
}
#days{
    color: gray;
    font: italic;
}