* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    form {
        width: 27em;
        height: 27em;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        padding: 44px;
        margin: auto;
        border-radius: 20px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        .result{
            margin-top: 40px;
            background-color: rgb(243, 234, 234);
            width: 50px;
            height: 2.5em;
            padding: 12px;
            border-radius: 5px;
            text-align: center;
        }
        .heading {
            text-align: center;
            margin-bottom: 60px;
            font-size: 38px;
            color: rgb(30, 117, 171);
        }
        .reset {
            text-align: center;
            margin-top: 60px;
            color: rgb(30, 117, 171);
            font-size: 15px;
        }
        input {
            height: 2.5em;
            margin-bottom: 1em;
            padding: 8px 24px;
            border-radius: 0.6em;
            border: 1px solid lightgray;
            font-size: 15px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        #phoneNumber {
            margin-bottom: 32px;
        }
        button {
            height: 4em;
            border-radius: 0.6em;
            border: none;
            background-color: rgb(30, 117, 171);
            color: white;
            padding: 8px 24px;
            font-size: 15px;
            font-weight: normal;
        }
    }
}