body {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    .wrapper {
        position: relative;
        top: 70vh;
        .baloonns {
            width: 12vw;
        }
    }
}