body {
    background-color: lightblue;
    height: 100vh;
    overflow-y: hidden;
}

.redBalloon {
    position: absolute;
    height: 20vh;
    transition: all 5s;
    transition-timing-function: ease-in;
}