body {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    .baloonns {
        // width: 12vw;
        height: 10vh;
        position: absolute;
        transition: all 2s;
        top: 112vh;
    }
}