body{


    .wrapper{
      display: flex;
       margin: auto;
        width: fit-content;
      
        

    }
    .stick{
       background-color: blue;
        position: relative;
        margin: 35px;
        color: white;
        text-align: center;

    }







}