* {
    box-sizing: border-box;
}

body {
    .mega_wrapper {
        border-radius: 50px;
        width: 424px;
        height: 640px;
        display: flex;
        justify-content: center;
        background-color: rgb(45, 47, 51);
        position: relative;

        &__topProfile {
            background-color: rgba(180, 180, 180, 0.18);
            height: 75px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__profile_item {
                background-color: gray;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                margin-left: 15px;
                margin-top: 15px;

                p {
                    text-align: center;
                    font-weight: bolder;
                    font-size: 20px;
                }


                &__location_wrapper {
                    background-color: rgb(255, 255, 255);
                    display: flex;
                    flex-direction: row;
                }

                &__edit_wrapper {
                    margin-right: 30px;
                    margin-top: 30px;
                }
            }
        }

        &__wrapper {
            background-color: rgba(180, 180, 180, 0.18);
        }

        &__menu {
            background-color: rgb(45, 47, 51);
            width: 100%;
            position: absolute;
            bottom: 41px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-size: 30px;
            color: rgb(95,178,184);

            &--white {
                background-color: rgb(255, 255, 255);
            }
        }





    }

}
.location_wrapper {
    background-color: azure;
}