//General
.mega-wrapper{
 border-radius: 15px;
 width: 400px;
 height: 600px;
 border: 1px solid black;
 margin: auto;
 background-color: rgb(45,47,51);

 //OZ

    ul{
    list-style-type: none;
    padding-top: 0px;
    padding: 0px;
    margin-top: 60px;
    }



    .studentprofiledark{
      width: 100%;
      height: 45px;
      background-color: rgb(39, 37, 37);
      img{
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-top: 5px;
        margin-left: 5px;
      }
    
    
    .studentprofile{

        width: 100%;
        height: 40px;
        background-color: rgb(116, 109, 109);
       
        img{
            border-radius: 50%;
            width: 35px;
            height: 35px;
            margin-top: 3px;
            margin-left: 5px;
          }
        
    }

    .border-menu{
     background-color: rgb(39, 37, 37);
     
    
     
     
       

     }
    
    
    
    
    
    }

  //Inbar
  
  .user_profile{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px 15px 0 0;
    margin-bottom: 20px;

    img{
      width: 40px;
      height: 40px;
      margin-top: 3px;
      margin-left: 3px;
      padding-top: 5px;
      padding-left: 12px;
      border-radius: 50%;
    }
    h2{
      margin: 0;
      padding-top: 15px;
      padding-left: 10px;
      font-family: sans-serif;
      color: rgb(75, 75, 214);
    }
  }

  .header{
    width: 100%;
    background-color: rgb(45,47,51);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    h1{
      margin: 0px;
      color: rgb(95,178,184);
    }
    h2{
      margin: 0px;
      color:white;
    }
    h3{
      margin: 0px;
      color: rgb(189, 201, 239);
      .torq{
        color: rgb(95,178,184);
      }
    }

    
  }

  .container{
    margin-top: 0px;
    margin: auto;
    width: 80%;
    height: 394px;
    padding-top: 0px;
    display: flex;
    flex-wrap:  wrap;
    text-align: center;
    background-color: rgb(45,47,51);
    position: relative;
    justify-content: space-around;
    

    .button{
      width: 120px;
      height: 70px;
      background-color: rgba(180, 180, 180, 0.37);
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      font-size: 16px;
      margin: 5px 4px;
      border-radius: 12px;
        &:hover {
            background: #5FB2B8;
        }
    
        &__wide{
            width: 300px;
            height: 30px;
            border-radius: 20px;
            padding: 7px;
        
          }
        }
      }

  .nav_bottom{
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: white;
    width: 100%;
    height: 40px;
    border-radius: 0px 0px 15px 15px;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

    .back{
      margin: 5px;
      width: 30px;
      float: left;
    }
    .next{
      height: 30px;
      margin-top: 5px;
      width: fit-content;
      background-color: rgb(95,178,184);
      border-radius: 10px
      
      
    }
  }
}