.mega-wrapper{
 border-radius: 15px;
 width: 400px;
 height: 600px;
 border: 1px solid black;
 margin: auto;
    
    
 
 
 
  .blok-list{
   list-style-type: none;
   padding-top: 0px;
   padding: 0px;
   margin-top: 60px;
     p{
      position: relative;
      bottom: 46px;
      left: 50px;
     }
    
   }
     


    .studentprofile-dark{
      width: 100%;
      height: 45px;
      background-color: rgb(39, 37, 37);
      img{
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-top: 5px;
        margin-left: 5px;
      }
    }
    
    .studentprofile{

        width: 100%;
        height: 45px;
        background-color: rgb(116, 109, 109);
       
        img{
            border-radius: 50%;
            width: 35px;
            height: 35px;
            margin-top: 3px;
            margin-left: 5px;
          }
        
    }

    
    .border-menu{


      width: 100%;
      height: 100%;
      background-color: rgb(39, 37, 37);
      
      
    }
     
     
    
     
     
       

     
    
    
    
    
    
   

   



}