.wrapper {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-template-rows: 200px 100px 200px 100px 200px 100px 200px 100px;
  gap: 3px;

  .item {
    background-color: wheat;
  }

  .red{background: red;}

  .img{
      background-image: url(http://adminassets.devops.arabiaweather.com/sites/default/files/field/image/snow-title.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      
  }
}
