.top{
    display: flex;
    position: fixed;
    // width: 100;
    top: 0%;
    // padding-bottom: 50px;
    background-color: white;
    z-index: 1;
    box-sizing:content-box;
    // padding: 0px;
    // margin: 0px;

    height: 65px;
    &__left{
        display: flex;
        position: relative;
        left: 20px;
        img{
            height:min-content;
            align-items: center;
            position: relative;
            top:13px;
        }
        .home0{ 
            .home{
            background-color: black;
            border-radius: 50px;
            height: 45px;
            width: 70px;
            text-align: center;
            // align-content: center;
            color: white;
            position: relative;
            left: 20px;
            // bottom: 10px;
            align-items: center;
            top: -10px;
            h3{
                position: relative;
                top: 9px;
            }
        }
    }
    }
    &__center{
        margin: auto;
        padding:0px;
        padding-left: 50px;
        input {
            width: 100%;
            height: 50px;
            border-radius: 50px;
            background-color: rgb(219, 212, 212);
            padding: 0px;
            padding-left:0px;
            margin: 0px;
            font-size: 20px;
            
        }
       
    }
    &__right{
        display: flex;
        padding: 0px;
        gap: 10px;
        margin: 0px;
       .user{
            background-color: purple;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            text-align: center;
            color: aliceblue;
            position: relative;
            // top: -13px;
            h2{
                position: relative;
                bottom: 25px;
                font-size: 40px;
                text-align: center;
            }
        }
    }
}
.wrapper3{
    // margin: 40px;
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    gap: 10px;
    position: relative;
    top: 100px;
    .supermen:hover{
        filter: grayscale(200%);

    
    }
    

}
.wrapper4{
    // margin: 40px;
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    gap: 10px;
    position: relative;
    top: 100px;
    .supermen:hover{
        filter: grayscale(200%);

    
    }
    

}
.content{
    position: relative;
    top: 100px;
    margin: auto;
    width: 1200px;
    height: 1000px;
    display: flex;
    padding: 100px;
    &__img{
        padding-right: 20px;
       img{
            height: 1000px;
            width: 600px;
        }
    }
    &__comment{
        .icons{
            display: flex;
            height: 48px;
            gap: 10px;
            .save{
                position: absolute;
                right: 0px;
                border-radius: 50px;
                width: 90px;
                height: 60px;
                background-color: red;
                color: white;
                // align-content: center;
                display:flex;
                justify-content: center;
                h1{
                    text-align: center;
                    position: relative;
                    bottom: 11px;
                }

                
            }
        }
        
        .rihanna{
          &__wrapper{
              display: flex;
              gap: 20px;
              padding: 20px;
             .wrapper0{
                 
                img{
                    border-radius: 50%;
                    height: 80px;
                    width: 70px;
                }
                }
             .wrapper1{
                    border: 1px solid ;
                    width: 550px;
                    height: 80px;
                    border-radius: 25px;
                    margin: 0%;
                    padding: 0%;
                    
                    
                .name{
                    display: flex;
                    gap: 10px;
                    position: relative;
                    left: 20px;
                    top: -10px;
                    p{
                        position: relative;
                        top: 8px;
                    }

                }
                .comment1{
                    position: relative;
                    left: 20px;
                    top: -30px;

                }
                }
            }
            &__h{
                position: relative;
                left: 25px;
                display: flex;
                gap: 20px;
                .h{
                    background-color: purple;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    h1{
                        position: relative;
                        top: -10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: aliceblue;
                    }
                   
                    
                }
                input{
                    width: 550px;
                    border-radius: 25px;
                }
            } 

        }
        .bottom{
            display: flex;
            position:absolute;
            bottom: 100px;
            
            img{
                border-radius: 50%;
                width: 48px;
                
            }
        }
    }
}

.bottom_nav{
    display: none;
    // margin: auto;
    width: 700px;
    height: 50px;
    z-index: 1;
    position: fixed;
    // display: block;
    bottom: 40px;
    left: 50vw;
    transform:translateX(-50%);
    // left: 750px;
    // padding-left: 800px;
    // display: flex;
    justify-content: space-around;
    // gap: 115px;
    background-color: aliceblue;
    border-radius: 50px;
    border: 1px solid;
    margin:0 auto;


    img{
        position: relative;
        top: 13px;
        height: 30px;
        color: gray;
    }
}

@media only screen and (max-width: 1350px){
    
    .wrapper{
        grid-template-columns:repeat(5, 1fr);
    }

}
@media only screen and (max-width: 800px){
    
    .wrapper{
        grid-template-columns:repeat(3, 1fr);
    }

}
@media only screen and (max-width: 412px){
    .top{
        width: 300px;
        height: 50px;
        position: fixed;
        box-sizing: content-box;
        display: flex;
        gap: 0;
        z-index: 1;
        padding: 0px;
        &__left{
            left: 0;
        }
        &__center{
            padding: 0%;
            padding-left: 30px;
            input{
                width: 80px;
                height: 50px;
                position: relative;
                // left: 30px;
            }
        }
        &__right{
            gap: 0px;
            // padding-left: 25px;
        }
    }
    .bottom_nav{
        display: flex;
        width: 300px;
        // left: 80px;
        // justify-content: none;
        gap: 7px;

    }
    .wrapper4{
        grid-template-columns:repeat(1, 1fr);
        position: relative;
        left: 65vw;
        transform:translateX(-50%);
        margin: auto;
        padding-top: 600px;
        // img{
        //     margin: auto;
        // }
    }
    .wrapper3{
        grid-template-columns:repeat(1, 1fr);
        position: relative;
        left: 65vw;
        transform:translateX(-50%);
        margin: auto;
        padding-top: 100px;
        // img{
        //     margin: auto;
        // }
    }
    .content{
        flex-direction: column;
        width: 300px;
        padding: 0;
        height: 400px;

        &__img{
            

           img{
            height: 200px;
            width: 100%;
        }
        }
        .bottom{
            position: relative;
            bottom: -200px;
        }
    }

}