body {
    position: relative;
    // background-image: url(./images/nature.jpg);
    background-repeat: no-repeat;
    background-size:cover;

    .balloon{
        position: absolute;
        width: 80px;
        height: 300px;
        top:99vh;
        transition: top 5s ease-in-out;
        img {
            width: 100%;
        }
    }
}