body{
    background-image: url();
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: aqua;
    .resultDisplay{
        width: 700px;
        font-size: 50px;
        position: absolute;
        left: 150px;
        top: 300px;
    }
    .balloon{
        width: 50px;
        position: absolute;
        top: 90vh;
        display: inline;
    }
}