.header{
    background-color: red;
    height: 30px;
    width: 1260px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    .part{
        display: flex;
        align-items: center;
    }
    .logo{
        width: 50px;
        border-radius: 20%;
        margin: 10px;
    }
}
.continer{
    display: flex;
    
    .item{
        width: 300px;
        margin-top: 20px;
        margin-left: 20px;
        position: relative;
        .logo{
            width: 50px;
            position: absolute;
            border-radius: 20%;
            bottom: 60px;
            right: 10px;
        }
        img{
            width: 300px;
        }
        .title{
            font-weight: bold;
        }
    }
}
