* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
}

.managermenu {
    width: 100%;
    height: max(10vh, 5rem);
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;

    p {
        font-size: clamp(0.7rem, 1.5vw, 2rem);
        border: 2px solid #fff;
        padding: 1rem;
        border-radius: 5%;

        &:hover {}
    }
}

.changes {
    position: fixed;
    top: 0;
    width: max(20%, 15rem);
    height: 100vh;
    background-color: rgba(104, 102, 126);
    z-index: 1;
    display: none;

    .myfont {
        width: 10rem;
    }

    .closeicon {
        display: flex;
        justify-content: end;
        font-size: clamp(1.2rem, 2vw, 1.5rem);
        padding: 1rem;
        cursor: pointer;
    }

    .secstructor {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 100%;

        .imgurlupload {
            padding: 0.7rem;
            border-radius: 50px;
            width: min(75%, 25vw);
            border: 1px solid black;
        }

        .imgfileupload {
            border-radius: 50px;
            border: 1px solid black;
            width: min(75%, 25vw);
            background: white;

            &::-webkit-file-upload-button {
                background: black;
                color: white;
                padding: 0.7rem;
                border-radius: 50px;
                border: none;
            }
        }

        .colorsvg {
            position: relative;
        }

        .colorsvg::after {
            content: 'Fill Color';
            position: absolute;
            top: 50%;
            left: 60%;
            width: 100%;
            transform: translate(-50%, -50%);
            color: white;
        }
    }
}
.strokecolor {
            
    position: relative;
    &::after{
        content: 'Stroke Color';
        position: absolute;
        top: 50%;
        left: 60%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: white;  
    }
}
.backgroundcolor {
    position: relative;

    &::after {
        content: 'BackgroundColor';
        position: absolute;
        top: 50%;
        left: 60%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

.textcolor {
    position: relative;

    &::after {
        content: 'TextColor';
        position: absolute;
        top: 50%;
        left: 60%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

header {
    width: 100vw;
    height: max(30vh, 5rem);
    background-color: white;

    .mainheadline {
        font-size: max(2rem, 4vw);
        fill: none;
        stroke: white;
        width: 100vw;
        font-weight: 700;
        height: 100%;
        font-family: 'oleo script';
    }

    .mainimg {
        display: flex;
        align-items: center;
        background-image: url('https://wallpaperaccess.com/full/2029165.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 25%;
        box-shadow: inset 0 -10px 50px white;
        width: 100%;
        height: max(30vh, 5rem);
        color: white;
    }

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        height: min(10vh, 2.5rem);
        background: white;

        .itementer {
            background-color: rgba(grey, 0.4);

        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            gap: min(2rem, 2vw);

            li {
                display: flex;
                align-items: center;
                height: 100%;
                list-style: none;
                font-size: clamp(0.9rem, 1vw, 2rem);
                color: #8B03B5;
                cursor: pointer;
                font-weight: bold;

                span {
                    color: #040520;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 2.5rem 0 0;

    .gallerysec {
        display: flex;
        flex-direction: column;
        width: min(85%, 60rem);
        height: min(50vh, 25rem);
        border: white ridge 5px;
        border-radius: 50px;
        overflow: hidden;
        margin: 4rem 0;
        
        h2 {
            padding: 1rem 0;
            font-size: clamp(1.2rem, 2.5vw, 2rem);
            color: #8B03B5;
            font-family: 'beau rivage';
            text-decoration: underline;
            text-align: center;
            background-color: white;
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;
        }

        .carrousel {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow {
                display: flex;
                align-items: center;
                height: 100%;
                color: white;
                font-size: 2rem;
                margin: 0 1rem;
                cursor: pointer;
            }

            .carrouselimages {
                display: flex;
                width: 50%;
                height: 100%;
                
                justify-content: space-evenly;
                align-items: center;
                border: #8B03B5 solid 10px;
                .carrouselimage {
                    display: flex;
                    align-items: center;
                    width:90%;
                    height: 19rem;
                }
            }
        }
    }

    .productssec {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: fit-content;
        background-color: #8B03B5;
        padding-bottom: 2rem;

        h2 {
            font-family: 'beau rivage';
            text-decoration: underline;
            text-align: center;
            font-size: clamp(1.2rem, 2.5vw, 2rem);
            color: black;
            padding: 1rem;
        }

        .itemswrapper {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 20rem);
            gap: 1rem;

            .item {
                border: 2px solid white;
                display: flex;

                img {
                    width: 40%;
                }

                .split {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #EFC648;
                    text-align: center;
                    width: 60%;
                    padding: 1rem;
                    line-height: 1.5rem;
                    word-spacing: 0.5rem;
                    background-color: black;

                    .itemname {
                        font-size: clamp(1.2rem, 2vw, 1.5rem);
                        margin: 1rem 0 0;
                    }

                    .itemdescription {
                        text-align: center;
                        ;
                        width: 50ch;
                        padding: 1rem;
                        background-color: black;
                        color: #EFC648;
                        border-radius: 10px;
                        border: 2px solid #efc648;
                        margin: 1rem 0;

                    }

                    .price {
                        margin-bottom: 1rem;
                        font-size: 1.2rem;
                    }

                    .btncart {
                        border: none;
                        background-color: black;
                        color: #EFC648;
                        font-size: 1.2rem;
                        cursor: pointer;
                    }

                }
            }

            .ticket {
                grid-column: 1 / 3;
                height: 20rem;

                img {
                    width: 30%;
                }

                .split {
                    justify-content: center;
                    width: 70%;

                    .itemdescription {
                        width: 75ch;
                    }
                }
            }

        }
    }

    .formsec {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 2rem 0 4rem;
        width: 80%;
        height: min(50vh, 25rem);

        .mediaicons {
            color: transparent;
            font-size: 2rem;
            background-image: linear-gradient(to bottom, #8b03b5, #9f5ed1, #b896e6, #d7cbf5, #ffffff);
            background-clip: text;
            -webkit-background-clip: text;
            cursor: pointer;
        }

        .fa-instagram {
            position: absolute;
            bottom: 0;
            left: 0;
            color: white;
        }

        .fa-twitter {
            position: absolute;
            top: 0;
            left: 0;
        }

        .fa-facebook-f {
            position: absolute;
            top: 0;
            right: 0;
        }

        fieldset {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            border: 0.4rem ridge white;
            border-radius: 25px;
            color: white;
            width: min(85vw, 50rem);
            height: 100%;

            legend {
                font-size: 3rem;
                margin: 2rem;
                padding-right: 0.5rem;
                font-family: 'beau rivage';
                color: #8B03B5;
                font-weight: bold;
            }

            #signbtn {
                font-size: clamp(1.7rem, 2vw, 2.5rem);
                font-family: 'beau rivage';
                width: fit-content;
                height: fit-content;
                border: none;
                background-color: transparent;
                color: #8B03B5;
            }
        }
    }
}

footer {
    display: flex;
    align-items: end;
    width: 100%;
    height: 20vh;
    background-color: white;

    .backimgfooter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-image: url('https://wallpaperaccess.com/full/112112.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-right-radius: 25%;
        box-shadow: inset 0 5px 15px white;
        width: 100%;
        height: max(15vh, 4rem);
        color: white;

        .rights {
            color: black;
            font-size: 2rem;
        }
    }
}

.about {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;

    h2 {
        text-align: center;
    }

    .aboutdescription {
        text-align: center;
        width: 100ch;
    }
}