body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    background-color: beige;
}

.header{
    background-color: red;
    height: 50px;
    width: 100%;
    position: fixed;
}

.bg{
    background-color: grey;
    width: 100%;
    height: 100px;
}

.title{
    background-color: grey;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 50px;
    text-align: center;
}

.logo img{
    height: 100px;
    position: fixed;
    right: 0;
    top: 0;
}

h1{
    margin: 0;
}

.txt {
    width: 70%;
    margin: auto;
    font-size: 40px;
}
