body{
    margin: 0%;
    position: relative;
    // background-color: coral;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://www.howtogeek.com/wp-content/uploads/2018/04/preview-2.png?height=200p&trim=2,2,2,2&crop=16:9);
}


h1{
    color: rgb(0, 140, 255);
    text-align: center;
}

#password,#phoneNumber,#FirstName,#LastName,#email,#confirmPassword,#date,#Male,#Female,#date,#submit{
    padding: 20px;
    border-radius: 20px;
}

.form1{
    align-items: center;
    display: flex;
    flex-direction: column;
    // width: 50%;
    position: absolute;
    row-gap: 10px;
    // put space beetwen the lines
}

.form2{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    position: absolute;
    row-gap: 10px;
    // put space beetwen the lines
}


