

body {
    margin: 0px;
    width: 100vh;
    height: 100vh;
    background-color: burlywood;

}

.page {
    margin: 0px;
    height: 90vh;
    width: 70%;
    background-color: chartreuse;
    font-size: 5px;


    .header {
        height: 70%;
        width: 70%;
        font-size: 2em;
        background-color: coral;

        .window {
            height: 70%;
            width: 70%;
            background-color: cyan;
            font-size: 1.2em;

            .box {
                height: 70%;
                width: 70%;

                background-color: darkgreen;

                font-size: 0.8em;
            }

        }



    }





}