#a{
    width: 400px;
    margin: 2mm auto;
    border-style: solid;
    flex-direction: column;
    align-items: center;
}
.a{
    display: flex;
    margin: auto;

    }
.a img{
    border-radius: 50%;
    width: 7mm;
    height: 10mm;
    margin: 2mm;
}
#b img{
  width: 400px;  
}
.c{
    display: flex;
    border-radius: 50%;
    width: 5mm;
    height: 10mm;
    margin: 2mm;
}
#c{
    color: gray;
}