// .elementOne{
//     width: 100px;
//     height: 100px;
//     left: 0px;
//     top: 100px;
//   position: absolute;
// background-color: rgb(216, 121, 137);
// opacity: 0.7;
// }

// .elementTwo{
//     position: absolute;
//     width: 100px;
//     height: 100px;
//     left: 100px;
//     top: 150px;
//     background-color: pink;
//     opacity: 0.7;
//     }

body{
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.wrapper{
  width: 100%;
  height: 100%;
  position: absolute;


  .videoBg{
    position: absolute;
    width: 100vw;
    height: 100vh;
  }


.box {
  height: 90px;
  width: 100px;
  position: absolute;
  transform: rotate(360deg);
  transition: all 1300ms;


img{
width: 100%;
height: 100%;
position: absolute;
user-select: none;
-webkit-user-select: none;   /* Chrome/Safari/Opera */
cursor: default;


}


}
.explosion {
  // position: absolute; 
  width: 300px;
  height: 300px;
  pointer-events: none;
  .particle {
    position: absolute;  
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0;
    top: 300px;
    left: 300px;
  }
}




}