body {
    margin: 0%;
}

.start {
    width: 50px;
    height: 50px;
    background-color: cadetblue;
}

.box {
    width: 70px;
    height: 70px;
    background-color: black;
    position: absolute;
    top: 50vh;
    left: 50vh;
    transition: all 1300ms;

    &:hover {
        transform: rotate(360deg);
    }

    &:active {
        background-color: rgb(147, 147, 192);
    }

    &--red {
        background-color: brown;
        position: absolute;
        top: 70px;
        left: 200px;

        &:hover {
            transform: rotate(180deg);
        }

        &:active {
            background-color: rgb(211, 39, 202);
        }

        animation-name: movingupdown;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    &--lightblue {
        background-color: rgb(82, 246, 246);
        position: absolute;
        top: 10px;
        left: 10px;

        &:hover {
            transform: rotate(180deg);
        }

        &:active {
            background-color: rgb(158, 158, 158);
        }

        animation-name: movingdownup;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    &--green {
        background-color: rgb(87, 246, 82);
        position: absolute;
        top: 250px;
        left: 80px;

        &:hover {
            transform: rotate(180deg);
        }

        &:active {
            background-color: rgb(10, 80, 13);
        }

        animation-name: movingupdown;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    &--purple {
        background-color: rgb(153, 82, 246);
        position: absolute;
        top: 70px;
        left: 400px;

        &:hover {
            transform: rotate(180deg);
        }

        &:active {
            background-color: rgb(71, 16, 107);
        }
        animation-name: movingdownup;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes movingupdown {
    50% {
        position: absolute;
        top:400px;
    }
    100% {
        position: absolute;
    }
}


@keyframes movingdownup {
    50% {
        position: absolute;
        left: 200px;
    }
    100% {
        position: absolute;
    }
}

.wrapper {
    width: 700px;
    height: 500px;
    border: 2px solid black;
}