*{
    box-sizing: border-box;
}

body{
    .container{
        border: 5px solid rgb(1, 78, 74);
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 5px;
        .item{
            background-color: rgb(243, 64, 153);
            border-radius: 5px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        .item-blank-right{
            //background-color: red;
            grid-column: 5 / 9;
            grid-row: 1 / 8;
        }
        .blank-r-2{               
            //background-color: red;
            grid-column: 1 / 5;
            grid-row: 2 / 3;
        }
        .blank-r-4{               
            //background-color: red;
            grid-column: 1 / 5;
            grid-row: 4 / 5;
        }
        .blank-r-6{               
            //background-color: red;
            grid-column: 1 / 5;
            grid-row: 6 / 7;
        }
        p{
            color: #fff;
            font-size: 30px;
            font-weight: 700;
        }
        
    }
}