*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    .container{
        width: 500px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
        .item{
            padding: 15px;
            color: white;
            text-align: center;
            background-color: rgb(60, 94, 190);
            border-radius: 5px;
        }
        .extended{
            background-color: rgb(214, 87, 108);
            grid-column: 1/4;
            grid-row: 1/2;
        }
    }
}