body{
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'one one one one'
        'two two two three'
        'four four four four';
        .item:nth-child(1){
            height: 250px;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            border: 5px solid #007451;
            grid-area: one;
            p{
                padding: 10px;
                display: inline-block;
                background-color: #007451;
                border-bottom-right-radius: 5px;
            }
        }
        .item:nth-child(2){
            height: 100px;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            border: 5px solid #fb5f79;
            grid-area: two;
            p{
                padding: 10px;
                display: inline-block;
                background-color: #fb5f79;
                border-bottom-right-radius: 5px;
            }
        }
        .item:nth-child(3){
            height: 100px;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            border: 5px solid #f3a019;
            grid-area: three;
            p{
                padding: 10px;
                display: inline-block;
                background-color: #f3a019;
                border-bottom-right-radius: 5px;
            }
        }
        .item:nth-child(4){
            height: 200px;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            border: 5px solid #5e10b8;
            grid-area: four;
            p{
                padding: 10px;
                display: inline-block;
                background-color: #5e10b8;
                border-bottom-right-radius: 5px;
            }
        }
    }
    p{
        margin: 0;
    }
}