        //all screens settings//
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        
        //shira//
        .screen {
            position: relative;
            background-color: rgba(0, 0, 0, 0.671);
            margin: auto;
            border-radius: 20px;
            width: 360px;
            height: 650px;
            .top_nav {
                background-color: rgba(0, 0, 0, 0.671);
                height: 80px;
                border-radius: 20px 20px 0;
                .results_btn {
                    background-color: rgb(0, 119, 128);
                    width: 100px;
                    height: 20px;
                    border-radius: 20px;
                    .results {
                        text-align: center;
                        color: white;
                    }
                }
                .avatar {
                    background-color: grey;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    margin-top: 40px;
                    position: relative;
                    top: 15px;
                    left: 20px;
                    .main_avatar {
                        color: white;
                        font-size: xx-large;
                        text-align: center;
                        margin-top: 10px;
                    }
                    .admin {
                        color: white;
                        position: relative;
                        top: 315px;
                    }
                }
            }
            .first--user--row {
                display: flex;
                justify-content: space-between;
                margin-top: 18px;
                width: 100%;
                height: 50px;
                background-color: rgba(128, 128, 128, 0.548);
            }
            .user_row {
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 50px;
                background-color: rgba(128, 128, 128, 0.548);
                .icon_djembe {
                    position: relative;
                    left: 500px;
                }
            }
            .users_avatar {
                border-radius: 50%;
                height: 40px;
                width: 40px;
            }
            .dark--user--row {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 50px;
                background-color: rgba(0, 0, 0, 0.37);
            }
            .map_img {
                width: 100px;
                height: 300px;
            }
            .menu {
                width: 100%;
                height: 50px;
                border-radius: 0 0 20px 20px;
                display: flex;
                justify-content: space-between;
                background-color: rgba(0, 0, 0, 0.445);
            }
        }
        
        //Bella//
        .screen_bella {
            width: 360px;
            height: 650px;
            background-color: #32363B;
            border-radius: 20px;
            margin: auto;
            //top header - image + admin's name//
            .top__header {
                position: relative;
                display: flex;
                align-items: center;
                background-color: rgb(235, 231, 231);
                height: 70px;
                border-radius: 20px 20px 0 0;
                img {
                    width: 45px;
                    height: 45px;
                    margin-right: 12px;
                }
                .avatar__1,
                .admin--1 {
                    position: relative;
                    left: 16px;
                    color: rgb(5, 50, 102);
                    font-weight: 600;
                }
            }
            //screen main content//
            .content {
                text-align: center;
                width: 80%;
                margin: auto;
                color: azure;
                h1 {
                    margin: 12px 0 8px 0;
                    color: #00C0C3;
                }
                h3 {
                    margin: 4px;
                    span {
                        color: #00C0C3;
                    }
                }
                .buttons {
                    display: flex;
                    justify-content: center;
                    li {
                        list-style-type: none;
                        width: 130px;
                        height: 85px;
                        background-color: #6A6B6F;
                        padding: 16px;
                        margin: 16px 8px;
                        line-height: 1.4;
                        box-sizing: border-box;
                        border-radius: 20px;
                    }
                    .selected {
                        background-color: #00C0C3;
                    }
                    .right,
                    .left {
                        padding: 0;
                        margin: 0;
                    }
                }
                //button in the bottom of the screen//
                .button--down {
                    width: 285px;
                    height: 40px;
                    padding: 8px 20px 0 20px;
                    line-height: 1.4;
                    background-color: #6A6B6F;
                    box-sizing: border-box;
                    border-radius: 50px;
                }
            }
        }