body{
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 500px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(153, 148, 148);
    border-radius: 20px;


}
#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}
.calculatorButtons{
    display: grid;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.button{
    border-top: 1px solid gray;
   border-right: 1px solid gray;
   border: 0.5px solid gray;
   line-height: 100px;
   text-align: center;
   font-size: 25px;
   cursor: pointer;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 #equal{
     background-color: red;
     color: white;
     border-top: 1px solid gray;
     border-right: 1px solid gray;
     border: 0.5px solid gray;
     line-height: 100px;
     text-align: center;
     font-size: 40px;
     cursor: pointer;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .button:hover{
      background-color: blue;
      color: white;
      transition: 0.5 ease-in-out;
  }

     
     
 