body {
    margin: 0%;
}

header {
    height: 150px;
    margin: 0%;
    background: rgb(30, 255, 234);
    background: radial-gradient(circle, rgba(30, 255, 234, 1) 0%, rgba(57, 151, 214, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h1,
    h2 {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        margin: 0%;
    }
}

.wrapper {
    padding-top: 100px ;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;

    &__bar {
        background-color: rgb(57, 151, 214);
        width: 100px;
        border: 1px solid gray;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }
}