
.wrapper{
    display: grid;
    margin: 0% auto;
    max-width: 1000px;
    grid-template-columns: 3fr 1fr;
    row-gap: 20px;
    
    .text{
        background-color: red;
        color:aliceblue;
        padding: 20px;
        direction: rtl;
    }
    .box{
       img{
           width: 100%;
           height: 100%;
       }
    }
}