body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    .wrapper {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .top-nav-bar {
            width: 100vw;
            height: 5em;
            background-color: rgba(0, 0, 0, 0.842);
            z-index: 1;
            color: whitesmoke;
            position: fixed;
            top: 0;
            ul {
                display: flex;
                list-style-type: none;
                align-items: center;
                li {
                    padding: 1em;
                }
            }
        }
        .hero {
            display: flex;
            justify-content: center;
            margin: auto;
            img {
                width: 100vw;
                height: 60vh;
            }
            h1 {
                position: absolute;
                top: 3.2em;
                color: white;
                font-size: 3.5em;
            }
        }
        .intro {
            width: 80ch;
            margin: auto;
            h2 {
                font-size: 1.8em;
                text-align: center;
            }
            .bolded {
                text-align: center;
                font-weight: 500;
            }
        }
        main {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            margin: auto;
            width: 100vw;
            .card {
                background-color: rgb(255, 255, 255);
                width: 35ch;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                margin: 1em;
                margin-bottom: 5em;
                border-radius: 1em;
                .text {
                    padding: 1em;
                    p {
                        color: rgb(129, 129, 129);
                        padding-top: 0;
                        margin-top: 0;
                    }
                    h3 {
                        margin-top: 0.3em;
                    }
                }
                img {
                    border-radius: 1em 1em 0 0;
                }
            }
        }
    }
}