body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    .wrapper {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .hero {
            display: flex;
            justify-content: center;
            margin: auto;
            img {
                width: 100vw;
                height: 60vh;
            }
            h1 {
                position: absolute;
                top: 2.4em;
                color: white;
                font-size: 4em;
            }
        }
        .intro {
            width: 80ch;
            margin: auto;
            h2 {
                font-size: 2em;
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
        main {
            display: flex;
            justify-content: center;
            margin: auto;
            width: 80vh;
            .card {
                padding: 1em;
                background-color: rgb(255, 255, 255);
                width: 35ch;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                margin: 1em;
                margin-bottom: 5em;
            }
        }
    }
}