.wrapher{
    width: 200px;
    height: 200px;
    border: 1px dashed;
    margin: auto;
    margin-top: 400px;
    display: flex;
    flex-wrap: wrap;

    .box1{
        width: 100px;
        height: 100px;
        background-color: blue;
        }
      
    .move{
        width: 100px;
        height: 100px;
        background-color: rgb(255, 251, 0);
        position: relative;
        bottom: 20px;
        left: 20px;
    }
      
    .box3{
        width: 100px;
        height: 100px;
        background-color: rgb(31, 255, 1);
    }
      
    .box2{
        width: 100px;
        height: 100px;
        background-color: rgb(235, 17, 17);
    }
}