.wrapper{
    
    // display: grid;
    // grid-template-columns: 1fr 1fr 2fr 1fr;
    // column-gap:2px;
    // .box{
    //     background-color: palevioletred;
    // }
    .big_box{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
       
        .item{
            background-color: teal;
        }

    }
}
