body{
    padding: 0px;
   margin: 0px;
    
    h1{
        position: relative;
        padding-left: 110px;
        width: 350px;

    }


.top_nav{
    display: grid;
    
    grid-template-columns:repeat(12, 1fr) ; 
    background-color: black;
    color: antiquewhite;
    height: 50px;
    width: 100%;
    
    img{
          height: 50px;
           
           
           
     }
     
    .nav{
       display: flex;
        justify-content: center;
        align-items: center;
       border-left: 1px solid gray;
         height: 50px;
       
      
       
 
 
      
       &_search{
           position: relative;
         align-items: center;  
         width: 195px;
         height: 50px;
      
     }
 
     .sign_in{
        width: 90px ;
        flex: 2;
    }
    
}
}

.wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "item1 item2 item3"
    "item1 item4 item5";
    width: 85%;
    height: 320px;
   margin: auto;

    .item{
        background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/3E0D/production/_123058851_mediaitem123058850.jpg);
       background-size: cover;
       color: white;
       padding-left: 20px;
       vertical-align: text-bottom;
       
        
    &:hover{
          filter: grayscale(200%);
        }
       
        h3{
            border-left: 3px solid red; padding: 5px;
          }
      
       
    }
    .item1{
        grid-area: item1;
      padding-top: 200px;
      

    }
    .item2{
        grid-area: item2;
    }
    .item3{
        grid-area: item3;
    }
    .item4{
        grid-area: item4;
    }
    .item5{
        grid-area: item5;
    }

    }
        .news1{
            position: relative;
            left: 110px;
            top: 200px;
            font-size: 50px;
            border-left: 4px solid red;
            padding: 0px;
            padding-left: 7px;
           
            width: 350px;
        }
        .news{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 85%;
            margin: auto;
            padding: 50px;
            &_items{
                padding-top: 200px;
                img{ width: 300px;
                     height: 200px;
                     }
                     h4{
                         border-left: 4px solid red;
                         padding: 7px;
                     }

            }
        }
        .sport1{
            position: relative;
            left: 110px;
            top: 100px;
            font-size: 50px;
            border-left: 4px solid red;
            padding: 0px;
            padding-left: 7px;
            width: 350px;
        }
        .sport{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 85%;
            margin: auto;
            padding: 50px;
            &_items{
                padding-top: 70px;
                img{ width: 300px;
                     height: 200px;
                     }
                     h4{
                         border-left: 4px solid red;
                         padding: 7px;
                     }
            }
        }

        




    }