body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.columnWrapper {
    border: black 2px solid;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: flex-end;



    .column1,
    .column2,
    .column3 {
        background-color: purple;
        width: 40px;
        height: 100px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: bold;
        display: flex;
       justify-content: center;
   

    }

}