.mega-wrapper {
    width: 700px;
    height: 850px;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 12px;
    box-shadow: 0 0 8px rgb(2, 88, 248);
    .photo{
     img{
     width: 100%;
     border-radius: 12px;
     }
    
    }
    .card-text{
      h1{
      padding-left:60px;
      margin-top: inherit;
      font-style: italic;
      }
      h2{
      font-style: italic;
      padding-left:35px;

      }

      span{
      padding-left:200px; 
      }
      h4{
      padding-left:45px;
      font-size: 17px;
    
      }



    
    }


}
