body{
    margin: 0%;
    background-color: rgb(179, 175, 175);
}

header{
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    background-color: yellowgreen;

    h1,span{
        text-align: center; 
        margin: 0%;
        background-color: rgb(103, 161, 70);
    }
}

.key{
    font-weight: bolder;
    margin-left: 10px;
}

.bars{
    display: flex;
    margin: auto;
    width: fit-content;

    
}


