body{
    display: flex;
    justify-content: center;
    margin: auto;

}

.box {
        border-width: 2px;    
        border-style: solid;
        border-color: magenta;
        text-align: center;
        align-items: center;
       
    }

