body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAhqS_B67hFC3RkWA6lrTg8C20Vh9746h6UQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    
    
    
} 
.balloon{
    height:15vh;
    transition: all 4s;
    position: absolute;

   
}
  
  

  