body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-image: url(https://media.istockphoto.com/photos/hot-air-balloons-flying-over-the-botan-canyon-in-turkey-picture-id1309631741?b=1&k=20&m=1309631741&s=170667a&w=0&h=GxR0NjI1_pov96jKnkUevvTbNVncA0G_-auyOZPH77M=);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
   
    .ballon{
        position: absolute;
        width: 80px;
        height: 300px;
        top: 90vh;
        transition: all 4s;
        max-height: auto;
        img {
            width: 100%;
        }  
    }
}

