html {
    font-family: 'roboto', 'tahoma', sans-serif;
    font-size: 12px;
}

body {
    margin: 0 auto;
    width: 100%;

}

a:visited,
a:active,
a:link {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    font-size: 2.16rem;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 0.8px solid #d3d3d3;

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    .btn {
        color: #767676;
        margin: 6px;
        cursor: pointer;
        user-select: none;
        border-radius: 50px;
        height: 25px;
        width: 25px;
        padding: 10px;
        text-align: center;

        &:hover {
            background-color: #efefef;
        }

        &__search {
            display: block;
            position: relative;
            bottom: -52px;

        }

        &__back {
            position: fixed;
            top: 100px;
            left: 15px;
            color: #111111;
            font-size: 1.5rem;
        }

        &__logo {
            color: #e50124;
            line-height: 20px;
        }

        &__home {
            font-weight: 700;
            color: #ffffff;
            background-color: #111111;
            font-size: 1.5rem;
            width: auto;
            line-height: 25px;

            &:hover {
                background-color: #111111;
            }

            &__img {
                color: #000000;
                background-color: #ffffff;

                &:hover {
                    background-color: #efefef;
                }

                &:active {
                    background-color: #cccccc;
                }
            }
        }

        &__avatar {
            display: flex;

            span {
                font-size: 1rem;
                font-weight: 700;
                color: #000000;
                background-color: #efefef;
                border-radius: 50px;
                width: 50px;
                text-align: center;
                padding: 5px;
                line-height: 16px;
            }

        }

        &__chevron {
            font-size: 1.5rem;
            line-height: 28px;
        }
    }

    .search {
        width: 100%;
        position: relative;
        top: -27px;


        #input {
            width: 100%;
            box-sizing: border-box;
            height: 50px;
            border: none;
            border-radius: 50px;
            padding: 10px 50px;
            background-color: #efefef;

            &:hover {
                background-color: #d3d3d3;
            }
        }

    }
}

.main {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    column-count: 5;
    column-gap: 10px;


    .post {
        margin-bottom: 20px;
        -webkit-column-break-inside: avoid;

        .photo {
            border-radius: 20px;
            width: 100%;
            cursor: zoom-in;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 1s;

            &:hover {
                .photo__menu {
                    display: flex;
                }
            }

            &__menu {
                display: none;
                background-color: #0000005d;
                border-radius: 20px;
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;

                .buttons_top {
                    display: flex;
                    justify-content: space-between;
                    margin: 15px;
                    align-items: center;
                }

                .buttons_bottom {
                    display: flex;
                    justify-content: end;
                    margin: 15px;
                }

                .btn {
                    color: #ffffff;
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin: 5px;
                    cursor: pointer;

                    &__save {
                        background-color: #e50124;
                        border-radius: 20px;
                        padding: 10px;

                        &:hover {
                            background-color: #9b0017;
                        }
                    }

                    &__share,
                    &__more {
                        background-color: #efefef;
                        border-radius: 50%;
                        color: #111111;
                        padding: 15px;

                        &:hover {
                            background-color: #dbdbdb;
                        }
                    }
                }

            }

            &__1 {
                background-image: url('https://i.ibb.co/rFc5BHP/img1.jpg');
                height: 300px;
            }

            &__2 {
                background-image: url('https://i.ibb.co/YTpf3N5/img2.jpg');
                height: 350px;
            }

            &__3 {
                background-image: url('https://i.ibb.co/rvBkRJZ/img3.jpg');
                height: 370px;
            }

            &__4 {
                background-image: url('https://i.ibb.co/4stCx2R/img4.jpg');
                height: 350px;
            }

            &__5 {
                background-image: url('https://i.ibb.co/9wMqf1T/img5.jpg');
                height: 290px;
            }

            &__6 {
                background-image: url('https://i.ibb.co/XDKZfDm/img6.jpg');
                height: 350px;
            }

            &__7 {
                background-image: url('https://i.ibb.co/zrNvhqT/img7.jpg');
                height: 400px;
            }

            &__8 {
                background-image: url('https://i.ibb.co/RD13jkF/img8.jpg');
                height: 320px;
            }

            &__9 {
                background-image: url('https://i.ibb.co/dPtpYyZ/Chocolate-Terrine-with-Caramelized-Hazelnuts-Les-Enfants-Rouges-Food-Paris-2014.jpg');
                height: 310px;
            }

            &__10 {
                background-image: url('https://i.ibb.co/KN7m6Ph/img10.jpg');
                height: 380px;
            }

            &__11 {
                background-image: url('https://i.ibb.co/t8q6zGv/img11.jpg');
                height: 340px;
            }

            &__12 {
                background-image: url('https://i.ibb.co/KDrrb43/img12.jpg');
                height: 300px;
            }

            &__13 {
                background-image: url('https://i.ibb.co/7zWwSrg/Gluten-Free-Dessert-BLACK-FOREST-Aerated-Chocolate-Griottine-Cherries-Chocolate-Marquise-and-Mint-Ch.jpg');
                height: 350px;
            }

            &__14 {
                background-image: url('https://i.ibb.co/tXWJ771/img14.jpg');
                height: 390px;
            }

            &__15 {
                background-image: url('https://i.ibb.co/JFKvnyn/img15.jpg');
                height: 320px;
            }

            &__16 {
                background-image: url('https://i.ibb.co/QpYdLSs/img16.jpg');
                height: 300px;
            }

            &__17 {
                background-image: url('https://i.ibb.co/St1cX3T/img17.jpg');
                height: 290px;
            }

            &__18 {
                background-image: url('https://i.ibb.co/S5zqP9r/img18.jpg');
                height: 500px;
            }

            &__19 {
                background-image: url('https://i.ibb.co/DWm2mC1/img19.jpg');
                height: 400px;
            }

            &__20 {
                background-image: url('https://i.ibb.co/RpqzKGb/img20.jpg');
                height: 350px;
            }
        }

        .user {
            display: flex;
            align-items: center;
            flex-direction: row;

            &__avatar {
                width: 35px;
                height: 35px;
                border-radius: 50px;
                margin: 10px;
                background-color: #efefef;
                color: #111111;
                font-size: 1.5rem;
                text-align: center;
                line-height: 33px;

                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50px;
                }
            }

            &__name {
                font-size: 1.2rem;
            }
        }

    }
}



.card {
    margin: 30px auto;
    width: 1000px;
    min-height: 500px;
    height: 800px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0px 0px 8px #aaaaaa;

    &_img {
        width: 500px;
        background-image: url('https://i.ibb.co/t8q6zGv/img11.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;

    }

    &_menu {
        width: 500px;
        display: flex;
        margin: 10px;
        padding: 15px;
        flex-direction: column;
        justify-content: space-between;

        .top_buttons {
            display: flex;
            justify-content: space-between;
            .buttons_left {
                font-size: 2rem;
                display: flex;
                align-items: center;
            }

            .buttons_right {
                font-size: 1.2rem;
                display: flex;
                align-items: center;
            }
        }

        .btn {
            color: #111111;
            font-weight: 600;
            margin: 5px;
            cursor: pointer;

            &__save {
                background-color: #e50124;
                border-radius: 20px;
                padding: 10px;
                color: #ffffff;

                &:hover {
                    background-color: #9b0017;
                }
            }

            &__link {
                padding: 10px;
            }

            &__share,
            &__more {
                border-radius: 50%;
                padding: 10px;

                &:hover {
                    background-color: #dbdbdb;
                }
            }

            &__follow {
                background-color: #efefef;
                font-size: 1.5rem;
                border-radius: 20px;
                padding: 10px;
                &:hover{
                    background-color: #cccccc;
                }
            }
        }

        .user {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

            &__avatar {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                margin: 10px;
                background-color: #efefef;
                color: #111111;
                font-size: 1.5rem;
                text-align: center;
                line-height: 33px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                }
            }

            &__name {
                font-size: 1.5rem;
                font-weight: 700;
            }
            .buttons_left{
                display: flex;
                align-items: center;
            }
        }
        .comments{
            .add_comment{
                display: flex;
            }
            #input {
                width: 100%;
                box-sizing: border-box;
                height: 50px;
                border: none;
                border-radius: 50px;
                padding: 10px 20px;
                background-color: #efefef;
    
                &:hover {
                    background-color: #d3d3d3;
                }
            }
        }
    }
}
.more_like_this{
    text-align: center;
}
.footer_mobile {
    position: fixed;
    width: 200px;
    height: 50px;
    bottom: 20px;
    left: 50%;
    margin-left: -100px;
    border-radius: 50px;
    background-color: #efefef;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
        cursor: pointer;
        font-size: 2rem;
        color: #767676;

        &__user {
            color: #111111;
        }
    }
}

.footer_desktop {
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    animation-name: footerPopUp;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    .btn {
        font-size: 3.5rem;
        color: #111111;
        font-weight: 500;
        border-radius: 50px;
        cursor: pointer;
        background-color: #ffffff;
        height: 60px;
        width: 60px;
        text-align: center;
        margin: 10px;
        line-height: 60px;
        box-shadow: 3px -1px 10px 1px rgb(185, 185, 185)
    }
}

@keyframes footerPopUp {
    0% {
        bottom: -150px;
        opacity: 1;
    }

    90% {
        bottom: 30px;
        opacity: 1;
    }

    100% {
        bottom: 20px;
        opacity: 1;
    }
}

// red #e50124
//home button #111111
// search background #efefef
//icons #767676