
#first{
float: left;
}
#round{
    width: 80px;
    border-radius: 40px;   
}
h2{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 35px;
}
#highlights{
    width: 60px;
    border-radius: 20px;
    margin-left: 20px;
}
.upper{
    width: 500px;
    margin:auto;
}
.upper img{
    width: 100%;
    margin: auto;
}

