body {
    height: 100vh;
    overflow-y: hidden;
    position: relative;
}

.balloon {
    width: 50px;
    transition: all 2s;
    position: absolute;
    top: 110vh;

    img {
        width: 100%;
    }
}
