.box{
width: 400px;
height: 400px;
background-color: none;
animation-name:Changecolor ;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: reverse;
background-size: cover;
border-radius: 50%;
}

@keyframes Changecolor{
    from{
        background-image: url(https://cn.i.cdn.ti-platform.com/cnapac/content/2017/showpage/ben-10/sa/showicon.png);
    }
    to{
background-image: url(https://yt3.ggpht.com/ytc/AKedOLSCFaL3CZVwvWTKuPcfUmXYkf4wpQQA1eRhZYLExQ=s900-c-k-c0x00ffffff-no-rj);    }
}