* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 38, 38);
    overflow-x: hidden;
}

h1 {
    font-size: 1.5em;
    padding: 0.1em 1em 0.1em 1em;
    font-weight: 600;
}

// ----------------------------------------------------------------------------------------------------
.header {
    height: 4.8em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1.4em;
    padding-right: 1em;
    box-shadow: rgba(100, 100, 111, 0.119) 0px 7px 14px 0px;
    .logo {
        font-size: 1.8em;
        background: linear-gradient(90deg, rgb(97, 61, 193) 0%, rgba(216, 49, 91, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// ----------------------------------------------------------------------------------------------------
.upperSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.4em;
    padding: 0.2em 0;
    .sortingBtn {
        height: 3.2em;
        width: 8em;
        margin-right: 1.2em;
        background-color: rgb(255, 255, 255);
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 24px 0px;
        border: none;
        color: rgb(89, 89, 89);
        border-radius: 0.4em;
        border: 1px solid rgb(215, 215, 215);
        font-size: 1em;
    }
}

// ----------------------------------------------------------------------------------------------------
.task {
    width: 100%;
    max-height: 12.2em;
    padding: 1.5em;
    border-radius: 8px;
    border: 1px solid rgb(237, 237, 237);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.119) 0px 7px 14px 0px;
    margin-bottom: 1.3em;
    position: relative;
    .heading {
        font-size: 1.2em;
        margin-bottom: 0.8em;
        font-weight: 600;
    }
    .checkbox {
        position: absolute;
        top: 1.2em;
        left: 1em;
        width: 1.4em;
        height: 1.4em;
        padding: 2em;
    }
    input[type=checkbox] {
        accent-color: rgb(97, 61, 193);
    }
    .description,
    .setReminderDate {
        font-size: 1em;
        font-weight: 300;
        color: gray;
        margin-bottom: 0.5em;
        max-width: 25ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:nth-last-child(2) {
            margin-bottom: 0;
            color: black;
        }
    }
    .time {
        margin: 1em 0;
        background-color: #eae6f7;
        padding: 0.8em;
        border-radius: 0.3em;
        font-weight: 600;
        font-size: 1em;
        color: rgb(97, 61, 193);
        max-width: 16.2ch;
    }
    img {
        position: absolute;
        left: 16.7em;
        top: 1.3em;
        width: 1.7em;
    }
}

// ----------------------------------------------------------------------------------------------------
.app_wrapper {
    height: 100%;
    width: 100%;
    background-color: rgb(244, 244, 244);
    position: relative;
    overflow: hidden;
    .addBtn {
        width: 1.2em;
        height: 1.2em;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 24px 0px;
        border-radius: 3em;
        padding: 0.4em;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 2em;
        line-height: 1.1;
        position: absolute;
        bottom: 1.3em;
        right: 1em;
        background: linear-gradient(60deg, rgb(97, 61, 193) 0%, rgba(216, 49, 91, 1) 100%);
        cursor: pointer;
        z-index: 1;
    }
    .gradientOverlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 17%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7525603991596639) 56%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
    }
    .tasksContainer {
        height: 74%;
        max-height: 100%;
        width: 90%;
        overflow-y: scroll;
        // overflow-x: hidden;
        margin: auto;
        margin-top: 0.8em;
        padding: 1.2em;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        border-radius: 0.8em;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7525603991596639) 56%, rgba(255, 255, 255, 0) 100%);
    }
    @media (min-width: 768px) {
        .tasksContainer {
            width: 97.4%;
        }
    }
}

// ----------------------------------------------------------------------------------------------------
.addTask {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 89%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 2em;
    padding-top: 2em;
    margin-left: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px -9px 32px 0px;
    border-radius: 2.5em 2.5em 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    label {
        margin: 0.5em 0 0.5em 0.8em;
        font-size: 1em;
        font-weight: 500;
    }
    input {
        margin-bottom: 1.4em;
        height: 5.5em;
        box-sizing: border-box;
        padding: 1em;
        border-radius: 0.5em;
        border: 1px solid lightgray;
        color: gray;
    }
    .description {
        height: 12em;
    }
    .saveBtn {
        height: 5.2em;
        margin-bottom: 1em;
        border-radius: 50em;
        font-size: 1em;
        margin-top: 7.5em;
        background: rgb(97, 61, 193);
        background: linear-gradient(104deg, rgba(97, 61, 193, 1) 0%, rgba(216, 49, 91, 1) 100%);
        color: white;
        border: none;
    }
    .cancelBtn {
        // margin: 0.8em 0;
        text-align: center;
        height: 4.4em;
        margin-bottom: 0.3em;
        border-radius: 0.5em;
        border: none;
        color: rgb(0, 0, 0);
        padding: 1em;
        font-size: 1em;
        box-sizing: border-box;
        line-height: 2;
    }
}

.slide {
    transition: .5s cubic-bezier(0, 1, 0.5, 1);
    transform: translateY(100%);
}

.slide-up {
    transform: translateY(0);
}

.timer {
    font-size: 1em;
    z-index: 3;
    color: wheat;
    display: flex;
}