* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    height: 80vh;
    width: 50vw;
}

body {
    height: 100vh;
    width: 100vw;
    margin: auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    background-color: rgb(38, 38, 38);
    overflow: hidden;
}

.app_wrapper {
    height: 100%;
    width: 100%;
    background-color: rgb(244, 244, 244);
    position: relative;
    .addBtn {
        width: 1.2em;
        height: 1.2em;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 24px 0px;
        border-radius: 3em;
        padding: 0.4em;
        text-align: center;
        font-size: 2em;
        line-height: 1;
        position: absolute;
        bottom: 1.8em;
        right: 1em;
        background-color: rgb(255, 255, 255);
        // z-index: 99;
        cursor: pointer;
    }
    .header {
        height: 4.8em;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 1.4em;
        box-shadow: rgba(100, 100, 111, 0.119) 0px 7px 14px 0px;
        .logo {
            font-size: 1.6em;
            background: linear-gradient(90deg, rgb(97, 61, 193) 0%, rgba(216, 49, 91, 1) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    h1 {
        font-size: 1.5em;
        // padding-left: 1em;
        padding: 0.1em 0.9em 0.1em 0.9em;
        font-weight: 500;
    }
    .upperSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.4em;
        .allTasksBtn {
            height: 2.6em;
            width: 8em;
            margin-right: 1.5em;
            background-color: rgb(97, 61, 193);
            border: none;
            color: white;
            border-radius: 0.4em;
        }
    }
    .tasksContainer {
        height: 64%;
        max-height: 72%;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 90%;
        margin: auto;
        margin-top: 0;
        padding: 1.2em;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        border-radius: 0.8em;
        background-color: rgb(255, 255, 255);
        .task {
            width: 20em;
            max-height: 10em;
            padding: 1em 3.4em;
            border-radius: 8px;
            border: 1px solid rgb(237, 237, 237);
            background-color: rgb(255, 255, 255);
            box-sizing: border-box;
            box-shadow: rgba(100, 100, 111, 0.119) 0px 7px 14px 0px;
            margin-bottom: 0.8em;
            position: relative;
            .heading {
                font-size: 1.1em;
                margin-bottom: 0.8em;
                font-weight: 600;
            }
            .checkbox {
                position: absolute;
                top: 1.2em;
                left: 1em;
                width: 1.4em;
                height: 1.4em;
                padding: 2em;
            }
            input[type=checkbox] {
                accent-color: rgb(97, 61, 193);
            }
            .description,
            .startTime {
                font-size: 0.9em;
                font-weight: 300;
                color: gray;
                margin-bottom: 0.5em;
                max-width: 23.9ch;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                &:nth-last-child(2) {
                    margin-bottom: 0;
                    color: black;
                }
            }
            .startTime {
                background-color: #e5defa;
                padding: 0.4em;
                border-radius: 0.3em;
                font-weight: 400;
                color: rgb(60, 60, 60);
            }
            img {
                position: absolute;
                left: 17em;
                top: 1em;
                width: 1.7em;
            }
        }
    }
}

#newTask {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 89%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 2em;
    padding-top: 2em;
    margin-left: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px -9px 32px 0px;
    border-radius: 2.5em 2.5em 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    label {
        margin: 0.5em 0 0.5em 0.9em;
        font-size: 1em;
        font-weight: 500;
    }
    input {
        margin-bottom: 1em;
        height: 6em;
        box-sizing: border-box;
        padding: 1em;
        border-radius: 0.5em;
        border: 1px solid lightgray;
        color: gray;
    }
    .description {
        height: 12em;
    }
    button {
        height: 5.4em;
        margin-bottom: 1em;
        border-radius: 0.5em;
        border: 1px solid lightgray;
        font-size: 1em;
    }
}

#saveBtn {
    margin-top: 2em;
    background: rgb(97, 61, 193);
    background: linear-gradient(104deg, rgba(97, 61, 193, 1) 0%, rgba(216, 49, 91, 1) 100%);
    color: white;
    border: none;
}

#cancelBtn {
    margin: 1em 0;
    text-align: center;
}

.slide {
    transition: .5s cubic-bezier(0, 1, 0.5, 1);
    transform: translateY(100%);
}

.slide-up {
    transform: translateY(0);
<<<<<<< Updated upstream
}

// @media only screen and (max-width: 1920px) {
//     body {
//         height: 100vh;
//         width: 50vw;
//         margin: auto;
//         // display: flex;
//         // align-items: center;
//         // justify-content: center;
//         background-color: rgb(38, 38, 38);
//         overflow: hidden;
//     }
// }
=======
    // top: 100px;
}
.timer{
    font-size: 1em;
    z-index: 3;
    color: wheat;
}
>>>>>>> Stashed changes
