* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 38, 38);
    overflow: hidden;
    #newTask {
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: 812px;
        width: 375px;
        background-color: bisque;
        input {
            margin-bottom: 1em;
            height: 4em;
        }
        button {
            height: 4em;
            margin-bottom: 1em;
        }
    }
    .app_wrapper {
        height: 812px;
        width: 375px;
        background-color: rgb(255, 255, 255);
        .header {
            height: 4.4em;
            width: 100%;
            background-color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 1.4em;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            .logo {
                font-size: 24px;
                background: linear-gradient(90deg, rgb(97, 61, 193) 0%, rgba(216, 49, 91, 1) 100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .addBtn {
            width: 48px;
            height: 48px;
            box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 24px 0px;
            background-color: rgb(255, 255, 255);
            border-radius: 50px;
            padding: 12px;
            text-align: center;
            font-size: 32px;
            // position: absolute;
            // bottom: 2em;
            // right: 21em;
        }
    }
}

//     form {
//         width: 27em;
//         max-height: 45em;
//         display: flex;
//         flex-direction: column;
//         background-color: rgb(255, 255, 255);
//         padding: 44px;
//         margin: auto;
//         border-radius: 20px;
//         box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
//         margin: 25px;
//         .result {
//             margin-top: 40px;
//             background-color: whitesmoke;
//             width: 50px;
//             height: 2.5em;
//             padding: 12px;
//             border-radius: 5px;
//             text-align: center;
//             line-height: 2.4;
//             font-weight: bold;
//             color: rgb(30, 117, 171);
//             font-size: 20px;
//         }
//         .img {
//             width: 9em;
//             position: relative;
//             margin-bottom: 1em;
//             img {
//                 width: 100%;
//             }
//         }
//         .heading {
//             text-align: center;
//             margin-bottom: 48px;
//             margin-top: 0;
//             font-size: 38px;
//             background: linear-gradient(90deg, rgb(97, 61, 193) 0%, rgba(216, 49, 91, 1) 100%);
//             -webkit-background-clip: text;
//             background-clip: text;
//             -webkit-text-fill-color: transparent;
//         }
//         .login,
//         .reset {
//             text-align: center;
//             margin-top: 48px;
//             color: #613dc1;
//             text-decoration: none;
//             font-size: 15px;
//             span {
//                 text-decoration: underline;
//             }
//         }
//         input {
//             height: 2.5em;
//             margin-bottom: 1em;
//             padding: 8px 24px;
//             border-radius: 0.6em;
//             border: 1px solid lightgray;
//             font-size: 15px;
//             &:nth-last-child(3) {
//                 margin-bottom: 2em;
//             }
//         }
//         input:focus {
//             border-color: #613dc1;
//             outline: none;
//         }
//         input::-webkit-outer-spin-button,
//         input::-webkit-inner-spin-button {
//             -webkit-appearance: none;
//             margin: 0;
//         }
//         button {
//             height: 4em;
//             border-radius: 10em;
//             border: none;
//             background: rgb(97, 61, 193);
//             background: linear-gradient(104deg, rgba(97, 61, 193, 1) 0%, rgba(216, 49, 91, 1) 100%);
//             color: white;
//             padding: 8px 24px;
//             font-size: 15px;
//             font-weight: normal;
//             box-shadow: 0px 8px 20px rgba(216, 49, 91, 0.1);
//             transition: all 0.3s ease 0s;
//             cursor: pointer;
//             outline: none;
//             &:hover {
//                 background-color: #2EE59D;
//                 box-shadow: 0px 15px 32px rgba(216, 49, 91, 0.2);
//                 color: #fff;
//                 transform: translateY(-4px);
//             }
//         }
//     }
// }