* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 38, 38);
    overflow: hidden;
}

.app_wrapper {
    height: 812px;
    width: 375px;
    background-color: rgb(244, 244, 244);
    position: relative;
    .addBtn {
        width: 1.2em;
        height: 1.2em;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 24px 0px;
        border-radius: 50px;
        padding: 0.4em;
        text-align: center;
        font-size: 32px;
        line-height: 1;
        position: absolute;
        bottom: 1.4em;
        right: 1em;
        background-color: rgb(255, 255, 255);
        z-index: 99;
    }
    .header {
        height: 4.4em;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 1.4em;
        box-shadow: rgba(100, 100, 111, 0.119) 0px 7px 14px 0px;
        .logo {
            font-size: 24px;
            background: linear-gradient(90deg, rgb(97, 61, 193) 0%, rgba(216, 49, 91, 1) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .tasksContainer {
        height: 75%;
        width: 90%;
        margin: auto;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 1.4em;
        .task {
            width: 21em;
            max-height: 10em;
            padding: 1em;
            border-radius: 8px;
            border: 1px solid lightgray;
            background-color: rgb(255, 255, 255);
            box-sizing: border-box;
            margin: 0.4em;
            position: relative;
            .heading {
                font-size: 1.2em;
                margin-bottom: 0.8em;
                font-weight: 600;
            }
            .description,
            .startTime {
                font-size: 0.9em;
                color: gray;
                margin-bottom: 0.4em;
                &:nth-last-child(2) {
                    margin-bottom: 0;
                    color: black;
                }
            }
            .description {
                max-width: 28ch;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            img {
                position: absolute;
                left: 18.5em;
                top: 2.5em;
            }
        }
    }
}

#newTask {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 375px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 1em;
    padding-top: 2em;
    margin-left: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px -9px 32px 0px;
    border-radius: 30px 30px 0 0;
    position: absolute;
    // right: 0;
    left: 20em;
    bottom: 0;
    z-index: 1;
    label {
        margin: 0.5em 0 0.5em 0.9em;
        font-size: 1em;
        font-weight: 500;
    }
    input {
        margin-bottom: 1em;
        height: 6em;
        box-sizing: border-box;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid lightgray;
    }
    button {
        height: 7em;
        margin-bottom: 1em;
        border-radius: 8px;
        border: 1px solid lightgray;
        font-size: 1em;
    }
    #saveBtn {
        margin-top: 2em;
        background: rgb(97, 61, 193);
        background: linear-gradient(104deg, rgba(97, 61, 193, 1) 0%, rgba(216, 49, 91, 1) 100%);
        color: white;
        border: none;
    }
    #cancelBtn {
        margin: 1em 0;
        text-align: center;
    }
}