body{
    margin:auto;
    h1 {
        position: relative;
        color:blue;
        font-style: intalic;
        text-align: center;
        font-size: 10ch;

    }

    h2{
        color:magenta;
        font-size: 7ch;
        text-align: center;
    }
    .someElement {
        p {
            color:black;
            font-size:5ch;
            font-weight: 900;
            text-align: center;

        }
        img {
            width: 15rem;
            height: 20rem;
            position: absolute;
            margin-left:46%
        }
    }
}