.card{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.205);
    border-radius: 7px;
    padding: 20px;
    max-width: 400px;
    background-color: rgb(235, 235, 235);
    h2{
        color: rgb(12, 12, 182);
    }
}

img{
    max-width: 200px;
}