.wrapper{
    margin: auto;
    padding-bottom: 2mm;
    width: 400px;
    border: 1px solid gray;

}
.wrapper img{
    width: 100%;
}
.wrapper p:nth-child(odd){
    background-color: aqua;
}
.lotem{
    
}
.link{
    border: 1px solid gray;
    text-align: center;
    height: 50px;
    
}
.link a{
    color: rgba(255, 255, 0, 0.986);
}